/* generale */
*{
	font-family: 'Montserrat', sans-serif; 
	outline:0px;
}
.btn-primary{
	transition: all 0.5s ease 0s;
}
.btn-primary:hover{
	background: $hoverprimario;
	border: 1px solid $primario;
}
.scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.icon-bar {
    display: block;
    width: 48px;
    height: 6px;
    border-radius: 1px;
    background: #fff;
    margin-bottom: 8px;
}

.btn-default {
    color: #fb7b61;
    background-color: #fff;
    border:2px solid #fb7b61;
    padding:20px; 
    font-size:18px;
    text-transform: uppercase;
}
.modal-header {
    padding: 15px;
    border-bottom: 0px solid #e5e5e5;
}
.close {
    float: right;
    font-size: 25px;
    font-weight: 400;
    line-height: 1;
    color: $primario;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=10);
    opacity: 1;
}
.autocomplete-suggestions{
    padding-top: 20px;
}
.autocomplete-suggestion{
    padding: 10px 10px;
    font-size: 19px;

    strong{
        color: $primario;
    }
}
.autocomplete-suggestion:hover{
    background: #eaeaea;
}