/*menu lateral*/
#padre-side{
	padding-left: 0px;
}
.menu-lateral { 
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.menu-lateral.toggled {
    height: 420px!important;
}
#menu-toggle{
	position: absolute;
	right: 20px;
	top: 20px;
	width: 50px;
	height: 50px; 
	display: none;
}

/* menu principal */
.menu-lateral{
	background: #272727;
	padding-top: 30px;
	height: 900px;
	margin-right: -30px;
	position: relative;
	z-index: 999;
	overflow:hidden;

	#logo{
		 @include fondo( url(../img/logo.png) left top no-repeat );
		 height: 61px;
		 width: 306px;
		 margin: 0px auto 30px auto;
	}

	ul{
		list-style: none;
		padding: 0px 0 0 80px;
		margin: 0px;

		li{
			padding: 10px 0px;
			position: relative;

			a{
				font-size: 16px;
				color: #fff;
				text-transform: uppercase;
			}
			a:hover{
				text-decoration:none;
				font-weight:bold;
			}
		}
		li.lines{
			padding: 15px 0px;
    		margin: 5px 0px;
		}
		li.lines:before{
			content: " ";
			position: absolute;
			width: 30px;
			height: 3px;
			background: #fff;
			top: 0px;
			left: 0px;
		}
		li.lines:after{
			content: " ";
			position: absolute;
			width: 30px;
			height: 3px;
			background: #fff;
			bottom: 0px;
			left: 0px;
		}
	}

	.box-suscribete:after{
			content: " ";
			position: absolute;
			width: 30px;
			height: 3px;
			background: #fff;
			bottom: 0px;
			left: 0px;
		}
	.box-suscribete{
		margin-left: 80px;
		padding: 20px 0px;
		position: relative; 

		p{
			font-size: 18px;
			color: #9f9f9f;
			line-height: 120%;

			strong{
				text-transform: uppercase;
				color: #fff;
				display: block;
			}
		}

		input.text{
			border: 2px solid $primario;
			height: 51px;
			background: none;
			width: 170px;
			vertical-align: top;
			padding-left: 10px;
			color: #fff;
		}
		.agregar{
			    width: 53px;
			    height: 51px;
			    color: #fff;
			    background: #ef4726;
			    display: block;
			    font-size: 21px;
			    text-align: center;
			    padding-top: 10px;
			    display: inline-block;
		}
	}

	.box-buscador{
		margin-left: 80px;
		padding: 20px 0px;

		.box{
			border: 2px solid #fff;
			width: 236px;
			position: relative;
		}

		.text-buscar{
			border: 2px solid #272727;
			height: 51px;
			background: #fff;
			padding: 0 10px;
			width: 179px;
			vertical-align: top;
		}
		.btn-buscar{
			    width: 53px;
			    height: 51px;
			    color: #fff; 
			    border-right: 2px solid #fff;
			    display: block;
			    font-size: 21px;
			    text-align: center;
			    padding-top: 10px;
			    display: inline-block;
			    float: left;
		}
		.text-buscar:focus{
			background: #fff;
			border: 2px solid #272727;
		}
		.option{
			position: absolute;
		    left: 53px;
		    top: 53px;
		    background: #fff;
		    width: 181px;
		    padding: 10px 20px;
		    display: none;

			label{
				display: block;
				font-size: 14px;
				color: #717171;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 100;

				input{
					margin-right: 5px;
				}
			}
		}
	}

	.box-redes{
		margin-left: 80px;
		padding: 20px 0px;

		a{
			background: #717171;
		    color: #272727;
		    display: inline-block;
		    width: 34px;
		    height: 34px;
		    text-align: center;
		    font-size: 20px;
		    padding-top: 4px;
		    @include border-radius(50%);
		    margin-right: 5px;
		}
	}
}