 .menu-lateral #logo {
        width: 176px;
        background-size: 100%;
        height: 37px;
    }
    .menu-lateral ul {
        padding: 0px 0 0 60px;
    }
    .menu-lateral ul li a {
        font-size: 14px;
        color: #fff;
    }
    .menu-lateral ul li {
        padding: 7px 0px;
        position: relative;
    }
    .menu-lateral .box-suscribete, .menu-lateral .box-buscador, .menu-lateral .box-redes {
        margin-left: 25px;
    }
    .menu-lateral .box-suscribete p {
        font-size: 16px; 
    }
    .menu-lateral .box-suscribete input.text {
        width: 120px;
    }
    .section-1 .row {   
    } 
    .section-1 h1 { 
        font-size: 46px; 
    }
    .section-1 h1 {
        padding-top: 0px; 
        width: 570px;
    }
    .section-1 a {
        padding: 15px 20px;
        font-size: 15px;
        text-transform: uppercase;
    }
    .section-2 .linea-tiempo .item-3 {
        margin-top: -67px;
    }
    .section-2 .linea-tiempo h3, .section-2 .linea-tiempo p {
        font-size: 14px;
    } 
    .linea-tiempo .item-1 p, .section-2 .linea-tiempo .item-4 p {
        font-size: 14px; 
    }
    .section-2 .linea-tiempo .item-1:after, .section-2 .linea-tiempo .item-3:after {
    margin-right: 0px;
    right: -38px;
    height: 150%;
}
.section-2 .linea-tiempo .item-1 h3:before, .section-2 .linea-tiempo .item-3 h3:before {
    margin-right: -44px;
}
     .section-2 .linea-tiempo .item-1:before, .section-2 .linea-tiempo .item-3:before {
    margin-right: -44px;
    top: 90%;
}
    .section-3 h2 {
        text-align: center;
        font-size: 20px;
        color: #393939;
        margin: 30px 0px;
    }
    .section-3 .box h3 {
        font-size: 20px;
    }
    .section-3 .box span {
        font-size: 14px;
    }
    .section-3 .box span strong { 
        font-size: 14px;
    }
    .section-3 .box img, .section-4 .box-noticia img {
        max-width: 140%;
    }
    .section-4 .box-noticia {
        background: #333333;
        padding: 20px;
    }
    .section-4 .box-noticia img {
        max-width: 123%;
        margin-left: -20px;
        margin-right: -20px;
        margin-top: -20px;
        margin-bottom: 20px;
    }
    .section-4 .box-noticia h3 {
        font-size: 15px;
        padding-bottom: 10px;
    }
    .section-4 .box-noticia span{
        font-size: 14px;
    }
    .section-4 .box-noticia p {
        font-size: 15px;
    }
    .section-5 h2 {
        text-align: center;
        font-size: 26px;
        }
    .section-5 h3 { 
        font-size: 26px;
      }
    .section-5 p { 
        font-size: 16px;
      }
    .section-5 form .text { 
        height: 47px;
      }
    .section-5 form .btn-enviar { 
        height: 47px;  
        font-size: 15px;
      }
      .section-4 h2, .section-6 h2 { 
        font-size: 20px; 
        margin: 30px 0px;
    }
    .section-6 .box-publicaciones {
        padding: 20px 10px;
    }
    .section-6 h3 {
        font-size: 12px;
        line-height: 190%;
    }
    .section-6 .box-publicaciones { 
        height: 210px;
    }
    .section-6 .single {
        height: 450px;
    }
    .section-7 .mapa {
        background: #ef4726 url(../img/bg_mapa.png) 40px top no-repeat;
        height: 488px;
        background-size: auto 97%;
    }
    .section-7 .left .txt {
        padding: 20px 20px 0px 20px;
        color: #fff;
        height: 332px;
    }
    .section-7 .left .txt h3 ,.section-7 .left .txt p { 
        font-size: 14px;
      }
    .section-7 .left .txt div strong, .section-7 .left .txt div span{
      font-size: 14px;
    }
    .section-8 .calendario .row a, .section-8 .calendario .row div {
            font-size: 18px;
        height: 63px;
        padding-top: 20px;
    }
    .section-8 .calendario .row .btn-selecciona {
        font-size: 14px;
        height: 63px;
        padding-top: 22px;
    }
    .section-8 .item-evento .txt {
        padding: 10px 20px 0px 20px;
        position: relative;
    }
    .section-8 .item-evento .txt small, .section-8 .item-evento .txt span, .section-8 .item-evento .txt p {
        font-size: 14px;
    }
    .section-8 .item-evento .txt h3 {
        font-size: 16px;
        }
    .section-9 .row .box.normal img, .section-9 .row .box.single img { 
        width: 50px;
    }
    .section-9 .row .box.normal {
        padding-left: 140px;
    }
    .section-9 .row .box h3 {
        font-size: 16px;
    }
    .section-9 .row .box {
        background: #fff;
        padding: 20px;
        height: 190px;
        }
    .section-9 .row .normal:before{
      left: 115px;
    }
    .section-9 .row .box a{
      font-size: 10px;
        background-size: 15px;
        padding-right: 18px;
    }
    .section-9 .row .box.single h3{
      font-size: 17px;
      margin-top: 30px;
        padding-top: 40px;
    }
    .section-9 .row .box.single {
        height: 411px;
        text-align: center;
        position: relative;
        padding-top: 70px;
    }
    .section-11 .row h3 {
        font-size: 15px;
        color: #717171;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .section-11 img{
      max-width: 100%;
    }
    .section-11 .row p {
        font-size: 13px;
        color: #bdbdbd;
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 120%;
        font-weight: 100;
        padding: 40px 0px 0px 0px;
    }
    .section-7 .mapa .mapa_california {
         left: 42px; 
         width: 121px;
      }
      .section-7 .mapa .mapa_santiago {
          left: 169px;
            top: 76%;
      }
      .section-7 .mapa .mapa_talca {
          left: 204px;
    top: 81%;
      }
      .section-7 .mapa .mapa_temuco {
          left: 180px;
    top: 86%;
      }
      .section-7 .left {
        background: #333333;
        padding: 0px;
        height: 488px;
    }


     /* error */
      .section_error {
          text-align: center;
          padding: 60px 70px;
      }

      .section_busqueda h1 , .section_busqueda .box-section h2{ 
      font-size: 18px;
    }
    .section_busqueda .numeros_resultados p, .section_busqueda .box-section .item h3{
      font-size: 16px;
    }
    .section_busqueda .box-section .item p{
      font-size: 14px;
    }
    .section_agenda .sections-8 .calendario .row a, .section_agenda .sections-8 .calendario .row div {
      color: #c5c4c3;
      font-size: 21px;
      background: #f4f4f4;
      text-align: center;
      height: 69px;
      padding-top: 20px;
  }
  .section_agenda .sections-8 .calendario .row .btn-selecciona {
      font-size: 14px;
      height: 69px;
  }

  .section_nosotros .top h1 {
    padding: 0 20px 0;
}
.section_nosotros .mision, .section_nosotros .vision { 
    padding: 30px 30px;
}
.section_nosotros .subtop {
    padding-top: 45px;
    padding-bottom: 30px;
}
.section_nosotros .subtop p {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    line-height: 150%;
    padding: 0 50px;
}
.section_nosotros .row-equipo .col-md-4 {
    width: 244px;
    padding: 0 5px;
}
.section_nosotros .row-equipo .col-md-4 .item {
    height: 219px;
}
.section_nosotros .row-equipo .col-md-4 .item .info h4 {
    font-size: 14px;
    }

    .section_nosotros .row-equipo .col-md-4 .item .info h5 {
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 130%;
}
.section_nosotros .row-equipo .col-md-4 .item .info p {
    font-size: 15px;
    }

    .section_nosotros .row-buscar-equipo .buscador a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #272727;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    line-height: 110%;
    padding-top: 24px;
    padding-right: 0px;
}
.section_nosotros .row-buscar-equipo .buscador .directorio, 
.section_nosotros .row-buscar-equipo .buscador .palabra { 
    height: 89px;
}
.section_nosotros .row-buscar-equipo .buscador .directorio .icono { 
    margin: 7px 19px 0 0px;
}
.section_nosotros .row-buscar-equipo .buscador .items {
    padding: 20px 0px 20px 34px;
}
.section_nosotros .row-buscar-equipo #box-directorio ul li a { 
    font-size: 18px; 
}
.section_nosotros .row-buscar-equipo #box-directorio ul li a span { 
    font-size: 16px;
    }
.section_nosotros .row-buscar-equipo #box-directorio ul li strong {
    position: absolute;
    left: -20px;
    top: 5px;
    font-weight: 400;
    color: #7d7d7d;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}
.section_nosotros .row-buscar-equipo .buscador .items {
    padding: 20px 0px 20px 0px;
}
.autocomplete-suggestion {
    padding: 8px 10px;
    font-size: 16px;
}
.section_noticias .section-4 .no-photo .box-noticia h3 {
    font-size: 28px;
    }

    .section_noticias .section-4 .box-destacada img {
        width: 100%;
    margin: 0px 10px 10px 0;
}
.section_noticias .section-4 .box-noticia.box-destacada h3 {
    font-size: 16px;
    }
.section_noticias .section-4 .box-noticia p {
    font-size: 16px;

    }
.section_noticias .section-4 .box-noticia.box-destacada p {
    font-size: 15px;
}

    .section_noticias .section-4 .box-noticia {
    padding: 0px;
    padding-bottom: 30px;
    }
    .section_noticias .section-4 .box-noticia span { 
    padding: 10px 0 0 20px;
    display: block;
}
.section_noticias .section-4 .box-noticia h3, .section_noticias .section-4 .box-noticia p,
.section_noticias .section-4.box-prensa .box-noticia small{
    padding-left:20px;
    padding-right:20px;
}
.section_actualidad .filter-options {
    padding: 0 20px 50px 20px;
}
.section_actualidad .filter-options a { 
    font-size: 12px;
    }
     .section_actualidad .section-3 .box-destacado h3 {
    font-size: 28px;
    color: #ef4726;
}
.section_actualidad .section-3 .box-destacado p {
    font-size: 15px;
    }


    .single_columna .nombre {
    font-size: 12px;
    letter-spacing: 1px;
}
.section-9 .row .box.normal h3 {
    color: #545454;
    font-size: 18px;
    }

.section-2 .linea-tiempo {
    padding-left: 0px;
    padding-right: 60px;
}
.section-2 .btn-mas {
    position: absolute;
    left: 50%;
    bottom: 2px;
    display: block;
    width: 55px;
    height: 55px;
    border: 2px solid #fff;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    font-size: 17px;
    padding-top: 10px;
    line-height: 120%;
    margin-left: -24px;
    display: block;
    z-index: 222;
}
.section_agenda .sections-8 .item-evento .txt { 
    height: 158px;
}
.section_nosotros .mision h2,
.section_nosotros .vision h2 { 
    padding: 30px 0px 0px 0px;
}
.section_nosotros .mision p,
.section_nosotros .vision p { 
    padding: 0px 0px 0 0px;
}