.container{
    width: 100%;
  }
  .menu-lateral {
    margin-left: -15px;
  }
  .menu-lateral #logo { 
      width: 236px; 
      background-size: 100%;
      height: 51px;
  }
  .menu-lateral ul { 
    padding: 0px 0 0 50px;
  } 
  .menu-lateral .box-suscribete, .menu-lateral .box-buscador, .menu-lateral .box-redes {
    margin-left: 50px;
  } 
  .menu-lateral .box-suscribete input.text{width: 130px;}
  .menu-lateral .box-buscador .box{width: 180px;}
  .menu-lateral .box-buscador .text-buscar{width: 123px;}

  .section-1 .row {  
      background-size: 100%;
  }
  .section-1 h1 {
    padding-top: 0px;
    font-size: 64px;
    width: 570px;
  }
  .section-2 .top img {
      margin: 40px 0px 20px 0px;
  }
  .section-2 .top h2 {
    font-size: 17px;
  } 
  .section-2 .linea-tiempo .item-1:after, .section-2 .linea-tiempo .item-3:after{
        margin-right: 0px;
        right: -90px;
        height: 150%;
  }
  .section-2 .linea-tiempo .item-2:after, .section-2 .linea-tiempo .item-4:after{
    margin-left:0px;
    left: -104px;
    display: none;
  }
  .section-2 .linea-tiempo .item-1:before, .section-2 .linea-tiempo .item-3:before{
    margin-right: -41px;
    top: 90%;
  }
  .section-2 .linea-tiempo .item-2:before, .section-2 .linea-tiempo .item-4:before{
    margin-left: -107px;
    display: none;
  }
  .section-2 .linea-tiempo .item-1 h3:before, .section-2 .linea-tiempo .item-3 h3:before{
    margin-right: -115px;
  }
  .section-2 .linea-tiempo .item {
    padding: 20px;
  }
  .section-2 .linea-tiempo h3, .section-2 .linea-tiempo p {
    font-size: 17px;
  } 
  .section-3 .box img,.section-4 .box-noticia img { 
    max-width: 133%;
  }
  .section-3 .box h3 {
    font-size: 29px;
  }
  .section-5 h2 { 
    margin: 60px 0 0 0px;
  }
  .section-5 h3 { 
    margin: 0px 0 40px 0px;
  }
  .section-6 .box-publicaciones {
    padding: 30px 20px;
  }
  .section-6 h3 {
    font-size: 16px;
  }
  .section-7 .left .txt {
      padding: 30px 30px 92px 30px;
      color: #fff;
  }
  .section-8 .calendario .row a, .section-8 .calendario .row div{
    font-size: 26px;
    height: 78px;
  }
  .section-8 .calendario .row .btn-selecciona {
    font-size: 17px;
  }
  .section-9 .row .box {
      background: #fff;
      padding: 40px;
      margin-bottom: 30px;
      height: 240px;
      position: relative;
  }
  .section-9 .row .box a.vermas {
      position: absolute;
      right: 10px;
      bottom: 10px;
      color: #545454;
      font-size: 15px;
      text-transform: uppercase;
      background: url(../img/icn_leermas.png) right top no-repeat;
      padding-right: 30px;
      letter-spacing: 1px; 
  }
  .section-9 .row .box h3 {
    font-size: 20px;
  }
  .section-9 .row .box.normal {
      padding-left: 190px;
  }
  .section-7 .mapa {
    background: #ef4726 url(../img/bg_mapa.png) 50px top no-repeat; 
}
  .section-7 .mapa .mapa_california {
      left: 46px; 
  }
  .section-7 .mapa .mapa_santiago {
      left: 237px; 
  }
  .section-7 .mapa .mapa_talca {
      left: 269px; 
  }
  .section-7 .mapa .mapa_temuco {
      left: 248px; 
  }
  .section-9 .row .box.single {
    height: 511px;
  }

.section_noticias .section-4 .box-destacada{
  padding-bottom: 0px;
  padding-top: 20px;
}
.section_noticias .section-4 .box-destacada img {
    float: left;
    margin: -30px;
    margin-right: 35px;
    margin-bottom: 0px;
    margin-top: -20px;
    width: 50%
}

  /* error */
  .section_error {
      text-align: center;
      padding: 60px 140px;
  }
   .section_busqueda {
        text-align: center;
        padding: 60px 100px;
    }

    .section_agenda .sections-8 .rows{
      margin: 0 -15px;
    }
    .section_agenda .sections-8 .calendario .row .btn-selecciona {
    font-size: 17px;
  }

  .section_nosotros{
    margin: 0 -15px;
  }
  .section_nosotros .top h1 { 
    padding: 0 180px 0;
  }
  .section_nosotros .row-equipo .col-md-4 {
    width: 294px;
  }
  .section_nosotros .row-equipo .col-md-4 .item { 
    height: 248px;
  }
  .section_nosotros .row-equipo .col-md-4 .item .info p { 
    padding: 0 0px; 
}
.section_nosotros .row-buscar-equipo .buscador .items {
    padding: 30px 30px 30px 50px;
}
.section_nosotros .row-buscar-equipo .buscador a { 
    font-size: 19px;
    }
.section_nosotros .row-buscar-equipo #box-directorio ul li a { 
    font-size: 25px;
    }
    .section_actualidad .filter-options {
    padding: 0 50px 50px 50px;
}
.section_actualidad .filter-options a { 
    font-size: 14px;
    }
    .section_actualidad .section-3 .box-destacado h3 {
    font-size: 35px;
    color: #ef4726;
}
.section-3 .box span {
    font-size: 17px;}
    .section_actualidad .section-3 .box-destacado span {
    padding-top: 20px;
}
.single_columna .nombre img{
  
}
.single_columna .nombre {
    font-size: 14px;
    }
.single_columna .nombre strong { 
    font-size: 14px;
}
.single_columna .nombre { 
    padding: 20px;
    }
.single_columna .nombre p {
    font-size: 15px;
  }
.single_columna .nombre img {
     
}
.single_columna .nombre img {
    border: 4px solid #dddcdc;
    margin-right: 10px;
    }
  .single_columna .nombre {
    padding: 10px;
}

.section-2 .linea-tiempo { 
    padding-left: 10px;
    padding-right: 80px; 
}
.section-2 .linea-tiempo .item-1:after, .section-2 .linea-tiempo .item-3:after {
    margin-right: 0px;
    right: -36px;
    height: 270%;
}
.section-2 .linea-tiempo .item-1 h3:before, .section-2 .linea-tiempo .item-3 h3:before {
    margin-right: -41px;
}
.section-9 .row .box.normal h3 { 
    font-size: 17px; 
}
.section_contacto .row-cont .right #inputasunto {
    width: 38%;
    margin-top: 9px;
}
