.section-1 .txt{
    width: 100%;
  }
      .section-1 .txt {
        position: absolute;
        top: 42%;
        left: 0px;
    }

        .menu-lateral{
          display: block;
          position: absolute!important;
          left: 0px;
          top: 0px;
          width: 100%!important;
          margin: 0px;
          height: 75px!important;
          overflow: hidden;
        }
          .menu-lateral #logo {
                width: 216px;
          background-size: 100%;
          height: 44px;
          margin: -16px 0 8px 25px;
        }
        #menu-toggle{
          display: block;
        }

        .section-1 .row {  
          background: none;
          padding-left: 0px;
          text-align: center;
        }
        .section-1 p{
          display: none;
        }
        .section-2 .top h2 {
          font-size: 17px;
          padding-bottom: 40px;
        }
        .section-1 h1 {
          padding-top: 0px;
          font-size: 39px;
          width: 100%;
          padding: 30px;
          text-align: center;
      }
      .section-1 a{ margin: 0px; }
        .section-3 .box{
          padding: 0px;
          padding-bottom: 10px;
          padding-top: 10px;
        }
        .section-3 .box span,.section-3 .box h3{ padding: 0 20px 0 20px; }
        .section-3 .box-entrevista  {
          padding-top: 0px;
        }
        .section-3 .box-entrevista img,
        .section-4 .box-noticia img {
          width: 100%;
          margin: 0px;
          margin-bottom: 20px;
      }
      .section-3 .scroll, .section-4 .scroll{
        height: auto;
      }
      .section-4 .box-noticia{
        padding-bottom: 30px;
      }
      .section-4 .box-noticia .ver-mas{
        bottom: 13px;
      }
      .section-6 .single {
          height: auto;
      }
      .section-6 .single h3 {
          padding: 0 20px;
          margin-top: 30px;
          padding-top: 35px;
          font-size: 14px;
      }
      .section-9 .row .box a {
          font-size: 12px;
          background-size: 15px;
          padding-right: 18px;
      }
      .section-9 .row .box.single {
          height: auto;
          text-align: center;
          position: relative;
          padding-top: 30px;
          padding-bottom: 40px;
      }
      .section-10 { 
          margin: 0px;
          padding: 10px 0px;
      }
      .section-10 .row div {
          padding: 10px 20px 10px 20px;
      }
      .section-11 .text-left, .section-11 .text-right{
        text-align: center;
      }
      .section-11 .row img{
        margin-bottom: 25px;
      }
      .section-11 .row p {
          font-size: 14px;
          color: #bdbdbd;
          font-family: 'Source Sans Pro', sans-serif;
          line-height: 120%;
          font-weight: 100;
          padding: 0px 0px 0px 0px;
      }
      .section-11 br {
          display: block;
      }
      .section-11 .row h3 {
          font-size: 20px;
          margin: 30px 0;
          }
          .icn_scroll{
            display: none;
          }
         
         .section-2 .top h2 { 
          width: 90%;
          }
          .section-2 .btn-mas, .section-6 .btn-mas{  
      position: absolute;
          left: 50%;
          bottom: 2px;
          display: block;
          width: 50px;
          height: 48px;
          border: 2px solid #ef4726;
          text-align: center;
          text-transform: uppercase;
          color: #ef4726;
          letter-spacing: 2px;
          font-size: 13px;
          padding-top: 6px;
          line-height: 120%;
          margin-left: -25px;
          display: block;
          z-index: 222;
            }

            .section-3 .box-columna img{
              margin-bottom: 20px;
            }

      /*error*/
            .section_error {
          text-align: center;
          padding: 60px 70px;
          margin-top: 73px;
      }
      .section_error a { 
          margin-top: 20px;
      }
      .section_busqueda {
      text-align: center;
      padding: 60px 20px;
  }

  .section{
      margin-top: 74px;
  }
  .section_linea .linea-tiempos .item, .section_linea .linea-tiempos .item:nth-child(even){
    padding: 0px;
  }
  .section_linea .linea-tiempos .item-1:before, .section_linea .linea-tiempos .item-3:before,
  .section_linea .linea-tiempos .item-1:after, .section_linea .linea-tiempos .item-3:after,
  .section_linea .linea-tiempos .item-2:before, .section_linea .linea-tiempos .item-4:before,
  .section_linea .linea-tiempos .item-2:after{
    display: none;
  }
  .section_linea .linea-tiempos .item.first:nth-child(even),
  .section_linea .linea-tiempos .item:nth-child(odd){
    margin-top: 0px!important;
  }
  .section_linea .linea-tiempos .item { 
    margin-bottom: 20px;
  }
  .section_agenda .sections-8 .calendario .row a, .section_agenda .sections-8 .calendario .row div {
    color: #c5c4c3;
    font-size: 15px;
    background: #f4f4f4;
    text-align: center;
    height: 49px;
    padding-top: 13px;
}
.section_agenda .sections-8 .calendario .row .btn-selecciona{
  height: 49px;
  padding-top: 14px;
}

#modal-inscripcion .modal-body {
    padding: 15px 15px 10px 10px;
}
#modal-inscripcion h2 {
    margin-top: -30px;
    font-size: 17px;
    line-height: 120%;
    padding-bottom: 20px;
}
#modal-inscripcion label {
    display: block;
    color: #fb7b61;
    font-size: 15px;
    }
    #modal-inscripcion .text {
    border: 0px;
    border-bottom: 1px solid #545454;
    width: 100%;
    height: 25px;
    font-size: 18px;
}
#modal-inscripcion textarea {
    border: 0px;
    border-bottom: 1px solid #545454;
    width: 100%;
    height: 55px;
}
#modal-inscripcion a {
    padding: 10px 30px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}
#modal-exito p {
    font-size: 15px;
    letter-spacing: 2px;
    color: #272727;
}
#modal-exito i {
    font-size: 27px;
    color: #ef4726;
    border: 3px solid #ef4726;
    display: inline-block;
    width: 55px;
    height: 55px;
    font-weight: 400;
    padding-top: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }

  #modal-exito .col-xs-8{
    padding-left: 0px;
}
#modal-exito .modal-body {
    padding-bottom: 30px;
}

.section_agenda .sections-8 .item-evento .txt .share {
    width: 185px;
    height: 25px;
    background: #272727;
    position: static;
}
.section-7 .left .txt {
    padding: 20px 20px 0px 20px;
    color: #fff;
    height: auto;
}

.section-7 .left img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
.section-7 .left {
    background: #333333;
    padding: 0px;
    height: auto;
}
.section_nosotros .row-buscar-equipo .buscador .items {
    padding: 110px 0px 20px 0px;
    width: 100%;
}
.section_nosotros .row-buscar-equipo .buscador .directorio, .section_nosotros .row-buscar-equipo .buscador .palabra {
    height: 89px;
    z-index: 99;
    position: relative;
}
.single h1 { 
    padding: 60px 0px 20px 0px;
    }

    .section_noticias .section-4 .box-destacada img {
    width: 100%;
    float:none;
    margin: 0px 0px 0 0;
}
.section_noticias .section-4 .box-noticia img { 
    margin: 0px;
}
.section_noticias .section-4 .box-noticia, .section_noticias .section-4.box-prensa .box-noticia{ 
    min-height: auto;
    padding-bottom: 20px
}
.section_noticias .btn_fixed{
  display: block ;
}
.section_actualidad .section-3 .box-destacado img {
    float: none;
    margin: 0px;
    margin-right: 0px;
    width: 100%;
    height: auto;
}
.section_actualidad .section-3 .box-destacado p{
  padding:0 20px;
}
.shuffle-item{
  width:100%;
}
.single_entrevista h1,
.single_columna h1 {
    font-size: 37px;
    }
.section_publicaciones .filter-options a {
    display: inline-block;
    width: 250px;
    height: 60px;
    vertical-align: middle;
    padding: 14px 10px 18px 75px;
    text-align: left;
    line-height: 130%;
    margin-bottom: 10px;
}
.section_publicaciones .filtros span.txt{
  display:block;
}
.section_publicaciones .filtros {
    text-align: center;
    position: relative;
    padding: 25px 0px;  
}
 
.section_publicaciones .box-publicaciones {
    padding: 20px;
    background: #ffe7e2;
    margin-bottom: 30px;
    height: auto;
    text-align: center;
    position: relative;
}
.section_publicaciones .box-publicaciones .detalle {
    position: static;
    width: 100%;
    left: 0px;
    bottom: 30px;
    padding-top: 20px;
}
.section_publicaciones .box-publicaciones .descarga a {
    font-size: 15px;
  }
  .section_publicaciones .filter-options #btn_cuaderno {
    background: url(../img/icn_publicaciones.png) 15px 10px no-repeat;
    background-size: 36px;
}
.section_publicaciones .filter-options #btn_cuaderno:hover, .section_publicaciones .filter-options #btn_cuaderno.active {
    background: #333 url(../img/icn_publicaciones.png) 15px -29px no-repeat;
    background-size: 36px;
}
.section_publicaciones .filter-options #btn_estudios:hover, .section_publicaciones .filter-options #btn_estudios.active {
    background: #333 url(../img/icn_publicaciones.png) 15px -104px no-repeat;
    background-size: 36px;
     
}
.section_publicaciones .filter-options #btn_estudios {
    background: url(../img/icn_publicaciones.png) 15px -69px no-repeat;
    padding-top: 20px;
    background-size: 36px;
}
.section_publicaciones .filter-options #btn_informe {
    background: url(../img/icn_publicaciones.png) 15px -136px no-repeat;
    background-size: 36px;
    padding-top: 20px;
}
.section_publicaciones .filter-options #btn_informe:hover, .section_publicaciones .filter-options #btn_informe.active {
    background: #333 url(../img/icn_publicaciones.png) 15px -164px no-repeat;
    background-size: 36px;
}

.section_linea .linea-tiempos:before {
  display:none;
}
.section_contacto .section-7 .left {
   padding-bottom:20px;
}
.section_agenda .sections-8 .item-evento .txt {
    height: auto;
}
.section_agenda .sections-8 .item-evento img {
    width: 100%;
    height: auto;
}
.section_nosotros .top {
    margin-top: 0px;
    z-index: 1;
    height: auto;
    position: relative;
    background: none;
    top: -54px;
    margin-bottom: -54px;
}
.section_nosotros .mision, .section_nosotros .vision {
    padding: 0px 30px 20px 30px;
}
.section_nosotros .mision h2,
.section_nosotros .vision h2 { 
    padding: 30px 0px 0px 0px;
}
.section_nosotros .mision p,
.section_nosotros .vision p { 
    padding: 0px 0px 0 0px;
}

.section_nosotros .row-equipo .col-md-4 {
    width: 100%; 
    padding: 0 5px;
}
.section_nosotros .row-equipo .col-md-4 .item {
    height: auto;
}
.section_nosotros .row-equipo .col-md-4 .item img {
    width: 100%;
}
.carousel-inner img{
    width:100%;
}
.carousel{
  
}
#box-jefes-lineas{
  
}
.seccion{
  padding:0 15px 20px 15px;
}
.seccion h3{
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 20px;
}
.section_nosotros .row-equipo hr{
  display: none;
}