/* variables */

$primario: #ef4726;
$hoverprimario: #982812;
$naranjo:#fb7b61;

/* mixin */
@mixin fondo($imagen) {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background: $imagen;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@import 'generales'; 
@import 'menu'; 



.section-1{ 
	
	.row{
		/*background: url(../img/home.jpg) left top no-repeat; */
		  
		position: relative;
	}
	.fondo{
		margin-left: -1px;
		max-width: 100%;
		
	}

	.icn_scroll{
		position: absolute;
		left: 50%;
		bottom: 40px;
		margin-left: -20px;
	}
	.txt{
		position: absolute;
		top: 22%;
		left: 0px;
	}

	h1{
		margin: 0px; 
		padding-top: 0px;
		font-size: 75px;
		color: #fff;
		width: 710px;
		padding-bottom: 25px;
		padding-left: 130px;
		font-weight: bold;
    	text-transform: uppercase;
	}

	p{
		font-size: 22px;
		font-family: 'Source Sans Pro', sans-serif;
		color: #fff;
		width: 600px;
		line-height: 130%;
		padding-bottom: 20px; 
    	font-weight: 400;
    	padding-left: 130px;
	}
	a{
		padding: 26px 30px;
		font-size: 18px;
		margin-left: 130px;
		text-transform: uppercase;
	}
}

.section-2{  
	position: relative;

	.btn-mas{
    		position: absolute;
    		left: 50%;
    		bottom: 2px;
    		display: block;
    		width: 60px;
    		height: 60px;
    		border:2px solid #fff;
    		text-align: center;
    		text-transform: uppercase;
    		color: #fff;
    		letter-spacing: 2px;
    		font-size: 17px;
    		padding-top: 10px;
    		line-height: 120%;
    		margin-left: -30px;
    		display: block;
    		z-index: 222;
    	}

	.top{
		text-align: center;

		img{
			margin: 58px 0px 41px 0px;
		}
		
		h2{
			font-size: 22px;
			color: #333333;
			width: 60%;
			line-height: 164%;
			text-align: center;
			display: inline-block;
			text-transform: uppercase;
		} 
	}

	.scroller:before{
		content: "";
		position: absolute;
		left: 50%;
		top: -25px;
		width: 13px;
		height: 13px; 
		border: 1px solid #d4d4d4;
		margin-left: -6px;
		background: #d4d4d4;
		@include border-radius(50%);
	}
	.linea-tiempo{
		background: url(../img/bg_linea_tiempo.jpg) left 130px no-repeat;
		padding-top: 74px;
		padding-left: 64px;
		padding-right: 140px;
		height: 580px; 
    	overflow: hidden; 
    	position: relative; 

		.item{
			padding: 30px;
			background: #fff;
			margin-bottom: 60px;
			position: relative;
		}

		h3{
			margin: 0px;

			a{
				display: block;
				font-size: 18px;
				color: $primario;
				line-height: 120%;
				padding-bottom: 20px;
				text-transform: uppercase;
				margin: 0px;
				position: relative;
			}
		}

		p{
			font-size: 18px;
			color: #333;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 100px;
		}

		.item-1, .item-4{
			background: $primario;

			h3{ 
				a{
					color: #fff; } 
			}

			p{
				font-size: 18px;
				color: #fff;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 100px;
			}
		}
		.item-2{
			margin-top: 140px;
		}
		.item-3{
			margin-top: -160px;
		}
		.item-4{ 
		}

		.item-1:before,.item-3:before{
			content: "";
			position: absolute; 
			right: 0px;
			top: 100%;
			width: 13px;
			height: 13px; 
			border: 1px solid #d4d4d4;
			margin-right: -49px;
			background: #d4d4d4;
			@include border-radius(50%);
		} 
		.item-1 h3:before,.item-3 h3:before{
			content: "";
			position: absolute;
			right: 0px;
			top: 150%;
			width: 13px;
			height: 13px; 
			border: 1px solid #d4d4d4;
			margin-right: -79px;
			background: #d4d4d4;
			@include border-radius(50%);
		} 
		.item-1:after, .item-3:after{
			content: "";
			position: absolute;
			right: 0px;
			top: -20px;
			margin-right: -44px;
			width: 2px;
			height: 150%;
			background: #d4d4d4;
		} 
	}
}

.section-3{

	.row{
		background: #f6f6f6;
		
	}
	.scroll{
		width: 100%;
		height: 800px;
		overflow: hidden; 
		display: block;
	}
	

	h2{
		text-align: center;
		font-size: 24px;
		color: #393939;
		margin: 40px 0px;
		letter-spacing: 5px;
		text-transform: uppercase;
	}
	.box {
		background: #fff;
		padding: 30px;
		margin-bottom: 30px;
		overflow: hidden;

		img{ 
			margin-left: -30px;
			margin-right: -30px;
			margin-top: -30px;
			margin-bottom: 30px;
		}

		span{
			font-size: 18px;
			color: $primario;
			text-transform: uppercase;
			line-height: 150%;
			display: block;
			font-weight: 100;
			letter-spacing: 3px;

			strong{
				display: block;
				color: #272727;
				font-size: 21px;

			}
		}
		h3{
			font-size: 33px;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 600;

			a{
				color: #333;
				font-weight: 600;
				font-family: 'Source Sans Pro', sans-serif;
			}
		}
	}
	.box-columna{
		text-align: center;

		img{
			border: 8px solid #dddcdc;
			@include border-radius(50%);
			margin: 0 auto 30px auto;
			display: block;
		}
	}
	.box-infografia{

		text-align: center;

		img{
			margin-top: 10px;
		}

	}
}

.section-4{

	.row{
		background: #272727; 
	}
	.scroll{
		width: 100%;
		height: 800px;
		overflow: hidden; 
		display: block;
	}

	h2{
		text-align: center;
		font-size: 24px;
		color: #fff;
		margin: 40px 0px;
		letter-spacing: 5px;
		text-transform: uppercase;
	}

	.box-noticia {
		background: #333333;
		padding: 30px;
		margin-bottom: 30px;
		color: #fff;
		overflow: hidden;
		position: relative;

		img{ 
			margin-left: -30px;
			margin-right: -30px;
			margin-top: -30px;
			margin-bottom: 30px;
		}

		span{
			color: #7f7f7f;
			font-size: 16px;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 100;
		}
		h3{
			font-size: 18px;  
			line-height: 130%;
			margin: 0px;
			padding-bottom: 24px;
			padding-top: 4px;
			text-transform: uppercase;
			letter-spacing: 2px;

			a{
				color: #fff;
			}
		}
		p{
			font-size: 18px;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 100;
			line-height: 135%;
		}
		.share{
			width: 80%;
			height: 25px;
			background: #272727;
			margin-top: 20px;
		}
		.ver-mas{
			 @include fondo( url(../img/icn_leermas.png) left top no-repeat );
			 width: 20px;
			 height: 20px;
			 position: absolute;
			 right: 35px;
			 bottom: 33px;
		}
	}
}

.section-5{ 

	padding-bottom: 100px;

	h2{
		text-align: center;
		font-size: 36px;
		color: #242424;
		margin: 86px 0 0 0px;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	h3{
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 36px;
		color: $primario;
		margin: 0px 0 60px 0px;
		height: 39px;
		display: block;
	}
	p{
		text-align: center;
		font-size: 18px;
		font-family: 'Source Sans Pro', sans-serif;
		padding: 0 80px;
	}
	form{
		width: 390px;
		margin: 0 auto;
		margin-top: 45px; 

		.text{
			border: 2px solid #000;
			height: 67px;
			background: none;
			width: 225px;
			vertical-align: top;  
			float: left;
		}
		.btn-enviar{
			    width: 163px;
			    height: 67px;
			    color: #fff; 
			    background: #000;
			    border: 0px;
			    display: block;
			    font-size: 18px;
			    text-align: center;
			    padding-top: 0px;
			    display: inline-block;
			    font-family: 'Source Sans Pro', sans-serif;
			     
		}
		.text-buscar:focus{
			background: #fff;
			border: 2px solid #272727;
		}
		 
	}

}

.section-6{

	position: relative;

	.btn-mas{
    		position: absolute;
    		left: 50%;
    		bottom: 2px;
    		display: block;
    		width: 60px;
    		height: 60px;
    		border:2px solid $primario;
    		text-align: center;
    		text-transform: uppercase;
    		color: $primario;
    		letter-spacing: 2px;
    		font-size: 17px;
    		padding-top: 10px;
    		line-height: 120%;
    		margin-left: -30px;
    		display: block;
    		z-index: 222;
    	}

	.row{
		background: #ffede9; 
		text-align: center;
	}
	h2{
		text-align: center;
		font-size: 24px;
		color: $primario;
		margin: 30px 0px;
		text-transform: uppercase;
		letter-spacing: 5px;
	} 
	h3{
		font-size: 18px;
		line-height: 30px;
		color: #333333;
		position: relative;
		text-transform: uppercase;

		a{
			color: #333;
		}
	}
	.box-publicaciones{
		padding: 30px;
		background: #fff;
		margin-bottom: 30px;
		height: 240px;
	}
	.single{
		height: 510px;

		img{
			margin-top: 10px;
		}

		h3{
			padding: 0 20px;
			margin-top: 30px;
			padding-top: 45px;

		}
		h3:before{
			content: " ";
			position: absolute;
			width: 60px;
			height: 1px;
			background: #000;
			top: 0px;
			left: 50%;
			margin-left: -30px;
		}
	}
}

.section-7{

	.left{
		background: #333333;
		padding: 0px;
		height: 599px;

		img{
			max-width: 100%;
		}

		.txt{
			padding: 45px 40px;
			color: #fff;

			h3{
				margin: 0px;
				font-size: 18px;
				padding-bottom: 14px;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
			p{
				font-size: 18px;
				font-family: 'Source Sans Pro', sans-serif;
				line-height: 130%;
				font-weight: 100;
				padding-bottom: 10px;
				letter-spacing: 1px;
			}
			div{
				padding-bottom: 3px;

				strong{
					color: $primario;
					display: block;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 600;
					font-size: 16px;
					letter-spacing: 1px;
				}
				span{
					font-size: 18px;
					font-family: 'Source Sans Pro', sans-serif;
					line-height: 100%;
					font-weight: 100;
					letter-spacing: 1px;
				}
			}
		}
	}
	.mapa{
		background:#ef4726 url(../img/bg_mapa.png) center top no-repeat;
		height: 599px;
		position: relative;

		.btn_mapa{
			position: absolute;
			display: block;
			background: url(../img/indicador-mapa-small.gif) right top no-repeat;
		}

		.mapa_california{ 
		    left: 16%;
		    top: 33%; 
		    width: 148px;
		    height: 39px; 
		}
		.mapa_santiago{ 
		    left: 43%;
		    top: 77%; 
		    width: 124px;
		    height: 23px; 
		}
		.mapa_talca{ 
		    left: 48%;
		    top: 82%; 
		    width: 91px;
		    height: 23px; 
		}
		.mapa_temuco{ 
		    left: 45%;
		    top: 86%; 
		    width: 115px;
		    height: 23px; 
		}
		.btn_mapa.active{
			background: url(../img/indicador-mapa-big.gif) right top no-repeat;
			min-height: 25px;
		}
	}
}

.section-8{
	.calendario{

		.row{
			a, div{
				color: #c5c4c3;
				font-size: 30px;
				background: #f4f4f4; 
				text-align: center; 
				height: 80px;
				padding-top: 20px; 
			}
			a:hover{
				text-decoration: none;
			}
			.dos{
				color: #fff; 
				background: #d7d7d7; 
			}
			.tres{
				color: #fff; 
				background: #a8a8a8; 
			}
			a.activo{
				background: $primario;
				color: #fff;
				transition: all 0.3s ease 0s;
			} 
			a.activo:hover{
				background: $hoverprimario;
				border: 0px solid $primario;
			}

			.btn-selecciona{
				font-size: 21px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 100;
				background:#3c3c3c ;
				color: #fff;
				padding-top: 25px;
				height: 80px;
				text-align: center;
			}
		}
	}

	.item-evento{
		padding: 0px;

		img{
			width: 100%;
		}
		.txt{
			padding: 20px 40px 0px 40px;
			position: relative;

			span{
				font-size: 18px; 
				font-weight: 100;
				letter-spacing: 3px;
				color: #333;
				display: block;
				text-transform: uppercase;
			}
			small{
				font-size: 18px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 100;
				letter-spacing: 3px;
				color: $primario; 
				text-transform: capitalize;
				text-transform: uppercase;
			}
			h3{
				font-size: 22px;
				color: $primario;
				text-transform: uppercase;
				letter-spacing: 2px;
				margin-top: 10px;

				a{
					color:$primario;
				}
			}
			p{
				font-size: 17px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 400;
				line-height: 130%;
				letter-spacing: 1px;
			}
			a.ver_mas{
				 @include fondo( url(../img/icn_leermas.png) left top no-repeat );
				 width: 20px;
				 height: 20px;
				 position: absolute;
				 right: 30px;
				 bottom: -10px;
			}
			.share{
				width: 245px;
				height: 25px;
				background: #272727; 
				position: absolute;
				right: 30px;
				top: 25px;
			}
		}
	}
}

.section-9{


	.row{
		background: $primario;
		padding: 37px 20px 0 20px;
		overflow: hidden;

		.box{
			background: #fff;
			padding: 40px;
			margin-bottom: 30px;
			height: 260px;
			position: relative;

			a.vermas{
				position: absolute;
				right: 30px;
				bottom: 20px;
				color: #545454;
				font-size: 18px;
				text-transform: uppercase;
				background: url(../img/icn_leermas.png) right top no-repeat;
				padding-right: 30px;
				letter-spacing: 1px;
			}
		}
		.box.single{
			height: 550px;
			text-align: center;
			position: relative;
			padding-top: 70px;

			h3{
				padding: 0 20px;
				margin-top: 60px;
				padding-top: 50px;
				position: relative;
				font-size: 24px;
				color: #545454;
				line-height: 140%;
				letter-spacing: 1px;
				text-transform: uppercase;

				a{
					color: #545454;
				}

			}
			h3:before{
				content: " ";
				position: absolute;
				width: 60px;
				height: 2px;
				background: #000;
				top: 0px;
				left: 50%;
				margin-left: -30px;
			}
		}
		.box.normal{
			padding-left: 200px;

			h3{
				color: #545454;
				font-size: 24px;
				line-height: 140%;
				letter-spacing: 1px;

				a{
					color: #545454;
				}
			}

			 img{
			 	position: absolute;
			 	left:40px;
			 	top:50%;
			 	margin-top: -30px;
			 }
			 
		}
		.normal:before{
				content: " ";
				position: absolute;
				width: 2px;
				height: 100px;
				background: #545454;
				top: 50%;
				left: 150px;
				margin-top: -50px;
			}
	}
}

.section-10{
	margin-top: 0px;
	margin-left: -3px;

	img{
		width: 100%;
	}
	.row{

		div{
			padding: 0 3px 3px 0px;
		}
	}
}

.section-11{
	margin-top: -4px;
	z-index: 2;
	position: relative;

	br{
		display: none;
	}

	.row{
		background: #333333;
		text-align: center;

		h3{
			font-size: 24px;
			color: #717171;
			letter-spacing: 2px;
			text-transform: uppercase;
			margin-bottom: 40px;
			letter-spacing: 5px;
		}
		p{
			font-size: 16px;
			color: #bdbdbd;
			font-family: 'Source Sans Pro', sans-serif;
			line-height: 120%;
			font-weight: 100;
			padding: 40px 30px 10px 30px;

			a{
				color: #bdbdbd;
			}
			a:hover{
				text-decoration: none;
			}
		}
	}
}

.section_error{
	text-align: center;
	padding: 60px 260px;

	h1{
		color: #333333;
		font-size: 24px;
		padding: 40px 0px;
		letter-spacing: 3px;
		text-transform: uppercase;
	}
	p{
		padding-bottom: 30px;
		font-size: 18px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		margin: 0px;
		text-align: left;
		line-height: 150%;
	}
	a{
		padding: 20px 25px;
		font-size: 18px;
		font-family: 'Source Sans Pro', sans-serif;
		margin-top: 50px;
		border-radius: 0px;
		letter-spacing: 1px;
	}
	i{
		padding-right: 20px;
	}
}

.section_busqueda{
	text-align: center;
	padding: 60px 160px;

	h1{
		color: #333333;
		font-size: 24px;
		padding: 40px 0px 30px 0px;
		letter-spacing: 3px;
		text-transform: uppercase;
	}
	p{
		padding-bottom: 30px;
		font-size: 18px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 100;
		margin: 0px;
		text-align: left;
	} 

	.box-buscador{
		margin-left: 80px;
		padding: 20px 0px;

		.boxs{
			border: 2px solid #fff;
		    width: 266px;
		    position: relative;
		    margin: 0 auto;
		} 

		.text-buscar{
			border: 2px solid #272727;
			height: 51px;
			background: #fff;
			padding: 0 10px;
			width: 179px;
			vertical-align: top;
			float: left;
		}
		.btn-buscar{
		    width: 53px;
		    height: 51px;
		    color: #272727; 
		    border: 2px solid #272727;
		    border-left: 0px solid #272727;
		    display: block;
		    font-size: 21px;
		    text-align: center;
		    padding-top: 10px;
		    display: inline-block;
			float: left;
		}
		.text-buscar:focus{
			background: #fff;
			border: 2px solid #272727;
		}
		.option{
			 padding-top: 10px;

			label{
				display: inline-block;
				font-size: 14px;
				color: #717171;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 100;
				padding-right: 20px;

				input{
					margin-right: 5px;
				}
			}
		}
	}

	.numeros_resultados{
		padding-top: 10px;

		p{
			text-align: center;
			font-size: 21px;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 400;
		}
	}

	.box-section{
		padding-bottom: 40px;
		text-align: left;

		h2{
			font-size: 24px;
			letter-spacing: 3px;
			color: $primario;
			text-transform: uppercase;
		}
		.item{
			border: 2px solid #272727;
			margin-top: 20px;
			padding: 10px; 
			position: relative;

			img{
				float: left;
				margin-right: 20px;
			}
			h3{
				padding: 0px;
				margin: 0px;
				font-size: 24px;
				text-transform: uppercase;
				letter-spacing: 3px;
				padding-bottom: 10px;
				line-height: 120%;
				padding-top: 5px;

				a{
					color: #333;
				}
			}
			p{
				padding: 0px;
				line-height: 120%;
				margin: 0px;
				font-size: 18px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 400;
			}
			.ver-mas{
				 @include fondo( url(../img/icn_leermas.png) left top no-repeat );
				 width: 20px;
				 height: 20px;
				 position: absolute;
				 right: 15px;
				 bottom: 15px;
			}
		}
	}
}

.nav-left::before,
.nav-right::before{
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
	content: " ";
	z-index: 1;
	width: 100%;
	height: 80px;
	background: rgba(255,255,255,0.78);
background: -moz-linear-gradient(top, rgba(255,255,255,0.78) 0%, rgba(255,255,255,0.41) 47%, rgba(237,237,237,0) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.78)), color-stop(47%, rgba(255,255,255,0.41)), color-stop(100%, rgba(237,237,237,0)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0.78) 0%, rgba(255,255,255,0.41) 47%, rgba(237,237,237,0) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0.78) 0%, rgba(255,255,255,0.41) 47%, rgba(237,237,237,0) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0.78) 0%, rgba(255,255,255,0.41) 47%, rgba(237,237,237,0) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0.78) 0%, rgba(255,255,255,0.41) 47%, rgba(237,237,237,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );

}
.nav-left{
		padding-top: 28px;
		position: relative;
		z-index: 2;


		a{
			color: #333;
			font-size: 17px;
			text-transform: uppercase;
			letter-spacing: 3px;
			position: relative;
			z-index: 3;

			i{
				color: $naranjo;
				font-size: 26px;
			}
		}
		a:hover{
			text-decoration: none;
			font-weight: bold;
		}
	}
	.nav-right{
		padding-top: 28px;
		text-align: right;
		position: relative;
		z-index: 2;


		a{
			color: #333;
			font-size: 17px;
			text-transform: uppercase;
			letter-spacing: 3px;
			position: relative;
			z-index: 3;

			i{
				color: $naranjo;
				font-size: 26px;
			}
		}
		a:hover{
			text-decoration: none;
			font-weight: bold;
		}
	}

.section_linea{
	background: #efefef url(../img/bg_lineatiempo_seccion.jpg) -1px top no-repeat; 

	h1{
		color: #fff;
		font-size: 24px;
		padding: 30px 0px 20px 0px;
		letter-spacing: 5px; 
		text-transform: uppercase;
		text-align: center;
	}
	.top{
		text-align: center;

		img{
			padding-top: 40px;
		}
	}

	.linea-tiempos:before{ 
		content: "";
		position: absolute;
		left: 50%;
	    top: 11px;
    	margin-left: -4px;
		width: 16px;
		height: 16px; 
		border: 1px solid #555555; 
		background: #555555;
		@include border-radius(50%);
	}
	.linea-tiempos{ 
		padding: 0 30px;
		padding-top: 40px; 
    	position: relative; 
    	overflow: hidden;

    	.item.first{
    		margin-top: 0px!important;
    	}


		.item{
			padding: 0 50px 0 0; 
			margin-bottom: 60px;
			position: relative;

			.subitem{
				padding: 30px;
				background: #fff;
			}
		}

		.ver-mas{
			 color: $primario;
			 font-size: 20px;
			 width: 20px;
			 height: 20px;
			 position: absolute;
			 right: 15px;
			 bottom: 15px;
		}

		.item:nth-child(odd) { 
				margin-top: -159px; 

				.ver-mas{
					 color: #fff;
					 font-size: 20px;
					 width: 20px;
					 height: 20px;
					 position: absolute;
					 right: 60px;
					 bottom: 15px;
				}
			}
		.item:nth-child(even) { padding: 0px 0 0 50px; margin-top: 0px; }

		.item.first:nth-child(even){
    		margin-top: 138px!important;
    	}

		h3{
			font-size: 18px;
			color: $primario;
			line-height: 140%;
			padding-bottom: 20px;
			text-transform: uppercase;
			margin: 0px;
			letter-spacing: 3px; 

			a{
				color: $primario;
			}
		}

		p{
			font-size: 18px;
			color: #333;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 400!important;
			letter-spacing: 1px; 
		}

		.item-1, .item-4{
			background: $primario!important;

			h3{ 
				color: #fff; 
				a{
					color: #fff;
				}
			}

			p{
				font-size: 18px;
				color: #fff;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 100px;
			}
		}
		.item-2{
			margin-top: 0px;
		}
		.item-3{
			margin-top: -160px;
		}
		.item-4{ 
		}

		.item-1:before,.item-3:before{
			content: "";
			position: absolute;
			right: -12px;
			top: 56%;
			width: 16px;
			height: 16px; 
			border: 1px solid #555555; 
			background: #555555;
			@include border-radius(50%);
		}
		.item-2:before,.item-4:before{
			content: "";
			position: absolute;
			left: -4px;
			top: 68%;
			width: 16px;
			height: 16px; 
			border: 1px solid #555555; 
			background: #555555;
			@include border-radius(50%);
		}
		.item-1:after, .item-3:after{
			content: "";
			position: absolute;
			right: -5px;
			top: -20px; 
			width: 2px;
			height: 490%;
			background: #555555;
		}
		.item-2:after{
			content: "";
			position: absolute;
			left: 3px;
			top: 0px; 
			width: 2px;
			height: 400%;
			background: #555555;
		}
		 
	}

	/* interior */
	.padre_principal{
		padding: 30px 30px 15px 30px;
	}
	.principal{
		background: #fff;
		padding: 60px;
		padding-bottom: 20px;
		-webkit-column-count: 1!important;
	    -moz-column-count: 1!important;
	    column-count: 1!important; 

		h2{
			color: $primario;
			font-size: 18px;
			letter-spacing: 3px;
			font-family: 'Source Sans Pro', sans-serif;
		}

		img{
			margin-bottom: 40px;
			max-width: 100%;
		}


		p, li{
			font-size: 18px;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 400;
			line-height: 165%;
			padding-bottom: 40px;
			letter-spacing: 1px;
		}
		ul{
			padding-left: 20px;
		}
		
	}

	

	.secundario{
		background: #fff;
		padding: 60px;
		padding-bottom: 10px;
		margin-top: 30px;

		h3{
			color: #272727;
			font-size: 18px;
			letter-spacing: 3px;
			font-family: 'Source Sans Pro', sans-serif;
			margin: 0px;
			font-weight: bold;
			text-transform: uppercase;
			padding-bottom: 30px;
		}
		h4{
			color: $primario;
			font-size: 18px;
			letter-spacing: 3px;
			font-family: 'Source Sans Pro', sans-serif;
			padding: 0px;
			margin: 0px;
			padding-bottom: 5px;
			font-weight: bold;
			text-transform: uppercase;
		}
		span{
			color: #272727;
			font-size: 18px;
			font-weight: 600;
			display: block;
			font-family: 'Source Sans Pro', sans-serif;
		}
		p{
			color: #272727;
			font-size: 18px;
			font-weight: 400;
			display: block;
			font-family: 'Source Sans Pro', sans-serif;
			font-style: italic;
			line-height: 160%;
		}
		.col-md-4{
			padding-bottom: 50px;
		}
	}
}
.onecolumn.principal{ 
		-webkit-column-count: 1!important;
	    -moz-column-count: 1!important;
	    column-count: 1!important; 
	}
	
.section_agenda{ 
	margin: 0px;
	
	.btn-default{
		padding: 14px 20px;
	}
	.caret { 
	    border-top: 8px dashed;
	    border-top: 4px solid \9;
	    border-right: 8px solid transparent;
	    border-left: 8px solid transparent;
	}
	select.btn-group .dropdown-toggle .caret { 
	    margin-top: -4px; 
	}
	.bootstrap-select{

		.anios{
			width: 140px;
		}
	}

	h1{
		color: #333333;
		font-size: 24px;
		padding: 10px 0px 30px 0px;
		letter-spacing: 5px;
		text-align: center;
		text-transform: uppercase;
	}
	.top{
		text-align: center;
		padding-bottom: 60px;

		img{
			padding-top: 40px;
		}

		.bootstrap-select{
			margin-right: 20px;
		}
	}

	.sections-8{
			.calendario{

				.row{
					a, div{
						color: #c5c4c3;
						font-size: 30px;
						background: #f4f4f4; 
						text-align: center; 
						height: 80px;
						padding-top: 20px; 
					}
					a:hover{
						text-decoration: none;
					}
					.dos{
						color: #fff; 
						background: #d7d7d7; 
					}
					.tres{
						color: #fff; 
						background: #a8a8a8; 
					}
					a.activo{
						background: $primario;
						color: #fff;
						transition: all 0.3s ease 0s;
					} 
					a.activo:hover{
						background: $hoverprimario;
						border: 0px solid $primario;
					}

					.btn-selecciona{
						font-size: 21px;
						font-family: 'Source Sans Pro', sans-serif;
						font-weight: 100;
						background:#3c3c3c ;
						color: #fff;
						padding-top: 25px;
						height: 80px;
						text-align: center;
					}
				}
			}

			.item-evento{
				padding: 0px;
				background: #3c3c3c;
				margin-left: -1px;
				overflow: hidden;

				img{
				    width: auto;
    				height: 256px;
				}
				.txt{
					padding: 20px 40px 10px 40px;
					position: relative;
					height: 224px;

					span{
						font-size: 18px; 
						font-weight: 100;
						letter-spacing: 5px;
						color: #fff;
						display: block;
						text-transform: uppercase;
					}
					small{
						font-size: 18px;
						font-family: 'Source Sans Pro', sans-serif;
						font-weight: 100;
						letter-spacing: 2px;
						padding-top: 10px;
						padding-bottom: 30px;
						display: block;
						color: #fff; 
						text-transform: capitalize;
					}
					h3{
						font-size: 22px;
						color: $primario;
						text-transform: uppercase;
						letter-spacing: 5px;
						padding-bottom: 20px;
						margin-top: 8px;
					}
					p{
						font-size: 17px;
						font-family: 'Source Sans Pro', sans-serif;
						font-weight: 300;
						line-height: 150%;
						color: #d4d4d4;
						letter-spacing: 1px;
					}
					/*a{
						 @include fondo( url(../img/icn_leermas.png) left top no-repeat );
						 width: 20px;
						 height: 20px;
						 position: absolute;
						 right: 30px;
						 bottom: -10px;
					}*/
					.share{
						width: 245px;
						height: 25px;
						background: #272727; 
						position: static; 
					}
					.btn-primary{
						padding: 23px 30px;
						font-size: 18px;
						text-transform: uppercase;
						margin-bottom: 50px;
						margin-top: 20px;
						border-radius: 0px;
						letter-spacing: 4px;
					}

					.nav{
						position: absolute;
						right: 30px;
						 bottom: 0px;

						a{
							color: #fff;
							font-size: 20px;
							margin-left: 20px;
						}
					}
				}
			}

		}


}

#modal-bienvenido{
	 
	p{
		font-size: 18px;
		letter-spacing: 0px;
		color: #272727;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 400;
		padding-bottom: 20px;
		padding-right: 50px;
	}
	.modal-body{
		padding:0 50px 40px 70px;
	}
	h1{
		margin: 0px;
		font-size: 24px;
		color: $primario;
		letter-spacing: 2px;
		line-height: 140%;
		padding-bottom: 15px;

		strong{
			display: block;
		}
	}
	input[type="radio"] {
	    opacity: 0;
	    z-index: 2;
    	position: relative;
	}
	label::before {
	    content: "";
	    display: inline-block;
	    position: absolute;
	    width: 17px;
	    height: 17px;
	    left: 0;
	    margin-left: -15px;
	    border: 1px solid $primario;
	    border-radius: 50%;
	    background-color: #fff;
	    -webkit-transition: border 0.15s ease-in-out;
	    -o-transition: border 0.15s ease-in-out;
	    transition: border 0.15s ease-in-out;
	        margin-top: 5px;
	}
	label::after {
	    display: inline-block;
	    position: absolute;
	    content: " ";
	    width: 15px;
	    height: 15px;
	    left: 3px;
	    top: 6px;
	    margin-left: -17px;
	    border-radius: 50%;
	    background-color: $primario;
	    -webkit-transform: scale(0, 0);
	    -ms-transform: scale(0, 0);
	    -o-transform: scale(0, 0);
	    transform: scale(0, 0);
	    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	}
	 input[type="radio"]:checked + label::after {
	    -webkit-transform: scale(1, 1);
	    -ms-transform: scale(1, 1);
	    -o-transform: scale(1, 1);
	    transform: scale(1, 1);
	}
	label{
		color: $primario;
		font-size: 18px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 100;
		padding-left: 30px;
		padding-bottom: 26px;
		position: relative;
	}
	a{
		padding: 20px 25px;
		font-size: 16px; 
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 400;
		display: inline-block;
		margin-top: 20px;
		border-radius: 0px;
	}

}

#modal-exito{
	i{
		font-size: 40px;
		color: $primario;
		border: 3px solid $primario;
		display: inline-block;
		width: 65px;
		height: 65px;
		font-weight: 400;
		padding-top: 10px;
		@include border-radius(50%);
	}
	p{
		font-size: 24px;
		letter-spacing: 2px;
		color: #272727;
	}
	.modal-body{
		padding-bottom: 50px;
	}
}

#modal-inscripcion{

	h2{
		margin-top: -30px;
		font-size: 24px;
		line-height: 120%;
		padding-bottom: 20px;
		letter-spacing: 3px;
	}
	label{
		display: block;
		color: #fb7b61;
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	a{
		padding: 20px 30px;
		font-size: 18px; 
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 400;
		border-radius: 0px;
	}
	.text{
		border: 0px;
		border-bottom: 1px solid #545454;
		width: 100%;
		height: 33px;
		font-size: 18px;
	}
	textarea{
		border: 0px;
		border-bottom: 1px solid #545454;
		width: 100%;
		height: 85px; 
	}
	.modal-body{
		padding: 15px 45px 30px 45px;

		div{
			position: relative;
			margin-bottom: 25px;
		}
		.error{
			padding-top: 0px;
			display: block;
			color: $primario;
			display: none;
			position: absolute;
			top: 2px;
			right: 10px;
		}
	}
}

.section_contacto{
	background: #efefef url(../img/bg_contacto.jpg) -1px top no-repeat; 

	.nav-left {
	    padding-left: 30px;
	}

	h1{
		color: #fff;
		font-size: 24px;
		padding: 30px 0px 20px 0px;
		letter-spacing: 3px;
		text-align: center;
		text-transform: uppercase;
	}
	.top{
		text-align: center;
		height: 293px;

		img{
			padding-top: 40px;
		}
	}

	.row-cont{

		padding: 50px 40px;

		.left{
			h2{
				font-size: 18px;
				letter-spacing: 2px;
				padding-bottom: 40px;
				margin: 0px;
				text-transform: uppercase;
			}
			p{
				font-size: 18px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 400;
				line-height: 150%;
			}
		}

		.right{
			padding-top: 40px;

			label{
				display: block;
				color: #fb7b61;
				font-size: 18px;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
			a{
				padding: 20px 30px;
				font-size: 18px; 
				text-transform: uppercase;
				letter-spacing: 2px;
				font-weight: 400;
				border-radius: 0px;
			}
			.text{
				border: 0px;
				border-bottom: 1px solid #545454;
				width: 100%;
				height: 33px;
				font-size: 18px;
				background: none;
			}
			textarea{
				border: 0px;
				border-bottom: 1px solid #545454;
				width: 100%;
				height: 85px; 
				background: none;
			}
			div{

				margin-bottom: 25px;
				position: relative;
			}
			.error{
				padding-top: 3px;
			    display: block;
			    color: $primario;
			    display: none;
			    right: 0px;
			    top: 2px;
			    position: absolute;
			    font-size: 12px;
			}

			.bootstrap-select {
			    float: right;
			    margin-top: -27px;
			} 
			#inputasunto {
			    width: 370px;
			    margin-top: 9px;
			}
			.btn-default {
			    color: #333333;
			    background-color: #fff;
			    border: 2px solid #333333;
			    padding: 20px;
			    font-size: 18px;
			    text-transform: uppercase;
			}
		}

	}

	 
}


.section_nosotros{
	background: #efefef; 
	margin: 0px;

	.inner { 
        margin: 0 -15px; 
    }

	 .carousel-control{
	 	z-index: 999;
	 }

	.top{
	    margin-top: -54px;
    	z-index: 1;
		height: auto;
		position: relative;

		h1{
			font-size: 36px;
			color: #fff;
			letter-spacing: 2px;
			padding: 0 200px 0 200px;
			display: block;
			position: absolute;
			left: 0px;
			bottom: 40px;
			width: 100%;
		}

		img{ 
    		max-width: 100%;
		}
	}

	.mision{
		background: #272727;
		

		h2{
			color: #fff;
			font-size: 24px;
			letter-spacing: 2px;
			margin: 0px;
			margin-bottom: 20px;
			text-transform: uppercase;
			padding: 50px 70px 0 70px;
		}
		p{
			color: #fff;
			font-size: 18px;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 100;
			line-height: 150%;
			padding: 0px 70px 0 70px;
		}
	}
	.vision{  

		h2{
			color: #272727;
			font-size: 24px;
			letter-spacing: 2px;
			margin: 0px;
			margin-bottom: 20px;
			text-transform: uppercase;
			padding: 50px 70px 0 70px;
		}
		p{
			color: #272727;
			font-size: 18px;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 100;
			line-height: 150%;
			padding: 0px 70px 0 70px;
		}
	}

	.subtop{
		padding-top: 75px;
		padding-bottom: 60px;

		h3{
			font-size: 36px;
			letter-spacing: 3px;
			text-transform: uppercase;
			padding-bottom: 15px;
			padding-top: 20px;
		}
		p{
			font-size: 18px;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 100;
			line-height: 150%;
			padding: 0 180px;
		}
	}

	.row-equipo{
		padding-top: 0px;
		text-align: center;
		background: #fff;

		hr {
		    margin-top: 12px;
		    margin-bottom: 50px;
		    border: 0;
		    border-top: 1px solid #000;
		    width: 59%;
		}

		.seccion{
			.item:hover .info{
				bottom: 20px!important;
			}
			.item:hover:after {
				 top: 0px;
				} 
			 
			.item:after{
				 
				transition: all 1s ease 0s;
				content: "";
				position: absolute;
				left: 0px;
				top: 323px;
				width: 100%;
				height: 100%;
				z-index: 1;
				background: rgba(255,255,255,0);
				background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.81) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,0.81)));
				background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.81) 100%);
				background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.81) 100%);
				background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.81) 100%);
				background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.81) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
			
			}
			 
			.info{
					position: absolute;
					left: 0px;
					bottom: 10px;
					color: #fff;
					width: 100%;
					padding: 0 10px;
					transition: all 0.5s ease 0s;
					z-index: 2;


					h4{
						font-size: 18px;
						letter-spacing: 3px;
						text-transform: uppercase;
					}
					h5{
						font-size: 14px;
						letter-spacing: 3px;
						text-transform: uppercase;
						line-height: 140%;
					}
					p{
						font-size: 17px;
						font-family: 'Source Sans Pro', sans-serif;
						font-weight: 100;
						padding: 0 30px;
   						 line-height: 130%;
   						 margin: 0px;

					}
					span{
						font-size: 18px;
						font-family: 'Source Sans Pro', sans-serif;
						font-weight: 100;
						display: block;
					}
					
				}
		}

		.col-md-4{
			width: 374px;
			display: inline-block;
			float: none;
			padding: 0px 15px;

			.item:hover .info{
				bottom: 20px!important;
			}
			.item:hover:after {
				 top: 0px;
				} 
			 
			.item:after{
				 
				transition: all 1s ease 0s;
				content: "";
				position: absolute;
				left: 0px;
				top: 323px;
				width: 100%;
				height: 100%;
				z-index: 1;
				background: rgba(255,255,255,0);
				background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.81) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(0,0,0,0.81)));
				background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.81) 100%);
				background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.81) 100%);
				background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.81) 100%);
				background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.81) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
			
			}
			.item{
				overflow: hidden;
				width: 100%;
				height: 323px;
				position: relative;
				margin-bottom: 28px;


				img{
					max-width: 100%;
				}

				
				 
			}
		}
	}

	.row-buscar-equipo{
		background: #fff;

		.items{
			display: none;
		}

		h3{
			margin: 0px;
			font-size: 21px;
			color: #333333;
			letter-spacing: 3px;
			text-align: center;
			padding: 50px 0px;
			text-transform: uppercase;
		}

		.buscador{
			padding: 0px;

			.scroll{
				height: 350px;
			}

			a{
				display: block;
				width: 100%;
				height: 100%;
				font-size: 22px;
				color: #272727;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 100;
				line-height: 110%;
				padding-top: 24px;
				padding-right: 20px;
			}
			i{
				    display: block;
				    float: left;
				    padding: 16px 20px 0 30px;
			}
			a:hover, a:active, a:visited, a:hover,a:focus{
					text-decoration: none;
				}

			.directorio{
				background: #f4f4f4;
				height: 100px;

				a{
					color: #272727;
				}

				.icono{
					float: left;
				    font-size: 30px;
				    font-family: 'Source Sans Pro', sans-serif;
				    border: 2px solid #000;
				    padding: 3px 8px 6px 8px;
				    font-weight: 400;
				    margin: 7px 19px 0 30px;
				}
			}
			.palabra{
				background: #f4f4f4;
				height: 100px;
			}
			.active{
				background: #272727;
				a{
					color: #fff!important;
				}
			}
			#autocomplete{
				height: 60px;
				border: 2px solid #272727;
				width: 75%;
				padding: 0 10px;
				font-size: 30px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 100;
				display: inline-block;
				float: left;
			}
			.items{
				padding: 30px 50px;
			}
			#btn_buscar{
				background: #272727;
				color: #fff;
				font-family: 'Source Sans Pro', sans-serif;
				font-size: 20px;
				padding: 0px;
				width: 23%;
				text-align: center;
				padding: 20 0px;
				font-weight: 600;
				height: 60px;
				display: inline-block;
				padding-top: 17px;
				cursor: pointer;
			}

		}

		#box-directorio{
			 

			ul{
				padding: 0px;
				margin: 0px;
				list-style: none;

				li{
					font-size: 24px;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 400;
					position: relative;
					border-bottom: 1px solid #eeeeee;
					padding-bottom: 10px;

					strong{
						position: absolute;
						left: -30px;
						top: 7px;
						font-weight: 400;
						color: #7d7d7d;
						font-family: 'Source Sans Pro', sans-serif;
					}
					

					a{
						color: #7d7d7d;
						padding: 8px 10px;
						margin-left: -10px;
						font-weight: 100;
						font-size: 29px;
						font-family: 'Source Sans Pro', sans-serif;

						span{
							font-weight: 400;
							font-size: 20px;
							font-family: 'Source Sans Pro', sans-serif;
						}
					}
					a:hover{
						background: #272727;
						color: #fff;
					}
				}
			}
		}

		.contenido_buscador{ 
			background: #f4f4f4;
			height: 450px;
			padding: 50px 50px;

			h4{
				margin: 0px;
			    color: #ef4726;
			    font-size: 28px;
			    font-family: 'Source Sans Pro', sans-serif;
			    font-weight: 600;
			    padding-bottom: 20px;
			}
			h5{
				margin: 0px;
				font-size:20px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 600;
			}  
			p{
				margin: 0px;
				font-size:20px;
				font-family: 'Source Sans Pro', sans-serif;
			} 
			span{
				color: $primario;
				font-weight: 100;
				position: absolute;
				left: 50px;
				bottom: 50px;
			} 
		}
	}
}


.section_noticias{
	.btn_fixed{
		width: 100%;
		position: fixed;
		bottom: 0px;
		left: 0px;
		background: $primario;
		font-size: 18px;
		color: #fff;
		padding: 10px 30px;
		display: none;

		i{
			float: right;
			padding-top: 5px;
		}
	}

	.top{
		h1{
			padding-bottom: 50px;
			font-size: 24px;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}
	.section-4{

		.row{
			background: #fff; 
		}
		.scroll{
			width: 100%;
			height: 800px;
			overflow: hidden; 
			display: block;
		}

		h2{
			text-align: center;
			font-size: 24px;
			color: #fff;
			margin: 40px 0px;
		}

		.box-noticia {
			background: #333333;
			padding: 30px;
			margin-bottom: 30px;
			color: #fff;
			overflow: hidden;
			position: relative;
			padding-bottom: 40px;
			min-height: 520px;

			img{ 
				margin-left: -30px;
				margin-right: -30px;
				margin-top: -30px;
				margin-bottom: 30px;
			}

			span{
				color: $primario;
				font-size: 16px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 100;
			}
			h3{
				font-size: 18px;  
				line-height: 130%;
				margin: 0px;
				padding-bottom: 20px;
				padding-top: 4px;
				text-transform: uppercase;

				a{
					color: #fff;
				}
			}
			p{
				font-size: 18px;
				font-family: 'Source Sans Pro', sans-serif;
				font-weight: 100;
				line-height: 130%;
			}
			.share{
				width: 80%;
				height: 25px;
				background: #272727;
				margin-top: 20px;
			}
			.ver-mas{
				display: block;
			    text-indent: 0px;
			    overflow: hidden;
			    background: none;
				 width: auto;
				 height: auto;
				 position: absolute;
				 right: 30px;
				 color: $primario;
				 bottom: 10px;
				 font-size: 22px;
			}
		}
		.box-destacada{
			min-height: auto;

			img{
				float: left;
				margin: -30px;
				margin-right: 35px; 
				margin-bottom: -40px;
			}
		}
		.no-photo{

			.box-noticia{

				h3{
					font-size: 30px;
					padding-top: 15px;
					padding-bottom: 30px;
				}
			}
		}
		.btn-primary{
			font-size: 18px;
			color: $primario;
			border: 2px solid $primario;
			padding: 15px 0px;
			background: #fff;
			margin: 0 auto;
			display: block;
			text-align: center;
			width: 200px;
			letter-spacing: 2px;
			margin-bottom: 40px;
		}
	}

	.section-4.box-prensa{

		.box-noticia{
			min-height: 260px;

			.ver-mas{
				display: block;
			    text-indent: 0px;
			    overflow: hidden;
			    background: none;
				 width: auto;
				 height: auto;
				 position: absolute;
				 right: 30px;
				 color: #fff;
				 bottom: 20px; 
			}
			small{
				color: #fff;
				font-weight: 100;
				font-family: 'Source Sans Pro', sans-serif;
				font-size: 16px;

				strong{
					font-weight: 400;
					font-family: 'Source Sans Pro', sans-serif;
					font-size: 16px;
				}
			}
		}
		.box-noticia.doble{
			min-height: 551px;
		}
		.box-noticia.color{
			background: $primario;

			span{
				color: #333333;
			}
			h3{
				color: #fff;
			}
			small{
				color: #333333;
				font-weight: 100;
				font-family: 'Source Sans Pro', sans-serif;
			}
			 
		}
	}

}



.single{
	background: #efefef url(../img/bg_lineatiempo_seccion.jpg) -1px top no-repeat; 

	.nav-left{
		padding-left: 30px;
	}

	span{
		color: $primario; 
	}

	h1{
		color: #fff;
		font-size: 24px;
		padding: 30px 20px 20px 20px;
		letter-spacing: 2px;
		text-align: center;
		text-transform: uppercase;
	}
	.top{
		text-align: center;

		img{
			padding-top: 40px;
		}
	}

	.padre_principal{
		padding: 30px 30px 15px 30px;
	}
	.principal{
		background: #fff;
		padding: 60px 50px;
		padding-bottom: 20px;
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
    	-moz-column-count: 2; /* Firefox */
   	 	column-count: 2;

   	 	span{
			color: $primario;
			font-size: 22px;
		}

		blockquote{
			border: 0px;
			padding: 10px 0px 0 0;
			font-size: 24px;
			line-height: 140%;
			font-weight: bold;
			font-style: italic;
			font-family: 'Source Sans Pro', sans-serif;
		}

		h2{
			color: $primario;
			font-size: 18px;
			letter-spacing: 3px;
			font-family: 'Source Sans Pro', sans-serif;
		}

		img{
			margin-bottom: 40px;
			max-width: 100%;
		}


		p, li{
			font-size: 18px;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: 400;
			line-height: 160%;
			padding-bottom: 30px;
			margin-bottom: 0px;
		}
		ul{
			padding-left: 20px;
		}
		
	}

	.secundario {
	    background: #fff;
	    padding: 40px 60px;
	    padding-bottom: 40px;
	    margin-top: 30px;
	}

	.fuente{
		background: #fff;
	    padding: 0px 60px 40px 60px;
	    margin: 0px;

	    .left{
	    	p{
	    		font-size: 21px;
	    		font-family: 'Source Sans Pro', sans-serif;
				font-weight: 100;
				padding: 0px;
				margin: 0px;

				strong{
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 600;
					padding: 0px;
					margin: 0px; 
				}
	    	}

	    	a{
	    		color: $primario;
	    		font-size: 18px;
	    		letter-spacing: 3px;
	    		text-transform: uppercase;
	    		font-family: 'Source Sans Pro', sans-serif;
				font-weight: 400;
	    	}
	    }

	    .right{

	    	.share{
	    		background: #ccc;
	    		height: 39px;
	    		width: 100%;
	    		margin-top: 10px;
	    	}
	    }
	}

}

.single_noticia{
	background: #efefef url(../img/bg_noticia_interior.jpg) center top no-repeat; 
}
.single_prensa{
	background: #efefef url(../img/cnt_prensa_interior.jpg) center top no-repeat; 
}
.single_entrevista{
	background: #efefef; 

	h1{
		font-size: 48px;
		color: $primario;
		padding:30px 60px 20px 60px;
	}

	span.nombre{
			font-size: 18px;
			color: $primario;
			text-transform: uppercase;
			line-height: 150%;
			display: block;
			font-weight: 100;
			padding: 40px 50px 0 60px;
			background: #fff;
			letter-spacing: 3px;

			strong{
				display: block;
				color: #272727;
				font-size: 21px;

			}
		}

	.principal { 
	    padding: 40px 50px;
	}
}
.single_columna{
	background: #efefef; 

	h1{
		font-size: 48px;
		color: $primario;
		padding: 30px 60px 20px 60px;
	}

	.nombre{
			font-size: 18px;
			color: $primario;
			text-transform: uppercase;
			line-height: 150%;
			display: block;
			font-weight: 100;
			padding: 30px 30px 30px 10px;
			background: #fff;
			border: 3px solid #272727;
			margin-bottom: 35px;
			letter-spacing: 2px;

			.col-md-2{
				padding: 0px;
			}

			strong{
				display: block;
				color: #272727;
				font-size: 21px;

			}
			p{
				font-size: 18px;
				font-style: italic;
				color: #333333;
				line-height: 140%;
				letter-spacing: 0px;
				padding: 10px 0 0 0;
				text-transform: lowercase;
			}
			img{
				border: 8px solid #dddcdc;
				@include border-radius(50%);
				margin: 0px;
				display: block;
				 
				width: 100%; 
				margin-right: 20px;
			}

		}

	.principal { 
	    padding: 40px 50px;
	}
}

.section_actualidad{

	.filter-options{
		padding: 0 100px 50px 100px;
		a{
			border: 2px solid #333333;
			padding: 20px 0px;
			width: 100%;
			display: block;
			text-align: center;
			font-size: 17px;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #333333; 
		}
		a:hover, a.active{
			color: #fff; 
			background: #333333; 
			text-decoration: none;
		}
		 
	}
	
	.top{
		text-align: center;

		img{
			padding-top: 40px;
		}
		h1{
			color: #333;
			font-size: 24px;
			padding: 0px 0px 55px 0px;
			letter-spacing: 3px;
			text-align: center;
		}
	}
	.section-3{
		.row{
			padding-top: 20px;
		}
		.box-destacado{
			min-height: auto;
			padding: 0px;

			img{
				float: left; 
				margin: 0px; 
				margin-right: 30px;
				width: 45%;
				height: 100%;
			}
			span{
				padding-top: 40px;
			}
			h3{
				font-size: 39px;
				color: $primario;
			}
			p{
				font-size: 18px;
				color: #333333;
				font-family: 'Source Sans Pro', sans-serif;
					font-weight: 100;
			}
			.ver-mas{
				display: block;
			    text-indent: 0px;
			    overflow: hidden;
			    background: none;
				 width: auto;
				 height: auto;
				 position: absolute;
				 right: 30px;
				 color: $primario;
				 bottom: 50px; 
				 font-size: 20px;
				 float: right; 
			}
		}
		 
		.items{
			 
			 -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
		}
		.ver-mas{
			display: block;
		    text-indent: 0px;
		    overflow: hidden;
		    background: none;
			 width: auto;
			 height: auto;
			 position: static;
			 right: 30px;
			 color: $primario;
			 bottom: 20px; 
			 font-size: 20px;
			 float: right;
			 margin-bottom: -10px;
		}

		.box-entrevista.recomendados{
			p{
				font-size: 18px;
				color: #333;
				padding-top: 20px;

				a{
					font-weight: 400;
					letter-spacing: 1px;
					font-size: 18px;
					color: $primario;
				}
			}
		}
		
	}

	.btn-primary{
			font-size: 18px;
			color: $primario;
			border: 2px solid $primario;
			padding: 15px 0px;
			background: #fff;
			margin: 0 auto;
			display: block;
			text-align: center;
			width: 200px;
			letter-spacing: 2px;
			margin-bottom: 0px;
			margin-top: 0px;
		}

	.box-cargar{
		background: #f6f6f6;
		padding: 20px 0px;
	}

}

 
.section_publicaciones{
	h3{
		font-size: 18px;
		line-height: 30px;
		color: $primario;
		text-transform: uppercase;
		position: relative;
	}

	.simbologia{
		text-align: right;

		span{
			padding-left: 30px;
		}
	}

	.filtros{
		text-align: center;
		position: relative;
		padding: 25px 0px;

		span.txt{
			font-size: 18px;
			color: #fb7b61;
			letter-spacing: 2px;
			padding-right: 0px;
		}
		.bootstrap-select{
			width: 190px!important;
			margin: 0 10px;
		}
	}
	.filtros:before{
		content: " ";
		position: absolute;
		width: 580px;
		height: 1px;
		background: #fb7b61;
		display: block;
		top: 0px;
		left: 50%;
		margin-left: -290px;
	}
	.box-publicaciones{
		padding: 30px;
		background: #ffe7e2;
		margin-bottom: 30px;
		height: 578px;
		text-align: center;
		position: relative;

		p{
			font-weight: 100;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 18px;

			strong{
				font-weight: bold;
			}
		}

		.descarga:before{
			content: "";
			position: absolute;
			top: 0px;
			left: 50%;
			width:50px ;
			height: 1px;
			background: $primario;
			margin-left: -25px;
			display: block;
		}
		.descarga{
			margin-top: 25px;
			padding-top: 25px;
			font-size: 18px;
			text-transform: uppercase;
			color: $primario;
			position: relative;

			a{
				font-size: 18px;
				text-transform: uppercase;
				color: $primario;
				letter-spacing: 1px;
				margin: 0 5px;
			}
			img{
				    vertical-align: middle;
			}
		}
		.detalle{
			position: absolute;
			width: 100%;
			left: 0px;
			bottom: 30px;
		}
	}

	.row{
		background: none;
	}
	 .filter-options {
	    padding: 0 100px 50px 100px;
	    text-align: center;

	    a{
    	    display: inline-block;
		    width: 250px;
		    height: 82px;
		    vertical-align: middle;
		    padding: 18px 10px 18px 75px;
		    text-align: left;
		    line-height: 130%;

		    img{
		    	float: left;
		    	margin-right: 20px;
		    }
	    }
	    #btn_cuaderno{
	    	background: url(../img/icn_publicaciones.png) 15px 10px no-repeat;
	    }
	    #btn_cuaderno:hover, #btn_cuaderno.active{
	    	background:#333 url(../img/icn_publicaciones.png) 15px -47px no-repeat;

	    }
	    #btn_estudios{
	    	background: url(../img/icn_publicaciones.png) 15px -100px no-repeat;
	    	padding-top: 28px;
	    }
	    #btn_estudios:hover, #btn_estudios.active{
	    	background: #333 url(../img/icn_publicaciones.png) 15px -151px no-repeat; 
	    }
	    #btn_informe{
	    	background: url(../img/icn_publicaciones.png) 15px -200px no-repeat;
	    }
	    #btn_informe:hover, #btn_informe.active{
	    	background: #333 url(../img/icn_publicaciones.png) 15px -243px no-repeat;
	    } 
	}
}

.single_publicacion{
	background: none;

	h1{
		color: #333;
	}
	.principal{
		padding-top: 0px;
	}
}
.detalle_publicacion{
			font-size: 18px; 
			padding: 20px;
			background: #fff;
			border: 3px solid #272727;
			margin-bottom: 35px;
			letter-spacing: 2px;
			 -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid-column;

			 

			strong{ 
				color: $primario;
				font-size: 18px;
				font-weight: 400;
				font-family: 'Source Sans Pro', sans-serif;
			}
			p{
				font-size: 18px; 
				color: #333333;
				line-height: 140%;
				letter-spacing: 0px;  
				padding-bottom: 5px!important;
				font-weight: 100;
				font-family: 'Source Sans Pro', sans-serif;
			} 
			a{
				font-size: 18px;
				text-transform: uppercase;
				letter-spacing: 2px;
				color: $primario;
				padding-top: 10px;
				margin-top: 10px;
				display: block;
				position: relative;
			}
			a:before{
				content: "";
				position: absolute;
				top: 0px;
				left: 0px;
				width:100px ;
				height: 1px;
				background: $primario; 
				display: block;
			}
			img{
				margin: 0px!important;
				width: 20px;
			}

		}

.plugin{
	padding: 0px 60px 20px 60px;
}
#plugin{
	margin: 0px;
	background: #ccc;
	width: 100%;
	height: 580px;
}


