@media (max-width: 1590px) {

  @import '_responsive1590'; 

  

}
@media (max-width: 1200px) {
   
  @import '_responsive1200';
  
} 

@media (max-width: 992px) {
  
   @import '_responsive992';

}
@media (max-width: 768px) {

.single .principal {
        background: #fff;
        padding: 30px 20px;
        padding-bottom: 20px;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .single .principal blockquote {
    border: 0px;
    padding: 10px 0px 0 0;
    font-size: 20px;
}
.single .fuente {
    background: #fff;
    padding: 0px 20px 40px 20px;
} 

  .section-1 .row {
    background: none;
    padding-left: 0px;
    text-align: center;
    height: auto;
    padding-bottom: 210px;
}
.section-1 .txt { 
    top: 32%; 
}
.section_linea .principal, .section_linea .secundario{
    background: #fff;
    padding: 10px;
    padding-top: 20px;
    }
    .section_linea .principal h2{
      margin-top: 0px;
    }
    .section_linea .principal p, .section_linea .principal li, .section_linea .secundario .col-md-4 { 
    padding-bottom: 20px;
}
 

/*error*/
      .section_error {
    text-align: center;
    padding: 30px 0px;
    margin-top: 73px;
}
.section_error h1 { 
    font-size: 20px;
    padding: 10px 0 20px 0px; 
    line-height: 120%;
}
.section_error img { 
    width: 50px;
}
.section_agenda .sections-8 .item-evento .txt {
    padding: 20px 20px 30px 20px;
    position: relative;
}
.section_agenda .sections-8 .item-evento .txt small ,
.section_agenda .sections-8 .item-evento .txt span,
.section_agenda .sections-8 .item-evento .txt h3,
.section_agenda .sections-8 .item-evento .txt p{
    font-size: 14px;
  }
.section_agenda .sections-8 .item-evento .txt h3{
    font-size: 16px;
  }
.section_agenda .sections-8 .item-evento .txt .btn-primary {
    padding: 10px 30px;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 20px;
}

.section_contacto .row-cont {
    padding: 30px 20px;
}
.section_contacto .row-cont .left h2 {
    font-size: 16px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    margin: 0px;
}
.section_contacto .row-cont .left p {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
}
.section_contacto .row-cont .right {
    padding-top: 10px;
}
.section_contacto .row-cont .right .text {
    border: 0px;
    border-bottom: 1px solid #545454;
    width: 100%;
    height: 26px;
    font-size: 18px;
    background: none;
}
.section_contacto .row-cont .right .btn-default {
    color: #333333;
    background-color: #fff;
    border: 2px solid #333333;
    padding: 20px;
    font-size: 14px;
    text-transform: uppercase;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 153px;
}
.section_contacto .row-cont .right #inputasunto {
    width: 330px;
    margin-top: 9px;
}
.section_contacto .row-cont .right a {
    padding: 10px 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}
.section_actualidad .filter-options .col-xs-3{
    width: 100%;
    margin-bottom: 10px;
}
.section_actualidad .filter-options {
    padding: 0 20px 0px 20px;
}

   
}

@media (max-width: 696px) {

.section_publicaciones .filtros .bootstrap-select {
    width: 84px !important;
    margin: 0 5px;
} 

.section_busqueda h1, .section_busqueda .box-section h2 {
    font-size: 16px;
}
   .section-1 .row {
    padding-bottom: 114px;
}
.section-1 h1 {
    padding-top: 0px;
    font-size: 39px;
    width: 100%;
    padding: 30px;
    text-align: center;
}
.section_busqueda .box-section .item{
  padding: 20px;
}
.section_busqueda { 
    margin-top: 40px;
}
.section_busqueda .item img{
  display: none;
}
.section_busqueda h1 { 
    padding: 20px 0px 10px 0px;
    }
   .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    /*width: 123px;*/
    width: 114px!important;
} 
.section_nosotros .top img {
    margin: 0 -15px;
    max-width: 110%;
}

}

@media (max-width:555px) {

 .section-1 .row {
    padding-bottom: 68px;
}
.section-1 h1 {
    padding-top: 0px;
    font-size: 25px;
    width: 100%;
    padding: 30px;
    text-align: center;
}
.section-2 .top img { 
    width: 50px;
    margin: 20px 0px 20px 0px;
}
.section_busqueda {
    text-align: center;
    padding: 60px 0px;
}
.section_busqueda .box-buscador{
    margin-left: 0px;
    padding: 20px 0px;
    margin: 0 auto;
    display: block;
}
.section_busqueda .box-buscador .boxs {
    border: 2px solid #fff;
    width: 236px;
    position: relative;
    margin: 0 auto;
}
.section_busqueda .box-buscador .option label { 
    font-size: 11px; 
    padding-right: 5px;
}
.section_busqueda p {
    padding-bottom: 10px;
    }
    .section_busqueda .box-section .item h3 {
    font-size: 13px;
    letter-spacing: 2px;
}
.section_busqueda .box-section {
    padding-bottom: 20px;
    }
    .section_busqueda h1, .section_busqueda .box-section h2 {
    font-size: 16px;
    letter-spacing: 1px;
}
.nav-left a, .nav-right a{
  font-size: 11px;
  letter-spacing: 1px;
}
.section_contacto .row-cont {
    padding: 30px 0px;
}
.section_contacto .row-cont .right label {
    display: block;
    color: #fb7b61;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.section_contacto .row-cont .right #inputasunto {
    width: 150px;
    margin-top: 9px;
}
.section_contacto .row-cont .right textarea {
    border: 0px;
    border-bottom: 1px solid #545454;
    width: 100%;
    height: 55px;
    background: none;
}
.single_entrevista h1, .single_columna h1 {
    font-size: 26px;
    padding-bottom: 0px;
}
.single_columna .nombre .col-xs-5 {
    display: none;
}
.single_columna .nombre .col-xs-7 {
    width: 100%;
    padding: 0px;
}
.section_nosotros .top h1 {
    font-size: 23px;
    padding-top: 20px;
    margin-bottom: -10px;
}
   
}

@media (max-width:400px) {



  .section {
    margin-top: 52px;
}

.menu-lateral #logo {
    width: 176px;
    background-size: 100%;
    height: 37px;
    margin: -16px 0 8px 25px;
}
.menu-lateral { 
    height: 64px !important; 
}
#menu-toggle {
    position: absolute;
    right: 10px;
    top: 15px;
    }
.icon-bar {
    display: block;
    width: 38px;
    height: 4px;
    border-radius: 1px;
    background: #fff;
    margin-bottom: 8px;
}
.section-2 .top img {
    width: 50px;
    margin: 20px 0px 0px 0px;
}

 .section-1 .row {
    padding-bottom: 28px;
}
.section-1 h1 {
    padding-top: 0px;
    font-size: 18px;
    width: 100%;
    padding: 30px;
    text-align: center;
}
.section-1 a {
    padding: 7px 13px;
    font-size: 10px;
    text-transform: uppercase;
}
/*error*/
.section_error h1 {
    font-size: 16px;
    padding: 10px 0 20px 0px;
    line-height: 120%;
}
.section_error p {
    padding-bottom: 30px;
    font-size: 16px;
    }

.section_publicaciones .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    /*width: 123px;*/
    width: 84px!important;
} 
.section_publicaciones .btn-default {
    color: #fb7b61;
    background-color: #fff;
    border: 2px solid #fb7b61;
    padding: 8px 25px 8px 8px;
    font-size: 13px;

    }

.section_publicaciones .simbologia span {
    padding-left: 10px;
    font-size: 12px;}
    .section_publicaciones .simbologia {
    text-align: center;
} 
.section_publicaciones .simbologia img{
    width: 14px;
}
.section_nosotros .top {
    margin-top: 0px;
    z-index: 1;
    height: auto;
    position: relative;
    background: none;
    top: -64px;
    margin-bottom: -64px;
}
   
}


@media (max-height: 835px) {

    .menu-lateral ul li a {
        font-size: 15px; 
    }
    .menu-lateral ul li {
        padding: 8px 0px; 
    }
    .menu-lateral .box-suscribete p {
        font-size: 16px;
      }
    .menu-lateral .box-redes { 
        padding: 10px 0px;
    } 

  }

@media (max-height: 775px) {
  .menu-lateral .box-suscribete input.text, .menu-lateral .box-suscribete .agregar,
  .menu-lateral .box-buscador .btn-buscar, .menu-lateral .box-buscador .text-buscar{
    height: 41px;
  }
  .menu-lateral .box-suscribete .agregar, .menu-lateral .box-buscador .btn-buscar{
    font-size: 18px; 
    padding-top: 9px; 
  }
    .menu-lateral .box-buscador, .menu-lateral .box-suscribete { 
      padding: 15px 0px;
  }

    .menu-lateral ul{
      padding-bottom: 15px;
    }
    .menu-lateral ul li a {
        font-size: 15px; 
    }
    .menu-lateral ul li {
        padding: 6px 0px; 
    }
    .menu-lateral .box-suscribete p {
        font-size: 16px;
      }
    .menu-lateral .box-redes { 
        padding: 10px 0px;
    } 
    .menu-lateral .box-buscador .option{
      top: 42px;
    }

    

  }

@media (max-height: 705px) {
  .menu-lateral #logo{
    margin-bottom: 20px;
  }
  .menu-lateral .box-suscribete input.text, .menu-lateral .box-suscribete .agregar,
  .menu-lateral .box-buscador .btn-buscar, .menu-lateral .box-buscador .text-buscar{
    height: 31px;
  }
  .menu-lateral .box-suscribete .agregar, .menu-lateral .box-buscador .btn-buscar{
    font-size: 14px; 
    padding-top: 6px; 
  }
    .menu-lateral .box-buscador, .menu-lateral .box-suscribete { 
      padding: 15px 0px;
  }

    .menu-lateral ul{
      padding-bottom: 10px;
    }
    .menu-lateral ul li a {
        font-size: 13px; 
    }
    .menu-lateral ul li {
        padding: 5px 0px; 
    }
    .menu-lateral .box-suscribete p {
        font-size: 14px;
      }
    .menu-lateral .box-redes { 
        padding: 10px 0px;
    } 
    .menu-lateral .box-redes a{
      width: 30px;
      height: 30px;
      font-size: 16px;
    }
    .menu-lateral .box-buscador .option { 
    top: 32px;
  }

  }


@media (min-width: 992px) {
   .carousel-control{display: none;}
   .carousel-inner > .item{ display: inline-block; width: 237px; margin: 7px; }
   .section_nosotros .row-equipo hr{ display: block; }
   #box-jefes-lineas hr{ margin-top: 30px; }
   .seccion h3{ display: none; }
   .section_nosotros .row-equipo .seccion .item {
        overflow: hidden;
        position: relative;
    }
    .section_nosotros .inner {
        overflow: hidden;
        margin: 0 -15px;
    }
}
@media (min-width: 1200px) { 
   .carousel-inner > .item{ display: inline-block; width: 273px; } 
}
@media (min-width: 1590px) { 
   .carousel-inner > .item {
        display: inline-block;
        width: 357px;
    }
    .section_nosotros .row-equipo .seccion .info p {
        font-size: 18px;
    }
}