/* variables */
.container {
  width: 1170px; }

/* mixin */
/* generale */
* {
  font-family: 'Montserrat', sans-serif;
  outline: 0px; }

.btn-primary {
  transition: all 0.3s ease 0s; }

.btn-primary:hover {
  background: #bc3318;
  border: 1px solid #ef4726; }

.scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.icon-bar {
  display: block;
  width: 48px;
  height: 6px;
  border-radius: 1px;
  background: #fff;
  margin-bottom: 8px; }

.btn-default {
  color: #fb7b61;
  background-color: #fff;
  border: 2px solid #fb7b61;
  padding: 20px;
  font-size: 18px;
  text-transform: uppercase; }

.modal-header {
  padding: 15px;
  border-bottom: 0px solid #e5e5e5; }

.close {
  float: right;
  font-size: 25px;
  font-weight: 400;
  line-height: 1;
  color: #ef4726;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=10);
  opacity: 1; }

#menu {
  background: #272727;
  height: 120px; }
  #menu .container {
    padding: 35px 15px;
    position: relative; }
  #menu #logo {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background: url(../images/logo-landing.png) left top no-repeat;
    height: 58px;
    width: 279px;
    float: left; }
  #menu #menu-toggle {
    display: none; }
  #menu .sidebar-navs {
    float: right;
    padding-top: 17px;
    list-style: none; }
    #menu .sidebar-navs li {
      float: left;
      padding-right: 15px; }
    #menu .sidebar-navs a {
      font-size: 14px;
      color: #fff;
      text-transform: uppercase; }
  #menu .box-redes {
    margin-left: 30px;
    padding: 10px 0px;
    float: right; }
    #menu .box-redes a {
      background: #fff;
      color: #272727;
      display: inline-block;
      width: 34px;
      height: 34px;
      text-align: center;
      font-size: 20px;
      padding-top: 4px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      margin-right: 5px; }
  #menu #btn-ir {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #ef4726;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px; }
    #menu #btn-ir i {
      font-size: 20px;
      display: block;
      float: left;
      margin-top: -3px;
      margin-right: 5px; }

.box-inicio {
  background: #ef4726;
  color: #fff; }
  .box-inicio .container {
    padding: 60px 220px;
    text-align: center; }
  .box-inicio p {
    font-size: 18px;
    line-height: 150%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100; }
  .box-inicio h1 {
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 6px; }
  .box-inicio h2 {
    font-size: 25px;
    padding-bottom: 60px;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .box-inicio a {
    border: 2px solid #fff;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 20px;
    transition: all 0.5s ease 0s; }
  .box-inicio a:hover {
    text-decoration: none;
    background: #fff;
    color: #ef4726; }

.box-conferencistas {
  background: #f3f3f3;
  padding-bottom: 60px; }
  .box-conferencistas h3 {
    font-size: 35px;
    color: #3e3e3e;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    padding: 55px 0px; }
  .box-conferencistas .item {
    background: #fff;
    border: 1px solid #ef4726;
    text-align: center;
    padding: 20px 30px;
    min-height: 633px; }
    .box-conferencistas .item blockquote {
      font-size: 20px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold;
      border: 0px;
      min-height: 132px; }
    .box-conferencistas .item h4 {
      font-size: 25px;
      letter-spacing: 1px;
      text-transform: uppercase; }
    .box-conferencistas .item span {
      font-size: 15px;
      font-weight: bold;
      font-family: 'Source Sans Pro', sans-serif; }
    .box-conferencistas .item p {
      font-size: 15px;
      font-family: 'Source Sans Pro', sans-serif; }
    .box-conferencistas .item strong {
      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #ef4726; }

.box-programacion {
  background: #fff;
  padding-bottom: 60px;
  text-align: center; }
  .box-programacion h3 {
    font-size: 35px;
    color: #ef4726;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    padding: 55px 0px 45px 0px; }
  .box-programacion h4 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 3px; }
  .box-programacion p {
    font-size: 17px;
    margin-top: 0px;
    font-family: 'Source Sans Pro', sans-serif; }
  .box-programacion .ciudades {
    padding-top: 0px;
    position: relative;
    z-index: 2; }
    .box-programacion .ciudades a {
      font-size: 18px;
      color: #fff;
      background: #ef4726;
      width: 187px;
      text-align: center;
      display: inline-block;
      letter-spacing: 2px;
      padding: 15px 0px;
      z-index: 3;
      position: relative;
      transition: all 0.5s ease 0s; }
    .box-programacion .ciudades a:hover {
      text-decoration: none;
      background: #444444; }
    .box-programacion .ciudades a.medio {
      margin: 0 50px; }
    .box-programacion .ciudades .activo {
      background: #444444; }
  .box-programacion .ciudades:after {
    content: "";
    position: absolute;
    left: 25%;
    top: 27px;
    width: 50%;
    height: 4px;
    background: #6a6a6a;
    display: block;
    z-index: 1; }
  .box-programacion .itemciudad {
    display: none; }
  .box-programacion .box-datos-principales {
    text-align: center;
    padding: 60px 120px; }
    .box-programacion .box-datos-principales strong {
      font-size: 35px;
      color: #ef4726;
      letter-spacing: 2px;
      display: block;
      font-family: 'Source Sans Pro', sans-serif; }
    .box-programacion .box-datos-principales .left p {
      font-size: 35px;
      color: #333333;
      letter-spacing: 2px;
      font-family: 'Source Sans Pro', sans-serif; }
    .box-programacion .box-datos-principales .center p {
      font-size: 18px;
      color: #333333;
      letter-spacing: 2px;
      margin: 0px; }
    .box-programacion .box-datos-principales .right p {
      font-size: 35px;
      color: #333333;
      letter-spacing: 2px;
      font-family: 'Source Sans Pro', sans-serif; }
  .box-programacion .box-programacion h4 {
    font-size: 17px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 40px; }
  .box-programacion .box-programacion .list-programacion {
    padding: 0px 261px 0 400px;
    text-align: left; }
    .box-programacion .box-programacion .list-programacion .left {
      padding-top: 5px;
      position: relative; }
      .box-programacion .box-programacion .list-programacion .left p {
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 600; }
    .box-programacion .box-programacion .list-programacion .right {
      background: #f3f3f3;
      margin-bottom: 10px;
      position: relative; }
      .box-programacion .box-programacion .list-programacion .right h5 {
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px; }
      .box-programacion .box-programacion .list-programacion .right p {
        font-size: 14px;
        font-style: italic;
        font-family: 'Source Sans Pro', sans-serif; }
      .box-programacion .box-programacion .list-programacion .right div {
        padding-bottom: 20px; }
        .box-programacion .box-programacion .list-programacion .right div blockquote {
          font-size: 18px;
          font-style: italic;
          font-family: 'Source Sans Pro', sans-serif;
          border: 0px;
          padding: 0px;
          line-height: 110%;
          margin: 5px; }
        .box-programacion .box-programacion .list-programacion .right div span {
          font-size: 14px;
          font-style: italic;
          font-weight: bold;
          font-family: 'Source Sans Pro', sans-serif; }
    .box-programacion .box-programacion .list-programacion .right:after {
      content: "";
      position: absolute;
      left: -16px;
      top: 5px;
      width: 0;
      height: 0;
      border-right: 16px solid #f3f3f3;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent; }
    .box-programacion .box-programacion .list-programacion.list-alargado .right:before {
      height: 136%; }
      .box-programacion .box-programacion .list-programacion .right:before {
      content: "";
      position: absolute;
      left: -40px;
      top: 16px;
      width: 3px;
      height: 105%;
      display: block;
      background: #6a6a6a; }
    .box-programacion .box-programacion .list-programacion .left:before {
      content: "";
      position: absolute;
      right: 31px;
      top: 9px;
      width: 15px;
      height: 15px;
      display: block;
      background: #ef4726;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      z-index: 3; }
    .box-programacion .box-programacion .list-programacion .right.last:before {
      display: none; }

.box-inscripcion {
  background: url(../images/bg_inscribete.jpg) center top no-repeat;
  min-height: 1015px; }
  .box-inscripcion h5 {
    font-size: 36px;
    color: #fff;
    letter-spacing: 3px;
    text-align: center;
    padding: 70px 0px;
    margin: 0px; }
  .box-inscripcion .body {
    background: #fff;
    margin: 0 auto;
    width: 570px;
    padding: 30px; }
    .box-inscripcion .body div {
      position: relative;
      padding-bottom: 15px; }
    .box-inscripcion .body label {
      display: block;
      color: #6e6e6e;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 2px; }
    .box-inscripcion .body .text {
      border: 0px;
      border-bottom: 1px solid #545454;
      width: 100%;
      height: 33px;
      font-size: 18px; }
    .box-inscripcion .body textarea {
      border: 0px;
      border-bottom: 1px solid #545454;
      width: 100%;
      height: 85px; }
    .box-inscripcion .body .error {
      padding-top: 3px;
      display: block;
      color: #ef4726;
      position: absolute;
      top: 0px;
      font-size: 12px;
      right: 10px;
      display: none; }
    .box-inscripcion .body p {
      display: block;
      margin-top: -10px;
      font-size: 14px;
      font-family: 'Source Sans Pro', sans-serif;
      color: #343434;
      padding-bottom: 20px; }
    .box-inscripcion .body span {
      display: block;
      font-size: 18px;
      letter-spacing: 3px;
      padding-bottom: 2px;
      text-transform: uppercase;
      color: #ef4726; }
      .box-inscripcion .body span label {
        font-size: 18px;
        color: #ef4726;
        font-weight: normal; }
      .box-inscripcion .body span input {
        float: left;
        display: block;
        margin-right: 5px;
        border: 1px solid #ef4726; }
    .box-inscripcion .body #btn-inscripcion {
      padding: 20px;
      font-size: 18px;
      color: #ff;
      text-transform: uppercase;
      border-radius: 0px;
      margin-top: 15px;
      letter-spacing: 3px; }

.footer {
  background: #272727;
  padding: 60px 0 20px 0px;
  text-align: center;
  color: #bdbdbd;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 14px; }
  .footer img {
    margin: 0 9px; }
  .footer p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    padding-top: 60px;
    font-size: 16px; }
  .footer a {
    color: #bdbdbd;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal; }
  div#content-msj-exito {
    font-size: 17px;
    padding: 36px 0;
    text-align: center;
}