@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

@media (max-width: 1200px) {
  .box-programacion .box-programacion .list-programacion {
    padding: 0px 181px 0 280px;
    text-align: left; }
  .box-inicio .container {
    padding: 60px 120px;
    text-align: center; } }

@media (max-width: 992px) {
  #menu #logo {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background: url(../images/logo.png) left top no-repeat;
    height: 58px;
    width: 219px;
    float: left;
    background-size: 90%; }
  #menu .box-redes a {
    background: #fff;
    color: #272727;
    display: inline-block;
    width: 26px;
    height: 26px;
    text-align: center;
    font-size: 14px;
    padding-top: 4px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px; }
  #menu .box-redes {
    margin-left: 20px;
    padding: 10px 0px;
    float: right; }
  #menu .sidebar-navs {
    padding: 11px 0 0 0px; }
  #menu .sidebar-navs a {
    font-size: 11px;
    color: #fff;
    text-transform: uppercase; }
  #menu .sidebar-navs li {
    float: left;
    padding-right: 13px; }
  #menu {
    background: #272727;
    height: 101px; }
  .box-inicio .container {
    padding: 60px 40px;
    text-align: center; }
  .box-inicio h2 {
    font-size: 20px;
    padding-bottom: 40px;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .box-inicio p {
    font-size: 16px;
    line-height: 150%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100; }
  .box-programacion h3 {
    font-size: 30px;
    color: #ef4726;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    padding: 45px 0px 35px 0px; }
  .box-programacion .box-datos-principales {
    text-align: center;
    padding: 60px 20px; }
  .box-programacion .box-datos-principales .right p,
  .box-programacion .box-datos-principales .left p {
    font-size: 20px; }
  .box-programacion .box-datos-principales .center p {
    font-size: 14px; }
  .box-programacion .box-programacion .list-programacion {
    padding: 0px 101px 0 130px;
    text-align: left; } }

@media (max-width: 768px) {
  .container {
    width: 100%; }
  .box-redes {
    display: none; }
  #menu {
    transition: all 0.5s ease 0s;
    overflow: hidden; }
  #menu.toggled {
    background: #272727;
    height: 221px; }
  #menu #menu-toggle {
    position: absolute;
    right: 10px;
    top: 40px;
    display: block; }
  .icon-bar {
    display: block;
    width: 38px;
    height: 4px;
    border-radius: 1px;
    background: #fff;
    margin-bottom: 8px; }
  #menu .sidebar-navs {
    display: none; }
  #menu .sidebar-navs {
    display: block;
    position: absolute;
    left: 0px;
    top: 80px;
    background: #272727;
    padding: 20px; }
  #menu .sidebar-navs li {
    width: 100%;
    padding-bottom: 10px; }
  .box-inicio .container {
    padding: 20px 20px 40px 20px;
    text-align: center; }
  .box-inicio p, .box-inicio h1 {
    font-size: 14px; }
  .box-inicio h2 {
    font-size: 15px; }
  .box-inicio a {
    border: 2px solid #fff;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    padding: 9px 19px;
    transition: all 0.5s ease 0s; }
  .box-conferencistas h3 {
    font-size: 18px;
    color: #3e3e3e;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    padding: 35px 0px; }
  .box-conferencistas .item {
    background: #fff;
    border: 1px solid #ef4726;
    text-align: center;
    padding: 10px 10px;
    min-height: auto;
    margin-bottom: 10px; }
  .box-conferencistas .item blockquote {
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    border: 0px;
    min-height: auto; }
  .box-conferencistas .item img {
    max-width: 70%; }
  .box-conferencistas .item h4 {
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase; }
  .box-programacion h3 {
    font-size: 18px;
    color: #ef4726;
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    padding: 25px 0px 15px 0px; }
  .box-programacion h4, .box-programacion p {
    font-size: 15px; }
  .box-programacion .ciudades a.medio {
    margin: 0 10px; }
  .box-programacion .ciudades a {
    font-size: 12px;
    color: #fff;
    background: #ef4726;
    width: 82px;
    text-align: center;
    display: inline-block;
    letter-spacing: 2px;
    padding: 15px 0px;
    z-index: 3;
    position: relative;
    transition: all 0.5s ease 0s; }
  .box-programacion .box-datos-principales {
    text-align: center;
    padding: 10px 0px; }
  .box-programacion .box-datos-principales strong {
    font-size: 15px;
    color: #ef4726;
    letter-spacing: 2px;
    display: block;
    font-family: 'Source Sans Pro', sans-serif; }
  .box-programacion .box-datos-principales .right p, .box-programacion .box-datos-principales .left p {
    font-size: 12px;
    letter-spacing: 1px; }
  .box-programacion .box-datos-principales .col-xs-4 {
    padding: 0px; }
  .box-programacion .box-programacion h4 {
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 10px; }
  .box-programacion .box-programacion .list-programacion {
    padding: 0px 0px 0 0px;
    text-align: left; }
  .box-programacion .box-programacion .list-programacion .right h5 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .box-programacion .box-programacion .list-programacion .right p,
  .box-programacion .box-programacion .list-programacion .right div blockquote {
    font-size: 13px;
    font-style: italic;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 130%; }
  .box-programacion .box-programacion .list-programacion .left p {
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    padding-right: 30px; }
  .box-programacion .ciudades:after {
    content: "";
    position: absolute;
    left: 30%;
    top: 27px;
    width: 40%;
    height: 4px;
    background: #6a6a6a;
    display: block;
    z-index: 1; }
  .box-programacion .box-datos-principales .center p {
    font-size: 12px;
    line-height: 110%;
    letter-spacing: 0px; }
  .box-programacion {
    background: #fff;
    padding-bottom: 10px;
    text-align: center; }
  .box-inscripcion h5 {
    font-size: 16px;
    color: #fff;
    letter-spacing: 3px;
    text-align: center;
    padding: 30px 0px;
    margin: 0px; }
  .box-inscripcion .body {
    background: #fff;
    margin: 0 auto;
    width: 100%;
    padding: 20px; }
  .box-inscripcion .body label {
    display: block;
    color: #6e6e6e;
    font-size: 14px; }
  .box-inscripcion .body .text {
    border: 0px;
    border-bottom: 1px solid #545454;
    width: 100%;
    height: 25px;
    font-size: 18px; }
  .box-inscripcion .body span {
    display: block;
    font-size: 13px; }
  .box-inscripcion .body #btn-inscripcion {
    padding: 15px;
    font-size: 13px; }
  .box-inscripcion {
    min-height: auto; }
  .footer img {
    margin: 0 9px;
    height: 33px; }
  .footer {
    background: #272727;
    padding: 30px 0 20px 0px;
    text-align: center;
    color: #bdbdbd;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    font-size: 12px; }
  .footer p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    padding-top: 0px;
    font-size: 10px;
    text-align: center;
    margin: 0px; }
  .footer .text-left {
    padding-top: 15px; } }
