/* variables */
.container {
    width: 1170px;
}

$primario: #ef4726;
$hoverprimario: #bc3318;
$plomo: #272727;

/* mixin */
@mixin fondo($imagen) {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background: $imagen;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@import 'generales';  

#menu{
	background: $plomo;
	height: 120px;

	.container{
		padding: 35px 15px;
		position: relative;
	}

	#logo{
		 @include fondo( url(../images/logo.png) left top no-repeat );
		 height: 58px;
		 width: 279px; 
		 float: left; 
	}
	#menu-toggle{
		display: none;
	}
	.sidebar-navs{
		float: right;
		padding-top: 17px;
		list-style: none;

		li{
			float: left;
			padding-right: 15px;
		}

		a{
			font-size: 14px;
			color: #fff;
			text-transform: uppercase;
		}
	}

	.box-redes{
		margin-left: 30px;
		padding: 10px 0px;
		float: right;

		a{
			background: #fff;
		    color: #272727;
		    display: inline-block;
		    width: 34px;
		    height: 34px;
		    text-align: center;
		    font-size: 20px;
		    padding-top: 4px;
		    @include border-radius(50%);
		    margin-right: 5px;
		}

	}

	#btn-ir{
		position: absolute;
		right: 20px;
		top: 10px;
		color: $primario;
		font-size: 11px;
		font-weight: bold;
		letter-spacing: 1px;

		i{
			font-size: 20px;
		    display: block;
		    float: left;
		    margin-top: -3px;
		    margin-right: 5px;
		}
	}

}


.box-inicio{
	background: $primario;
	color: #fff;

	.container {
	    padding: 60px 220px;
	    text-align: center;
	}

	p{
		font-size: 18px;
		line-height: 150%;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 100;
	}
	h1{
		font-size: 16px;
		letter-spacing: 3px;
		text-transform: uppercase;
		padding-top: 6px;
	}
	h2{
		font-size: 25px;
		padding-bottom: 60px;
		letter-spacing: 3px;
		text-transform: uppercase;
	}
	a{
		border: 2px solid #fff;
		font-size: 18px;
		letter-spacing: 3px;
		text-transform: uppercase;
		color: #fff;
		padding: 15px 20px;
		transition: all 0.5s ease 0s;
	}
	a:hover{
		text-decoration: none;
		background: #fff;
		color: $primario;
	}
}

.box-conferencistas{
	background: #f3f3f3;
	padding-bottom: 60px;

	h3{
		font-size: 35px ;
		color: #3e3e3e;
		text-transform: uppercase;
		text-align: center;
		margin: 0px;
		padding: 55px 0px;
	}
	.item{
		background: #fff;
		border: 1px solid $primario;
		text-align: center;
		padding: 20px 30px;
		min-height: 633px;

		blockquote{
			font-size: 20px;
			letter-spacing: 1px;
			text-transform: uppercase;
			font-family: 'Source Sans Pro', sans-serif;
			font-weight: bold;
			border: 0px;
			min-height: 132px;
		}
		h4{
			font-size: 25px;
			letter-spacing: 1px;
			text-transform: uppercase;
		}
		span{
			font-size: 15px; 
			font-weight: bold;
			font-family: 'Source Sans Pro', sans-serif;
		}
		p{
			font-size: 15px;  
			font-family: 'Source Sans Pro', sans-serif;
		}
		strong{
			font-size: 14px;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: $primario;
		}
	}
}

.box-programacion{
	background: #fff;
	padding-bottom: 60px;
	text-align: center;

	h3{ 
		font-size: 35px ;
		color: $primario;
		text-transform: uppercase;
		text-align: center;
		margin: 0px;
		padding: 55px 0px 45px 0px;
	}
	h4{
		font-size: 24px;
		font-weight: bold;
		font-family: 'Source Sans Pro', sans-serif;
		margin-bottom: 3px;
	}
	p{
		font-size: 17px; 
		margin-top: 0px;
		font-family: 'Source Sans Pro', sans-serif;
	}

	.ciudades{
		padding-top: 0px;
		position: relative;
		z-index: 2;

		a{
			font-size: 18px;
			color: #fff;
			background: $primario;
			width: 187px;
			text-align: center;
			display: inline-block;
			letter-spacing: 2px;
			padding: 15px 0px;
			z-index: 3;
			position: relative;
			transition: all 0.5s ease 0s;
		}
		a:hover{
			text-decoration: none;
			background: #444444;
		}
		a.medio{
			margin: 0 50px;
		}
		.activo{
			background: #444444;
		}
	}
	.ciudades:after{
		content: "";
		position: absolute;
		left: 25%;
		top: 27px;
		width: 50%;
		height: 4px;
		background: #6a6a6a;
		display: block;
		z-index: 1;
	}

	.itemciudad{
		display: none;
	}
	.box-datos-principales{
		text-align: center;
		padding: 60px 120px;

		strong{
				font-size: 35px;
				color: $primario;
				letter-spacing: 2px;
				display: block;
				font-family: 'Source Sans Pro', sans-serif;
			}

		.left{
			
			p{
				font-size: 35px;
				color:#333333 ;
				letter-spacing: 2px;
				font-family: 'Source Sans Pro', sans-serif;
			}
		}

		.center{ 
			p{
				font-size: 18px;
				color:#333333 ;
				letter-spacing: 2px; 
				margin: 0px;
			}
		}

		.right{ 
			p{
				font-size: 35px;
				color:#333333 ;
				letter-spacing: 2px;
				font-family: 'Source Sans Pro', sans-serif;
			}
		}
	}

	.box-programacion{
		h4{
			font-size: 17px;  
			text-align: center;
			letter-spacing: 2px;
			text-transform: uppercase;
			padding-bottom: 40px;
		}

		.list-programacion {
		    padding: 0px 261px 0 400px;
		    text-align: left;

		    .left{
		    	padding-top: 5px; 
		    	position: relative;
		    	p{
		    		font-size: 18px;
		    		letter-spacing: 2px;
		    		font-weight: 600;
		    	}
		    }
		    .right{
		    	background: #f3f3f3;
		    	margin-bottom: 10px;
		    	position: relative;

		    	h5{
		    		font-size: 18px;
		    		text-transform: uppercase;
		    		letter-spacing: 2px;
		    	}
		    	p{
		    		font-size: 14px;
		    		font-style: italic;
		    		font-family: 'Source Sans Pro', sans-serif;
		    	}
		    	div{
		    		padding-bottom: 20px;

		    		blockquote{
		    			font-size: 18px;
			    		font-style: italic;
			    		font-family: 'Source Sans Pro', sans-serif;
			    		border: 0px;
			    		padding: 0px;
			    		line-height: 110%;
			    		margin: 5px;
		    		}
		    		span{
		    			font-size: 14px;
			    		font-style: italic;
			    		font-weight: bold;
			    		font-family: 'Source Sans Pro', sans-serif;
		    		}
		    	}
		    }
		    .right:after {
		    	content: "";
		    	position: absolute;
		    	left: -16px;
		    	top: 5px;
			     width: 0; 
			     height: 0; 
			     border-right: 16px solid #f3f3f3;
			     border-top: 12px solid transparent;
			     border-bottom: 12px solid transparent; 
			}
			.right:before {
		    	content: "";
		    	position: absolute;
		    	left: -40px;
    			top: 16px;
			    width: 3px; 
			    height: 105%; 
			    display: block;
			    background: #6a6a6a; 
			}
			.left:before {
		    	content: "";
		    	position: absolute;
		    	right: 31px;
    			top: 9px;
			    width: 15px; 
			    height: 15px; 
			    display: block;
			    background: $primario;
			    @include border-radius(50%); 
			    z-index: 3;
			}
			.right.last:before {
			    display: none;
			}

		}
	}  

}

.box-inscripcion{  
		background: url(../images/bg_inscribete.jpg) center top no-repeat ;
		min-height: 1015px;

		h5{
			font-size: 36px;
			color: #fff;
			letter-spacing: 3px;
			text-align: center;
			padding: 70px 0px;
			margin: 0px; 
		}

		.body{
			background: #fff;
			margin: 0 auto;
			width: 570px;
			padding: 30px;

			div{
				position: relative;
				padding-bottom: 15px;
			}

			label{
				display: block;
				color: #6e6e6e;
				font-size: 18px;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
			.text{
				border: 0px;
				border-bottom: 1px solid #545454;
				width: 100%;
				height: 33px;
				font-size: 18px;
			}
			textarea{
				border: 0px;
				border-bottom: 1px solid #545454;
				width: 100%;
				height: 85px; 
			}
			.error{
				padding-top: 3px;
				display: block;
				color: $primario; 
				position: absolute;
				top: 0px;
				font-size: 12px;
				right: 10px;
				display: none;
			}
			p{
				display: block;
				margin-top: -10px;
				font-size: 14px;
				font-family: 'Source Sans Pro', sans-serif;
				color: #343434;
				padding-bottom: 20px;
			}
			span{
				display: block;
				font-size: 18px;
				letter-spacing: 3px;
				padding-bottom: 2px;
				text-transform: uppercase;
				color: $primario; 

				label{
					font-size: 18px;
					color: $primario;
					font-weight: normal;
				}

				input{
					float:left;
					display: block;
					margin-right: 5px;
					border: 1px solid $primario;
				}
			}
			#btn-inscripcion{
				padding: 20px;
				font-size: 18px;
				color: #ff;
				text-transform: uppercase;
				border-radius: 0px;
				margin-top: 15px;
				letter-spacing: 3px;
			}

		}

		
	}

.footer{
	background: #272727;
	padding: 60px 0 20px 0px;
	text-align: center;
	color: #bdbdbd;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 100;
	font-size: 14px;

	img{
		margin: 0 9px;
	}

	p{
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 100;
		padding-top: 60px;
		font-size: 16px;
	}
	a{
		color: #bdbdbd;
		text-decoration: none;
		font-size: 16px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: normal;
	}
 
}	