/* Galleria Twelve Theme 2013-11-04 | http://galleria.io/license/ | (c) Aino */

#galleria-loader{height:1px!important}

.galleria-container {
    position: relative;
    overflow: hidden;
    font: 11px/1.4 arial,sans-serif;
    color: #fff;
}
.galleria-container img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.galleria-stage {
    overflow: hidden;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 30px;
}
.galleria-container.fullscreen .galleria-stage { bottom: 0 }
.galleria-bar {
    height: 31px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #222 url(bar.png) repeat-x;
    z-index: 3;
}
.galleria-container.light .galleria-bar{background:#fff;height:30px;;}
.galleria-s1,
.galleria-s2,
.galleria-s3,
.galleria-s4 {
    background: url(separator.png);
    height: 29px;
    width: 2px;
    position: absolute;
    left: 28px;
    bottom: 1px;
}
.galleria-container.light .galleria-s1,
.galleria-container.light .galleria-s2,
.galleria-container.light .galleria-s3,
.galleria-container.light .galleria-s4,
.galleria-container.light .galleria-counter{background-image:url(separator-neg.png);bottom:0;height:30px;}
.galleria-s2 { left: 58px }
.galleria-s3 {
    right: 29px;
    left: auto;
}
.galleria-s4 {
    right: 58px;
    left: auto;
}
.galleria-progress {
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background: #aaa;
    opacity: .5;
    z-index: 3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

.galleria-thumblink,
.galleria-fullscreen,
.galleria-play,
.galleria-popout {
    width: 29px;
    height: 29px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background: url(thumbs.png) no-repeat 50% 50%;
    cursor: pointer;
}

.galleria-container.light .galleria-thumblink,
.galleria-container.light .galleria-fullscreen,
.galleria-container.light .galleria-play,
.galleria-container.light .galleria-popout{bottom:0;height:30px;}

.galleria-container.light .galleria-thumblink{
    background-image: url(thumbs-neg.png);
}
.galleria-fullscreen,
.galleria-popout {
    left: auto;
    right: 0;
    background-image: url(fullscreen.png);
    background-position: 8px 7px;
}
.galleria-container.light .galleria-fullscreen{
    background-image: url(fullscreen-neg.png);background-position: 8px 8px;
}
.galleria-popout {
    background-image: url(popout.png);
    right: 30px;
    background-position: 50% 50%;
}
.galleria-container.light .galleria-popout{
    background-image: url(popout-neg.png);
}
.galleria-play {
    left: 30px;
    background-image: url(playpause.png);
    background-position: 10px 9px;
}
.galleria-container.light .galleria-play{
    background-image: url(playpause-neg.png);
}
.galleria-play.playing { background-position: 10px -91px }
.galleria-fullscreen.open { background-position: 8px -93px }

.galleria-container.notouch .galleria-thumblink:hover,
.galleria-container.touch .galleria-thumblink:active,
.galleria-thumblink.open,
.galleria-container.notouch .galleria-fullscreen:hover,
.galleria-container.touch .galleria-fullscreen:active,
.galleria-container.notouch .galleria-play:hover,
.galleria-container.touch .galleria-play:active,
.galleria-container.notouch .galleria-popout:hover,
.galleria-container.touch .galleria-popout:active { background-color: #000 }

.galleria-container.light.notouch .galleria-thumblink:hover,
.galleria-container.light.touch .galleria-thumblink:active,
.galleria-container.light .galleria-thumblink.open,
.galleria-container.light.notouch .galleria-fullscreen:hover,
.galleria-container.light.touch .galleria-fullscreen:active,
.galleria-container.light.notouch .galleria-play:hover,
.galleria-container.light.touch .galleria-play:active,
.galleria-container.light.notouch .galleria-popout:hover,
.galleria-container.light.touch .galleria-popout:active { background-color: #eee }

.galleria-thumbnails-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: url(bg.png);
    z-index: 2;
}
.galleria-thumbnails-list {
    position: absolute!important;
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 41px;
    overflow: auto!important;
}
.galleria-thumbnails .galleria-image {
    width: 80px;
    height: 45px;
    float: left;
    margin: 0 7px 7px 0;
    border: 3px solid #fff;
    cursor: pointer;
}
.galleria-container.notouch .galleria-thumbnails .galleria-image:hover,
.galleria-container.touch .galleria-thumbnails .galleria-image:active {
    opacity: .9;
    box-shadow: 0 0 3px rgba(0,0,0,.4);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.4);
}
.galleria-info {
    position: absolute;
    overflow: hidden;
    height: 29px;
    line-height: 29px;
    left: 70px;
    right: 70px;
    bottom: 1px;
    color: #bbb;
}
.galleria-container.light .galleria-info{color:#888;}
.galleria-info > *,
.galleria-info-text > * { display: inline }
.galleria-info-title {
    color: #fff;
    font-weight: bold;
    padding: 0 10px;
}
.galleria-container.light .galleria-info-title{color:#000;}
.galleria-info-text { padding-left: 10px }
.galleria-counter {
    background: url(separator.png) no-repeat 100% 0;
    display: inline-block;
    *display: inline;
    padding-right: 10px;
    _height: 29px;
    zoom: 1;
}
.galleria-loader {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -24px 0 0 -24px;
    z-index: 2;
    display: none;
    background: #000 url(loader.gif) no-repeat 50% 50%;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.galleria-image-nav {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    width: 100%;
    left: 0;
}
.galleria-image-nav-left,
.galleria-image-nav-right {
    cursor: pointer;
    width: 36px;
    height: 36px;
    position: absolute;
    left: 20px;
    z-index: 2;
    /*background: url(nav.png);*/
}
.galleria-container.light .galleria-image-nav-left,
.galleria-container.light .galleria-image-nav-right{background-image:url(nav-neg.png);}
.galleria-image-nav-right {
    left: auto;
    right: 20px;
    background-position: -36px 0;
    z-index: 2;
}
.galleria-container.notouch .galleria-image-nav-left:hover,
.galleria-container.touch .galleria-image-nav-left:active { background-position: 0 -36px }
.galleria-container.notouch .galleria-image-nav-right:hover,
.galleria-container.touch .galleria-image-nav-right:active { background-position: -36px -36px }
.galleria-thumb-nav-left,
.galleria-thumb-nav-right {
    cursor: pointer;
    display: none;
    background-position: -495px 5px;
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 23px;
    z-index: 3;
    opacity: .8;
}
.galleria-thumb-nav-right {
    background-position: -578px 5px;
    border-right: none;
    right: 0;
    left: auto;
}
.galleria-thumbnails-container .disabled,
.galleria-thumbnails-container .disabled:hover,
.galleria-thumbnails-container .disabled:active {
    opacity: .2;
    cursor: default;
}
.galleria-container.notouch .galleria-thumb-nav-left:hover,
.galleria-container.touch .galleria-thumb-nav-left:active,
.galleria-container.notouch .galleria-thumb-nav-right:hover,
.galleria-container.touch .galleria-thumb-nav-right:active {
    opacity: 1;
    background-color: #111;
}
.galleria-container.light.notouch .galleria-thumb-nav-left:hover,
.galleria-container.light.touch .galleria-thumb-nav-left:active,
.galleria-container.light.notouch .galleria-thumb-nav-right:hover,
.galleria-container.light.touch .galleria-thumb-nav-right:active { background-color:#eee; }

.galleria-carousel .galleria-thumb-nav-left,
.galleria-carousel .galleria-thumb-nav-right { display: block }
.galleria-lightbox-content { background: url(loader_pos.gif) no-repeat 50% 50% }

@media only screen and (max-width: 360px) {
    .galleria-thumbnails .galleria-image {
        width: 60px;
        height: 42px;
        margin: 0 4px 4px 0;
        border-width: 2px;
    }
}
