/* variables */
/* mixin */
/* generale */
* {
  font-family: 'Montserrat', sans-serif;
  outline: 0px; }

.btn-primary {
  transition: all 0.5s ease 0s; }

.btn-primary:hover {
  background: #982812;
  border: 1px solid #ef4726; }

.scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.icon-bar {
  display: block;
  width: 48px;
  height: 6px;
  border-radius: 1px;
  background: #fff;
  margin-bottom: 8px; }

.btn-default {
  color: #fb7b61;
  background-color: #fff;
  border: 2px solid #fb7b61;
  padding: 20px;
  font-size: 18px;
  text-transform: uppercase; }

.modal-header {
  padding: 15px;
  border-bottom: 0px solid #e5e5e5; }

.close {
  float: right;
  font-size: 25px;
  font-weight: 400;
  line-height: 1;
  color: #ef4726;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=10);
  opacity: 1; }

.autocomplete-suggestions {
  padding-top: 20px; }

.autocomplete-suggestion {
  padding: 10px 10px;
  font-size: 19px; }
  .autocomplete-suggestion strong {
    color: #ef4726; }

.autocomplete-suggestion:hover {
  background: #eaeaea; }

/*menu lateral*/
#padre-side {
  padding-left: 0px; }

.menu-lateral {
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.menu-lateral.toggled {
  height: 420px !important; }

#menu-toggle {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  display: none; }

/* menu principal */
.menu-lateral {
  background: #272727;
  padding-top: 30px;
  height: 900px;
  margin-right: -30px;
  position: relative;
  z-index: 999;
  overflow: hidden; }
  .menu-lateral #logo {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background: url(../img/logo.png) left top no-repeat;
    height: 61px;
    width: 306px;
    margin: 0px auto 30px auto; }
  .menu-lateral ul {
    list-style: none;
    padding: 0px 0 0 80px;
    margin: 0px; }
    .menu-lateral ul li {
      padding: 10px 0px;
      position: relative; }
      .menu-lateral ul li a {
        font-size: 16px;
        color: #fff;
        text-transform: uppercase; }
      .menu-lateral ul li a:hover {
        text-decoration: none;
        font-weight: bold; }
    .menu-lateral ul li.lines {
      padding: 15px 0px;
      margin: 5px 0px; }
    .menu-lateral ul li.lines:before {
      content: " ";
      position: absolute;
      width: 30px;
      height: 3px;
      background: #fff;
      top: 0px;
      left: 0px; }
    .menu-lateral ul li.lines:after {
      content: " ";
      position: absolute;
      width: 30px;
      height: 3px;
      background: #fff;
      bottom: 0px;
      left: 0px; }
  .menu-lateral .box-suscribete:after {
    content: " ";
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    bottom: 0px;
    left: 0px; }
  .menu-lateral .box-suscribete {
    margin-left: 80px;
    padding: 20px 0px;
    position: relative; }
    .menu-lateral .box-suscribete p {
      font-size: 18px;
      color: #9f9f9f;
      line-height: 120%; }
      .menu-lateral .box-suscribete p strong {
        text-transform: uppercase;
        color: #fff;
        display: block; }
    .menu-lateral .box-suscribete input.text {
      border: 2px solid #ef4726;
      height: 51px;
      background: none;
      width: 170px;
      vertical-align: top;
      padding-left: 10px;
      color: #fff; }
    .menu-lateral .box-suscribete .agregar {
      width: 53px;
      height: 51px;
      color: #fff;
      background: #ef4726;
      display: block;
      font-size: 21px;
      text-align: center;
      padding-top: 10px;
      display: inline-block; }
  .menu-lateral .box-buscador {
    margin-left: 80px;
    padding: 20px 0px; }
    .menu-lateral .box-buscador .box {
      border: 2px solid #fff;
      width: 236px;
      position: relative; }
    .menu-lateral .box-buscador .text-buscar {
      border: 2px solid #272727;
      height: 51px;
      background: #fff;
      padding: 0 10px;
      width: 179px;
      vertical-align: top; }
    .menu-lateral .box-buscador .btn-buscar {
      width: 53px;
      height: 51px;
      color: #fff;
      border-right: 2px solid #fff;
      display: block;
      font-size: 21px;
      text-align: center;
      padding-top: 10px;
      display: inline-block;
      float: left; }
    .menu-lateral .box-buscador .text-buscar:focus {
      background: #fff;
      border: 2px solid #272727; }
    .menu-lateral .box-buscador .option {
      position: absolute;
      left: 53px;
      top: 53px;
      background: #fff;
      width: 181px;
      padding: 10px 20px;
      display: none; }
      .menu-lateral .box-buscador .option label {
        display: block;
        font-size: 14px;
        color: #717171;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 100; }
        .menu-lateral .box-buscador .option label input {
          margin-right: 5px; }
  .menu-lateral .box-redes {
    margin-left: 80px;
    padding: 20px 0px; }
    .menu-lateral .box-redes a {
      background: #717171;
      color: #272727;
      display: inline-block;
      width: 34px;
      height: 34px;
      text-align: center;
      font-size: 20px;
      padding-top: 4px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      margin-right: 5px; }

.section-1 .row {
  /*background: url(../img/home.jpg) left top no-repeat; */
  position: relative; }

.section-1 .fondo {
  margin-left: -1px;
  max-width: 100%; }

.section-1 .icn_scroll {
  position: absolute;
  left: 50%;
  bottom: 40px;
  margin-left: -20px; }

.section-1 .txt {
  position: absolute;
  top: 22%;
  left: 0px; }

.section-1 h1 {
  margin: 0px;
  padding-top: 0px;
  font-size: 75px;
  color: #fff;
  width: 710px;
  padding-bottom: 25px;
  padding-left: 130px;
  font-weight: bold;
  text-transform: uppercase; }

.section-1 p {
  font-size: 22px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  width: 600px;
  line-height: 130%;
  padding-bottom: 20px;
  font-weight: 400;
  padding-left: 130px; }

.section-1 a {
  padding: 26px 30px;
  font-size: 18px;
  margin-left: 130px;
  text-transform: uppercase; }

.section-2 {
  position: relative; }
  .section-2 .btn-mas {
    position: absolute;
    left: 50%;
    bottom: 2px;
    display: block;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    font-size: 17px;
    padding-top: 10px;
    line-height: 120%;
    margin-left: -30px;
    display: block;
    z-index: 222; }
  .section-2 .top {
    text-align: center; }
    .section-2 .top img {
      margin: 58px 0px 41px 0px; }
    .section-2 .top h2 {
      font-size: 22px;
      color: #333333;
      width: 60%;
      line-height: 164%;
      text-align: center;
      display: inline-block;
      text-transform: uppercase; }
  .section-2 .scroller:before {
    content: "";
    position: absolute;
    left: 50%;
    top: -25px;
    width: 13px;
    height: 13px;
    border: 1px solid #d4d4d4;
    margin-left: -6px;
    background: #d4d4d4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .section-2 .linea-tiempo {
    background: url(../img/bg_linea_tiempo.jpg) left 130px no-repeat;
    padding-top: 74px;
    padding-left: 64px;
    padding-right: 140px;
    height: 580px;
    overflow: hidden;
    position: relative; }
    .section-2 .linea-tiempo .item {
      padding: 30px;
      background: #fff;
      margin-bottom: 60px;
      position: relative; }
    .section-2 .linea-tiempo h3 {
      margin: 0px; }
      .section-2 .linea-tiempo h3 a {
        display: block;
        font-size: 18px;
        color: #ef4726;
        line-height: 120%;
        padding-bottom: 20px;
        text-transform: uppercase;
        margin: 0px;
        position: relative; }
    .section-2 .linea-tiempo p {
      font-size: 18px;
      color: #333;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 100px; }
    .section-2 .linea-tiempo .item-1, .section-2 .linea-tiempo .item-4 {
      background: #ef4726; }
      .section-2 .linea-tiempo .item-1 h3 a, .section-2 .linea-tiempo .item-4 h3 a {
        color: #fff; }
      .section-2 .linea-tiempo .item-1 p, .section-2 .linea-tiempo .item-4 p {
        font-size: 18px;
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 100px; }
    .section-2 .linea-tiempo .item-2 {
      margin-top: 140px; }
    .section-2 .linea-tiempo .item-3 {
      margin-top: -160px; }
    .section-2 .linea-tiempo .item-1:before, .section-2 .linea-tiempo .item-3:before {
      content: "";
      position: absolute;
      right: 0px;
      top: 100%;
      width: 13px;
      height: 13px;
      border: 1px solid #d4d4d4;
      margin-right: -49px;
      background: #d4d4d4;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .section-2 .linea-tiempo .item-1 h3:before, .section-2 .linea-tiempo .item-3 h3:before {
      content: "";
      position: absolute;
      right: 0px;
      top: 150%;
      width: 13px;
      height: 13px;
      border: 1px solid #d4d4d4;
      margin-right: -79px;
      background: #d4d4d4;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .section-2 .linea-tiempo .item-1:after, .section-2 .linea-tiempo .item-3:after {
      content: "";
      position: absolute;
      right: 0px;
      top: -20px;
      margin-right: -44px;
      width: 2px;
      height: 150%;
      background: #d4d4d4; }

.section-3 .row {
  background: #f6f6f6; }

.section-3 .scroll {
  width: 100%;
  height: 800px;
  overflow: hidden;
  display: block; }

.section-3 h2 {
  text-align: center;
  font-size: 24px;
  color: #393939;
  margin: 40px 0px;
  letter-spacing: 5px;
  text-transform: uppercase; }

.section-3 .box {
  background: #fff;
  padding: 30px;
  margin-bottom: 30px;
  overflow: hidden; }
  .section-3 .box img {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -30px;
    margin-bottom: 30px; }
  .section-3 .box span {
    font-size: 18px;
    color: #ef4726;
    text-transform: uppercase;
    line-height: 150%;
    display: block;
    font-weight: 100;
    letter-spacing: 3px; }
    .section-3 .box span strong {
      display: block;
      color: #272727;
      font-size: 21px; }
  .section-3 .box h3 {
    font-size: 33px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600; }
    .section-3 .box h3 a {
      color: #333;
      font-weight: 600;
      font-family: 'Source Sans Pro', sans-serif; }

.section-3 .box-columna {
  text-align: center; }
  .section-3 .box-columna img {
    border: 8px solid #dddcdc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto 30px auto;
    display: block; }

.section-3 .box-infografia {
  text-align: center; }
  .section-3 .box-infografia img {
    margin-top: 10px; }

.section-4 .row {
  background: #272727; }

.section-4 .scroll {
  width: 100%;
  height: 800px;
  overflow: hidden;
  display: block; }

.section-4 h2 {
  text-align: center;
  font-size: 24px;
  color: #fff;
  margin: 40px 0px;
  letter-spacing: 5px;
  text-transform: uppercase; }

.section-4 .box-noticia {
  background: #333333;
  padding: 30px;
  margin-bottom: 30px;
  color: #fff;
  overflow: hidden;
  position: relative; }
  .section-4 .box-noticia img {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -30px;
    margin-bottom: 30px; }
  .section-4 .box-noticia span {
    color: #7f7f7f;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100; }
  .section-4 .box-noticia h3 {
    font-size: 18px;
    line-height: 130%;
    margin: 0px;
    padding-bottom: 24px;
    padding-top: 4px;
    text-transform: uppercase;
    letter-spacing: 2px; }
    .section-4 .box-noticia h3 a {
      color: #fff; }
  .section-4 .box-noticia p {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    line-height: 135%; }
  .section-4 .box-noticia .share {
    width: 80%;
    height: 25px;
    background: #272727;
    margin-top: 20px; }
  .section-4 .box-noticia .ver-mas {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background: url(../img/icn_leermas.png) left top no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 35px;
    bottom: 33px; }

.section-5 {
  padding-bottom: 100px; }
  .section-5 h2 {
    text-align: center;
    font-size: 36px;
    color: #242424;
    margin: 86px 0 0 0px;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .section-5 h3 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 36px;
    color: #ef4726;
    margin: 0px 0 60px 0px;
    height: 39px;
    display: block; }
  .section-5 p {
    text-align: center;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0 80px; }
  .section-5 form {
    width: 390px;
    margin: 0 auto;
    margin-top: 45px; }
    .section-5 form .text {
      border: 2px solid #000;
      height: 67px;
      background: none;
      width: 225px;
      vertical-align: top;
      float: left; }
    .section-5 form .btn-enviar {
      width: 163px;
      height: 67px;
      color: #fff;
      background: #000;
      border: 0px;
      display: block;
      font-size: 18px;
      text-align: center;
      padding-top: 0px;
      display: inline-block;
      font-family: 'Source Sans Pro', sans-serif; }
    .section-5 form .text-buscar:focus {
      background: #fff;
      border: 2px solid #272727; }

.section-6 {
  position: relative; }
  .section-6 .btn-mas {
    position: absolute;
    left: 50%;
    bottom: 2px;
    display: block;
    width: 60px;
    height: 60px;
    border: 2px solid #ef4726;
    text-align: center;
    text-transform: uppercase;
    color: #ef4726;
    letter-spacing: 2px;
    font-size: 17px;
    padding-top: 10px;
    line-height: 120%;
    margin-left: -30px;
    display: block;
    z-index: 222; }
  .section-6 .row {
    background: #ffede9;
    text-align: center; }
  .section-6 h2 {
    text-align: center;
    font-size: 24px;
    color: #ef4726;
    margin: 30px 0px;
    text-transform: uppercase;
    letter-spacing: 5px; }
  .section-6 h3 {
    font-size: 18px;
    line-height: 30px;
    color: #333333;
    position: relative;
    text-transform: uppercase; }
    .section-6 h3 a {
      color: #333; }
  .section-6 .box-publicaciones {
    padding: 30px;
    background: #fff;
    margin-bottom: 30px;
    height: 240px; }
  .section-6 .single {
    height: 510px; }
    .section-6 .single img {
      margin-top: 10px; }
    .section-6 .single h3 {
      padding: 0 20px;
      margin-top: 30px;
      padding-top: 45px; }
    .section-6 .single h3:before {
      content: " ";
      position: absolute;
      width: 60px;
      height: 1px;
      background: #000;
      top: 0px;
      left: 50%;
      margin-left: -30px; }

.section-7 .left {
  background: #333333;
  padding: 0px;
  height: 599px; }
  .section-7 .left img {
    max-width: 100%; }
  .section-7 .left .txt {
    padding: 45px 40px;
    color: #fff; }
    .section-7 .left .txt h3 {
      margin: 0px;
      font-size: 18px;
      padding-bottom: 14px;
      text-transform: uppercase;
      letter-spacing: 2px; }
    .section-7 .left .txt p {
      font-size: 18px;
      font-family: 'Source Sans Pro', sans-serif;
      line-height: 130%;
      font-weight: 100;
      padding-bottom: 10px;
      letter-spacing: 1px; }
    .section-7 .left .txt div {
      padding-bottom: 3px; }
      .section-7 .left .txt div strong {
        color: #ef4726;
        display: block;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 1px; }
      .section-7 .left .txt div span {
        font-size: 18px;
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 100%;
        font-weight: 100;
        letter-spacing: 1px; }

.section-7 .mapa {
  background: #ef4726 url(../img/bg_mapa.png) center top no-repeat;
  height: 599px;
  position: relative; }
  .section-7 .mapa .btn_mapa {
    position: absolute;
    display: block;
    background: url(../img/indicador-mapa-small.gif) right top no-repeat; }
  .section-7 .mapa .mapa_california {
    left: 16%;
    top: 33%;
    width: 148px;
    height: 39px; }
  .section-7 .mapa .mapa_santiago {
    left: 43%;
    top: 77%;
    width: 124px;
    height: 23px; }
  .section-7 .mapa .mapa_talca {
    left: 48%;
    top: 82%;
    width: 91px;
    height: 23px; }
  .section-7 .mapa .mapa_temuco {
    left: 45%;
    top: 86%;
    width: 115px;
    height: 23px; }
  .section-7 .mapa .btn_mapa.active {
    background: url(../img/indicador-mapa-big.gif) right top no-repeat;
    min-height: 25px; }

.section-8 .calendario .row a, .section-8 .calendario .row div {
  color: #c5c4c3;
  font-size: 30px;
  background: #f4f4f4;
  text-align: center;
  height: 80px;
  padding-top: 20px; }

.section-8 .calendario .row a:hover {
  text-decoration: none; }

.section-8 .calendario .row .dos {
  color: #fff;
  background: #d7d7d7; }

.section-8 .calendario .row .tres {
  color: #fff;
  background: #a8a8a8; }

.section-8 .calendario .row a.activo {
  background: #ef4726;
  color: #fff;
  transition: all 0.3s ease 0s; }

.section-8 .calendario .row a.activo:hover {
  background: #982812;
  border: 0px solid #ef4726; }

.section-8 .calendario .row .btn-selecciona {
  font-size: 21px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  background: #3c3c3c;
  color: #fff;
  padding-top: 25px;
  height: 80px;
  text-align: center; }

.section-8 .item-evento {
  padding: 0px; }
  .section-8 .item-evento img {
    width: 100%; }
  .section-8 .item-evento .txt {
    padding: 20px 40px 0px 40px;
    position: relative; }
    .section-8 .item-evento .txt span {
      font-size: 18px;
      font-weight: 100;
      letter-spacing: 3px;
      color: #333;
      display: block;
      text-transform: uppercase; }
    .section-8 .item-evento .txt small {
      font-size: 18px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 100;
      letter-spacing: 3px;
      color: #ef4726;
      text-transform: capitalize;
      text-transform: uppercase; }
    .section-8 .item-evento .txt h3 {
      font-size: 22px;
      color: #ef4726;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-top: 10px; }
      .section-8 .item-evento .txt h3 a {
        color: #ef4726; }
    .section-8 .item-evento .txt p {
      font-size: 17px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      line-height: 130%;
      letter-spacing: 1px; }
    .section-8 .item-evento .txt a.ver_mas {
      display: block;
      text-indent: -99999px;
      overflow: hidden;
      background: url(../img/icn_leermas.png) left top no-repeat;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 30px;
      bottom: -10px; }
    .section-8 .item-evento .txt .share {
      width: 245px;
      height: 25px;
      background: #272727;
      position: absolute;
      right: 30px;
      top: 25px; }

.section-9 .row {
  background: #ef4726;
  padding: 37px 20px 0 20px;
  overflow: hidden; }
  .section-9 .row .box {
    background: #fff;
    padding: 40px;
    margin-bottom: 30px;
    height: 260px;
    position: relative; }
    .section-9 .row .box a.vermas {
      position: absolute;
      right: 30px;
      bottom: 20px;
      color: #545454;
      font-size: 18px;
      text-transform: uppercase;
      background: url(../img/icn_leermas.png) right top no-repeat;
      padding-right: 30px;
      letter-spacing: 1px; }
  .section-9 .row .box.single {
    height: 550px;
    text-align: center;
    position: relative;
    padding-top: 70px; }
    .section-9 .row .box.single h3 {
      padding: 0 20px;
      margin-top: 60px;
      padding-top: 50px;
      position: relative;
      font-size: 24px;
      color: #545454;
      line-height: 140%;
      letter-spacing: 1px;
      text-transform: uppercase; }
      .section-9 .row .box.single h3 a {
        color: #545454; }
    .section-9 .row .box.single h3:before {
      content: " ";
      position: absolute;
      width: 60px;
      height: 2px;
      background: #000;
      top: 0px;
      left: 50%;
      margin-left: -30px; }
  .section-9 .row .box.normal {
    padding-left: 200px; }
    .section-9 .row .box.normal h3 {
      color: #545454;
      font-size: 24px;
      line-height: 140%;
      letter-spacing: 1px; }
      .section-9 .row .box.normal h3 a {
        color: #545454; }
    .section-9 .row .box.normal img {
      position: absolute;
      left: 40px;
      top: 50%;
      margin-top: -30px; }
  .section-9 .row .normal:before {
    content: " ";
    position: absolute;
    width: 2px;
    height: 100px;
    background: #545454;
    top: 50%;
    left: 150px;
    margin-top: -50px; }

.section-10 {
  margin-top: 0px;
  margin-left: -3px; }
  .section-10 img {
    width: 100%; }
  .section-10 .row div {
    padding: 0 3px 3px 0px; }

.section-11 {
  margin-top: -4px;
  z-index: 2;
  position: relative; }
  .section-11 br {
    display: none; }
  .section-11 .row {
    background: #333333;
    text-align: center; }
    .section-11 .row h3 {
      font-size: 24px;
      color: #717171;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 40px;
      letter-spacing: 5px; }
    .section-11 .row p {
      font-size: 16px;
      color: #bdbdbd;
      font-family: 'Source Sans Pro', sans-serif;
      line-height: 120%;
      font-weight: 100;
      padding: 40px 30px 10px 30px; }
      .section-11 .row p a {
        color: #bdbdbd; }
      .section-11 .row p a:hover {
        text-decoration: none; }

.section_error {
  text-align: center;
  padding: 60px 260px; }
  .section_error h1 {
    color: #333333;
    font-size: 24px;
    padding: 40px 0px;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .section_error p {
    padding-bottom: 30px;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    margin: 0px;
    text-align: left;
    line-height: 150%; }
  .section_error a {
    padding: 20px 25px;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 50px;
    border-radius: 0px;
    letter-spacing: 1px; }
  .section_error i {
    padding-right: 20px; }

.section_busqueda {
  text-align: center;
  padding: 60px 160px; }
  .section_busqueda h1 {
    color: #333333;
    font-size: 24px;
    padding: 40px 0px 30px 0px;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .section_busqueda p {
    padding-bottom: 30px;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    margin: 0px;
    text-align: left; }
  .section_busqueda .box-buscador {
    margin-left: 80px;
    padding: 20px 0px; }
    .section_busqueda .box-buscador .boxs {
      border: 2px solid #fff;
      width: 266px;
      position: relative;
      margin: 0 auto; }
    .section_busqueda .box-buscador .text-buscar {
      border: 2px solid #272727;
      height: 51px;
      background: #fff;
      padding: 0 10px;
      width: 179px;
      vertical-align: top;
      float: left; }
    .section_busqueda .box-buscador .btn-buscar {
      width: 53px;
      height: 51px;
      color: #272727;
      border: 2px solid #272727;
      border-left: 0px solid #272727;
      display: block;
      font-size: 21px;
      text-align: center;
      padding-top: 10px;
      display: inline-block;
      float: left; }
    .section_busqueda .box-buscador .text-buscar:focus {
      background: #fff;
      border: 2px solid #272727; }
    .section_busqueda .box-buscador .option {
      padding-top: 10px; }
      .section_busqueda .box-buscador .option label {
        display: inline-block;
        font-size: 14px;
        color: #717171;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 100;
        padding-right: 20px; }
        .section_busqueda .box-buscador .option label input {
          margin-right: 5px; }
  .section_busqueda .numeros_resultados {
    padding-top: 10px; }
    .section_busqueda .numeros_resultados p {
      text-align: center;
      font-size: 21px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400; }
  .section_busqueda .box-section {
    padding-bottom: 40px;
    text-align: left; }
    .section_busqueda .box-section h2 {
      font-size: 24px;
      letter-spacing: 3px;
      color: #ef4726;
      text-transform: uppercase; }
    .section_busqueda .box-section .item {
      border: 2px solid #272727;
      margin-top: 20px;
      padding: 10px;
      position: relative; }
      .section_busqueda .box-section .item img {
        float: left;
        margin-right: 20px; }
      .section_busqueda .box-section .item h3 {
        padding: 0px;
        margin: 0px;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding-bottom: 10px;
        line-height: 120%;
        padding-top: 5px; }
        .section_busqueda .box-section .item h3 a {
          color: #333; }
      .section_busqueda .box-section .item p {
        padding: 0px;
        line-height: 120%;
        margin: 0px;
        font-size: 18px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400; }
      .section_busqueda .box-section .item .ver-mas {
        display: block;
        text-indent: -99999px;
        overflow: hidden;
        background: url(../img/icn_leermas.png) left top no-repeat;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 15px;
        bottom: 15px; }

.nav-left::before,
.nav-right::before {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  content: " ";
  z-index: 1;
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.78);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.78) 0%, rgba(255, 255, 255, 0.41) 47%, rgba(237, 237, 237, 0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.78)), color-stop(47%, rgba(255, 255, 255, 0.41)), color-stop(100%, rgba(237, 237, 237, 0)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.78) 0%, rgba(255, 255, 255, 0.41) 47%, rgba(237, 237, 237, 0) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.78) 0%, rgba(255, 255, 255, 0.41) 47%, rgba(237, 237, 237, 0) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.78) 0%, rgba(255, 255, 255, 0.41) 47%, rgba(237, 237, 237, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.78) 0%, rgba(255, 255, 255, 0.41) 47%, rgba(237, 237, 237, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 ); }

.nav-left {
  padding-top: 28px;
  position: relative;
  z-index: 2; }
  .nav-left a {
    color: #333;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    z-index: 3; }
    .nav-left a i {
      color: #fb7b61;
      font-size: 26px; }
  .nav-left a:hover {
    text-decoration: none;
    font-weight: bold; }

.nav-right {
  padding-top: 28px;
  text-align: right;
  position: relative;
  z-index: 2; }
  .nav-right a {
    color: #333;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    z-index: 3; }
    .nav-right a i {
      color: #fb7b61;
      font-size: 26px; }
  .nav-right a:hover {
    text-decoration: none;
    font-weight: bold; }

.section_linea {
  background: #efefef url(../img/bg_lineatiempo_seccion.jpg) -1px top no-repeat;
  /* interior */ }
  .section_linea h1 {
    color: #fff;
    font-size: 24px;
    padding: 30px 0px 20px 0px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center; }
  .section_linea .top {
    text-align: center; }
    .section_linea .top img {
      padding-top: 40px; }
  .section_linea .linea-tiempos:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 11px;
    margin-left: -4px;
    width: 16px;
    height: 16px;
    border: 1px solid #555555;
    background: #555555;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .section_linea .linea-tiempos {
    padding: 0 30px;
    padding-top: 40px;
    position: relative;
    overflow: hidden; }
    .section_linea .linea-tiempos .item.first {
      margin-top: 0px !important; }
    .section_linea .linea-tiempos .item {
      padding: 0 50px 0 0;
      margin-bottom: 60px;
      position: relative; }
      .section_linea .linea-tiempos .item .subitem {
        padding: 30px;
        background: #fff; }
    .section_linea .linea-tiempos .ver-mas {
      color: #ef4726;
      font-size: 20px;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 15px;
      bottom: 15px; }
    .section_linea .linea-tiempos .item:nth-child(odd) {
      margin-top: -159px; }
      .section_linea .linea-tiempos .item:nth-child(odd) .ver-mas {
        color: #fff;
        font-size: 20px;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 60px;
        bottom: 15px; }
    .section_linea .linea-tiempos .item:nth-child(even) {
      padding: 0px 0 0 50px;
      margin-top: 0px; }
    .section_linea .linea-tiempos .item.first:nth-child(even) {
      margin-top: 138px !important; }
    .section_linea .linea-tiempos h3 {
      font-size: 18px;
      color: #ef4726;
      line-height: 140%;
      padding-bottom: 20px;
      text-transform: uppercase;
      margin: 0px;
      letter-spacing: 3px; }
      .section_linea .linea-tiempos h3 a {
        color: #ef4726; }
    .section_linea .linea-tiempos p {
      font-size: 18px;
      color: #333;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400 !important;
      letter-spacing: 1px; }
    .section_linea .linea-tiempos .item-1, .section_linea .linea-tiempos .item-4 {
      background: #ef4726 !important; }
      .section_linea .linea-tiempos .item-1 h3, .section_linea .linea-tiempos .item-4 h3 {
        color: #fff; }
        .section_linea .linea-tiempos .item-1 h3 a, .section_linea .linea-tiempos .item-4 h3 a {
          color: #fff; }
      .section_linea .linea-tiempos .item-1 p, .section_linea .linea-tiempos .item-4 p {
        font-size: 18px;
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 100px; }
    .section_linea .linea-tiempos .item-2 {
      margin-top: 0px; }
    .section_linea .linea-tiempos .item-3 {
      margin-top: -160px; }
    .section_linea .linea-tiempos .item-1:before, .section_linea .linea-tiempos .item-3:before {
      content: "";
      position: absolute;
      right: -12px;
      top: 56%;
      width: 16px;
      height: 16px;
      border: 1px solid #555555;
      background: #555555;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .section_linea .linea-tiempos .item-2:before, .section_linea .linea-tiempos .item-4:before {
      content: "";
      position: absolute;
      left: -4px;
      top: 68%;
      width: 16px;
      height: 16px;
      border: 1px solid #555555;
      background: #555555;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .section_linea .linea-tiempos .item-1:after, .section_linea .linea-tiempos .item-3:after {
      content: "";
      position: absolute;
      right: -5px;
      top: -20px;
      width: 2px;
      height: 490%;
      background: #555555; }
    .section_linea .linea-tiempos .item-2:after {
      content: "";
      position: absolute;
      left: 3px;
      top: 0px;
      width: 2px;
      height: 400%;
      background: #555555; }
  .section_linea .padre_principal {
    padding: 30px 30px 15px 30px; }
  .section_linea .principal {
    background: #fff;
    padding: 60px;
    padding-bottom: 20px;
    -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    column-count: 1 !important; }
    .section_linea .principal h2 {
      color: #ef4726;
      font-size: 18px;
      letter-spacing: 3px;
      font-family: 'Source Sans Pro', sans-serif; }
    .section_linea .principal img {
      margin-bottom: 40px;
      max-width: 100%; }
    .section_linea .principal p, .section_linea .principal li {
      font-size: 18px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      line-height: 165%;
      padding-bottom: 40px;
      letter-spacing: 1px; }
    .section_linea .principal ul {
      padding-left: 20px; }
  .section_linea .secundario {
    background: #fff;
    padding: 60px;
    padding-bottom: 10px;
    margin-top: 30px; }
    .section_linea .secundario h3 {
      color: #272727;
      font-size: 18px;
      letter-spacing: 3px;
      font-family: 'Source Sans Pro', sans-serif;
      margin: 0px;
      font-weight: bold;
      text-transform: uppercase;
      padding-bottom: 30px; }
    .section_linea .secundario h4 {
      color: #ef4726;
      font-size: 18px;
      letter-spacing: 3px;
      font-family: 'Source Sans Pro', sans-serif;
      padding: 0px;
      margin: 0px;
      padding-bottom: 5px;
      font-weight: bold;
      text-transform: uppercase; }
    .section_linea .secundario span {
      color: #272727;
      font-size: 18px;
      font-weight: 600;
      display: block;
      font-family: 'Source Sans Pro', sans-serif; }
    .section_linea .secundario p {
      color: #272727;
      font-size: 18px;
      font-weight: 400;
      display: block;
      font-family: 'Source Sans Pro', sans-serif;
      font-style: italic;
      line-height: 160%; }
    .section_linea .secundario .col-md-4 {
      padding-bottom: 50px; }

.onecolumn.principal {
  -webkit-column-count: 1 !important;
  -moz-column-count: 1 !important;
  column-count: 1 !important; }

.section_agenda {
  margin: 0px; }
  .section_agenda .btn-default {
    padding: 14px 20px; }
  .section_agenda .caret {
    border-top: 8px dashed;
    border-top: 4px solid \9;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent; }
  .section_agenda select.btn-group .dropdown-toggle .caret {
    margin-top: -4px; }
  .section_agenda .bootstrap-select .anios {
    width: 140px; }
  .section_agenda h1 {
    color: #333333;
    font-size: 24px;
    padding: 10px 0px 30px 0px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase; }
  .section_agenda .top {
    text-align: center;
    padding-bottom: 60px; }
    .section_agenda .top img {
      padding-top: 40px; }
    .section_agenda .top .bootstrap-select {
      margin-right: 20px; }
  .section_agenda .sections-8 .calendario .row a, .section_agenda .sections-8 .calendario .row div {
    color: #c5c4c3;
    font-size: 30px;
    background: #f4f4f4;
    text-align: center;
    height: 80px;
    padding-top: 20px; }
  .section_agenda .sections-8 .calendario .row a:hover {
    text-decoration: none; }
  .section_agenda .sections-8 .calendario .row .dos {
    color: #fff;
    background: #d7d7d7; }
  .section_agenda .sections-8 .calendario .row .tres {
    color: #fff;
    background: #a8a8a8; }
  .section_agenda .sections-8 .calendario .row a.activo {
    background: #ef4726;
    color: #fff;
    transition: all 0.3s ease 0s; }
  .section_agenda .sections-8 .calendario .row a.activo:hover {
    background: #982812;
    border: 0px solid #ef4726; }
  .section_agenda .sections-8 .calendario .row .btn-selecciona {
    font-size: 21px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    background: #3c3c3c;
    color: #fff;
    padding-top: 25px;
    height: 80px;
    text-align: center; }
  .section_agenda .sections-8 .item-evento {
    padding: 0px;
    background: #3c3c3c;
    margin-left: -1px;
    overflow: hidden; }
    .section_agenda .sections-8 .item-evento img {
      width: auto;
      height: 256px; }
    .section_agenda .sections-8 .item-evento .txt {
      padding: 20px 40px 10px 40px;
      position: relative;
      height: 224px;
      /*a{
						 @include fondo( url(../img/icn_leermas.png) left top no-repeat );
						 width: 20px;
						 height: 20px;
						 position: absolute;
						 right: 30px;
						 bottom: -10px;
					}*/ }
      .section_agenda .sections-8 .item-evento .txt span {
        font-size: 18px;
        font-weight: 100;
        letter-spacing: 5px;
        color: #fff;
        display: block;
        text-transform: uppercase; }
      .section_agenda .sections-8 .item-evento .txt small {
        font-size: 18px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 100;
        letter-spacing: 2px;
        padding-top: 10px;
        padding-bottom: 30px;
        display: block;
        color: #fff;
        text-transform: capitalize; }
      .section_agenda .sections-8 .item-evento .txt h3 {
        font-size: 22px;
        color: #ef4726;
        text-transform: uppercase;
        letter-spacing: 5px;
        padding-bottom: 20px;
        margin-top: 8px; }
      .section_agenda .sections-8 .item-evento .txt p {
        font-size: 17px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        line-height: 150%;
        color: #d4d4d4;
        letter-spacing: 1px; }
      .section_agenda .sections-8 .item-evento .txt .share {
        width: 245px;
        height: 25px;
        background: #272727;
        position: static; }
      .section_agenda .sections-8 .item-evento .txt .btn-primary {
        padding: 23px 30px;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 50px;
        margin-top: 20px;
        border-radius: 0px;
        letter-spacing: 4px; }
      .section_agenda .sections-8 .item-evento .txt .nav {
        position: absolute;
        right: 30px;
        bottom: 0px; }
        .section_agenda .sections-8 .item-evento .txt .nav a {
          color: #fff;
          font-size: 20px;
          margin-left: 20px; }

#modal-bienvenido p {
  font-size: 18px;
  letter-spacing: 0px;
  color: #272727;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  padding-bottom: 20px;
  padding-right: 50px; }

#modal-bienvenido .modal-body {
  padding: 0 50px 40px 70px; }

#modal-bienvenido h1 {
  margin: 0px;
  font-size: 24px;
  color: #ef4726;
  letter-spacing: 2px;
  line-height: 140%;
  padding-bottom: 15px; }
  #modal-bienvenido h1 strong {
    display: block; }

#modal-bienvenido input[type="radio"] {
  opacity: 0;
  z-index: 2;
  position: relative; }

#modal-bienvenido label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -15px;
  border: 1px solid #ef4726;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
  margin-top: 5px; }

#modal-bienvenido label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 15px;
  height: 15px;
  left: 3px;
  top: 6px;
  margin-left: -17px;
  border-radius: 50%;
  background-color: #ef4726;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }

#modal-bienvenido input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1); }

#modal-bienvenido label {
  color: #ef4726;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  padding-left: 30px;
  padding-bottom: 26px;
  position: relative; }

#modal-bienvenido a {
  padding: 20px 25px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  display: inline-block;
  margin-top: 20px;
  border-radius: 0px; }

#modal-exito i {
  font-size: 40px;
  color: #ef4726;
  border: 3px solid #ef4726;
  display: inline-block;
  width: 65px;
  height: 65px;
  font-weight: 400;
  padding-top: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

#modal-exito p {
  font-size: 24px;
  letter-spacing: 2px;
  color: #272727; }

#modal-exito .modal-body {
  padding-bottom: 50px; }

#modal-inscripcion h2 {
  margin-top: -30px;
  font-size: 24px;
  line-height: 120%;
  padding-bottom: 20px;
  letter-spacing: 3px; }

#modal-inscripcion label {
  display: block;
  color: #fb7b61;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px; }

#modal-inscripcion a {
  padding: 20px 30px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  border-radius: 0px; }

#modal-inscripcion .text {
  border: 0px;
  border-bottom: 1px solid #545454;
  width: 100%;
  height: 33px;
  font-size: 18px; }

#modal-inscripcion textarea {
  border: 0px;
  border-bottom: 1px solid #545454;
  width: 100%;
  height: 85px; }

#modal-inscripcion .modal-body {
  padding: 15px 45px 30px 45px; }
  #modal-inscripcion .modal-body div {
    position: relative;
    margin-bottom: 25px; }
  #modal-inscripcion .modal-body .error {
    padding-top: 0px;
    display: block;
    color: #ef4726;
    display: none;
    position: absolute;
    top: 2px;
    right: 10px; }

.section_contacto {
  background: #efefef url(../img/bg_contacto.jpg) -1px top no-repeat; }
  .section_contacto .nav-left {
    padding-left: 30px; }
  .section_contacto h1 {
    color: #fff;
    font-size: 24px;
    padding: 30px 0px 20px 0px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase; }
  .section_contacto .top {
    text-align: center;
    height: 293px; }
    .section_contacto .top img {
      padding-top: 40px; }
  .section_contacto .row-cont {
    padding: 50px 40px; }
    .section_contacto .row-cont .left h2 {
      font-size: 18px;
      letter-spacing: 2px;
      padding-bottom: 40px;
      margin: 0px;
      text-transform: uppercase; }
    .section_contacto .row-cont .left p {
      font-size: 18px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      line-height: 150%; }
    .section_contacto .row-cont .right {
      padding-top: 40px; }
      .section_contacto .row-cont .right label {
        display: block;
        color: #fb7b61;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px; }
      .section_contacto .row-cont .right a {
        padding: 20px 30px;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 400;
        border-radius: 0px; }
      .section_contacto .row-cont .right .text {
        border: 0px;
        border-bottom: 1px solid #545454;
        width: 100%;
        height: 33px;
        font-size: 18px;
        background: none; }
      .section_contacto .row-cont .right textarea {
        border: 0px;
        border-bottom: 1px solid #545454;
        width: 100%;
        height: 85px;
        background: none; }
      .section_contacto .row-cont .right div {
        margin-bottom: 25px;
        position: relative; }
      .section_contacto .row-cont .right .error {
        padding-top: 3px;
        display: block;
        color: #ef4726;
        display: none;
        right: 0px;
        top: 2px;
        position: absolute;
        font-size: 12px; }
      .section_contacto .row-cont .right .bootstrap-select {
        float: right;
        margin-top: -27px; }
      .section_contacto .row-cont .right #inputasunto {
        width: 370px;
        margin-top: 9px; }
      .section_contacto .row-cont .right .btn-default {
        color: #333333;
        background-color: #fff;
        border: 2px solid #333333;
        padding: 20px;
        font-size: 18px;
        text-transform: uppercase; }

.section_nosotros {
  background: #efefef;
  margin: 0px; }
  .section_nosotros .inner {
    margin: 0 -15px; }
  .section_nosotros .carousel-control {
    z-index: 999; }
  .section_nosotros .top {
    margin-top: -54px;
    z-index: 1;
    height: auto;
    position: relative; }
    .section_nosotros .top h1 {
      font-size: 36px;
      color: #fff;
      letter-spacing: 2px;
      padding: 0 200px 0 200px;
      display: block;
      position: absolute;
      left: 0px;
      bottom: 40px;
      width: 100%; }
    .section_nosotros .top img {
      max-width: 100%; }
  .section_nosotros .mision {
    background: #272727; }
    .section_nosotros .mision h2 {
      color: #fff;
      font-size: 24px;
      letter-spacing: 2px;
      margin: 0px;
      margin-bottom: 20px;
      text-transform: uppercase;
      padding: 50px 70px 0 70px; }
    .section_nosotros .mision p {
      color: #fff;
      font-size: 18px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 100;
      line-height: 150%;
      padding: 0px 70px 0 70px; }
  .section_nosotros .vision h2 {
    color: #272727;
    font-size: 24px;
    letter-spacing: 2px;
    margin: 0px;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 50px 70px 0 70px; }
  .section_nosotros .vision p {
    color: #272727;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    line-height: 150%;
    padding: 0px 70px 0 70px; }
  .section_nosotros .subtop {
    padding-top: 75px;
    padding-bottom: 60px; }
    .section_nosotros .subtop h3 {
      font-size: 36px;
      letter-spacing: 3px;
      text-transform: uppercase;
      padding-bottom: 15px;
      padding-top: 20px; }
    .section_nosotros .subtop p {
      font-size: 18px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 100;
      line-height: 150%;
      padding: 0 180px; }
  .section_nosotros .row-equipo {
    padding-top: 0px;
    text-align: center;
    background: #fff; }
    .section_nosotros .row-equipo hr {
      margin-top: 12px;
      margin-bottom: 50px;
      border: 0;
      border-top: 1px solid #000;
      width: 59%; }
    .section_nosotros .row-equipo .seccion .item:hover .info {
      bottom: 20px !important; }
    .section_nosotros .row-equipo .seccion .item:hover:after {
      top: 0px; }
    .section_nosotros .row-equipo .seccion .item:after {
      transition: all 1s ease 0s;
      content: "";
      position: absolute;
      left: 0px;
      top: 323px;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: rgba(255, 255, 255, 0);
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.81) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.81)));
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.81) 100%);
      background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.81) 100%);
      background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.81) 100%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.81) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 ); }
    .section_nosotros .row-equipo .seccion .info {
      position: absolute;
      left: 0px;
      bottom: 10px;
      color: #fff;
      width: 100%;
      padding: 0 10px;
      transition: all 0.5s ease 0s;
      z-index: 2; }
      .section_nosotros .row-equipo .seccion .info h4 {
        font-size: 18px;
        letter-spacing: 3px;
        text-transform: uppercase; }
      .section_nosotros .row-equipo .seccion .info h5 {
        font-size: 14px;
        letter-spacing: 3px;
        text-transform: uppercase;
        line-height: 140%; }
      .section_nosotros .row-equipo .seccion .info p {
        font-size: 17px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 100;
        padding: 0 30px;
        line-height: 130%;
        margin: 0px; }
      .section_nosotros .row-equipo .seccion .info span {
        font-size: 18px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 100;
        display: block; }
    .section_nosotros .row-equipo .col-md-4 {
      width: 374px;
      display: inline-block;
      float: none;
      padding: 0px 15px; }
      .section_nosotros .row-equipo .col-md-4 .item:hover .info {
        bottom: 20px !important; }
      .section_nosotros .row-equipo .col-md-4 .item:hover:after {
        top: 0px; }
      .section_nosotros .row-equipo .col-md-4 .item:after {
        transition: all 1s ease 0s;
        content: "";
        position: absolute;
        left: 0px;
        top: 323px;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(255, 255, 255, 0);
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.81) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.81)));
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.81) 100%);
        background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.81) 100%);
        background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.81) 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.81) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 ); }
      .section_nosotros .row-equipo .col-md-4 .item {
        overflow: hidden;
        width: 100%;
        height: 323px;
        position: relative;
        margin-bottom: 28px; }
        .section_nosotros .row-equipo .col-md-4 .item img {
          max-width: 100%; }
  .section_nosotros .row-buscar-equipo {
    background: #fff; }
    .section_nosotros .row-buscar-equipo .items {
      display: none; }
    .section_nosotros .row-buscar-equipo h3 {
      margin: 0px;
      font-size: 21px;
      color: #333333;
      letter-spacing: 3px;
      text-align: center;
      padding: 50px 0px;
      text-transform: uppercase; }
    .section_nosotros .row-buscar-equipo .buscador {
      padding: 0px; }
      .section_nosotros .row-buscar-equipo .buscador .scroll {
        height: 350px; }
      .section_nosotros .row-buscar-equipo .buscador a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 22px;
        color: #272727;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 100;
        line-height: 110%;
        padding-top: 24px;
        padding-right: 20px; }
      .section_nosotros .row-buscar-equipo .buscador i {
        display: block;
        float: left;
        padding: 16px 20px 0 30px; }
      .section_nosotros .row-buscar-equipo .buscador a:hover, .section_nosotros .row-buscar-equipo .buscador a:active, .section_nosotros .row-buscar-equipo .buscador a:visited, .section_nosotros .row-buscar-equipo .buscador a:hover, .section_nosotros .row-buscar-equipo .buscador a:focus {
        text-decoration: none; }
      .section_nosotros .row-buscar-equipo .buscador .directorio {
        background: #f4f4f4;
        height: 100px; }
        .section_nosotros .row-buscar-equipo .buscador .directorio a {
          color: #272727; }
        .section_nosotros .row-buscar-equipo .buscador .directorio .icono {
          float: left;
          font-size: 30px;
          font-family: 'Source Sans Pro', sans-serif;
          border: 2px solid #000;
          padding: 3px 8px 6px 8px;
          font-weight: 400;
          margin: 7px 19px 0 30px; }
      .section_nosotros .row-buscar-equipo .buscador .palabra {
        background: #f4f4f4;
        height: 100px; }
      .section_nosotros .row-buscar-equipo .buscador .active {
        background: #272727; }
        .section_nosotros .row-buscar-equipo .buscador .active a {
          color: #fff !important; }
      .section_nosotros .row-buscar-equipo .buscador #autocomplete {
        height: 60px;
        border: 2px solid #272727;
        width: 75%;
        padding: 0 10px;
        font-size: 30px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 100;
        display: inline-block;
        float: left; }
      .section_nosotros .row-buscar-equipo .buscador .items {
        padding: 30px 50px; }
      .section_nosotros .row-buscar-equipo .buscador #btn_buscar {
        background: #272727;
        color: #fff;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 20px;
        padding: 0px;
        width: 23%;
        text-align: center;
        padding: 20 0px;
        font-weight: 600;
        height: 60px;
        display: inline-block;
        padding-top: 17px;
        cursor: pointer; }
    .section_nosotros .row-buscar-equipo #box-directorio ul {
      padding: 0px;
      margin: 0px;
      list-style: none; }
      .section_nosotros .row-buscar-equipo #box-directorio ul li {
        font-size: 24px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        position: relative;
        border-bottom: 1px solid #eeeeee;
        padding-bottom: 10px; }
        .section_nosotros .row-buscar-equipo #box-directorio ul li strong {
          position: absolute;
          left: -30px;
          top: 7px;
          font-weight: 400;
          color: #7d7d7d;
          font-family: 'Source Sans Pro', sans-serif; }
        .section_nosotros .row-buscar-equipo #box-directorio ul li a {
          color: #7d7d7d;
          padding: 8px 10px;
          margin-left: -10px;
          font-weight: 100;
          font-size: 29px;
          font-family: 'Source Sans Pro', sans-serif; }
          .section_nosotros .row-buscar-equipo #box-directorio ul li a span {
            font-weight: 400;
            font-size: 20px;
            font-family: 'Source Sans Pro', sans-serif; }
        .section_nosotros .row-buscar-equipo #box-directorio ul li a:hover {
          background: #272727;
          color: #fff; }
    .section_nosotros .row-buscar-equipo .contenido_buscador {
      background: #f4f4f4;
      height: 450px;
      padding: 50px 50px; }
      .section_nosotros .row-buscar-equipo .contenido_buscador h4 {
        margin: 0px;
        color: #ef4726;
        font-size: 28px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        padding-bottom: 20px; }
      .section_nosotros .row-buscar-equipo .contenido_buscador h5 {
        margin: 0px;
        font-size: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600; }
      .section_nosotros .row-buscar-equipo .contenido_buscador p {
        margin: 0px;
        font-size: 20px;
        font-family: 'Source Sans Pro', sans-serif; }
      .section_nosotros .row-buscar-equipo .contenido_buscador span {
        color: #ef4726;
        font-weight: 100;
        position: absolute;
        left: 50px;
        bottom: 50px; }

.section_noticias .btn_fixed {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background: #ef4726;
  font-size: 18px;
  color: #fff;
  padding: 10px 30px;
  display: none; }
  .section_noticias .btn_fixed i {
    float: right;
    padding-top: 5px; }

.section_noticias .top h1 {
  padding-bottom: 50px;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px; }

.section_noticias .section-4 .row {
  background: #fff; }

.section_noticias .section-4 .scroll {
  width: 100%;
  height: 800px;
  overflow: hidden;
  display: block; }

.section_noticias .section-4 h2 {
  text-align: center;
  font-size: 24px;
  color: #fff;
  margin: 40px 0px; }

.section_noticias .section-4 .box-noticia {
  background: #333333;
  padding: 30px;
  margin-bottom: 30px;
  color: #fff;
  overflow: hidden;
  position: relative;
  padding-bottom: 40px;
  min-height: 520px; }
  .section_noticias .section-4 .box-noticia img {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -30px;
    margin-bottom: 30px; }
  .section_noticias .section-4 .box-noticia span {
    color: #ef4726;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100; }
  .section_noticias .section-4 .box-noticia h3 {
    font-size: 18px;
    line-height: 130%;
    margin: 0px;
    padding-bottom: 20px;
    padding-top: 4px;
    text-transform: uppercase; }
    .section_noticias .section-4 .box-noticia h3 a {
      color: #fff; }
  .section_noticias .section-4 .box-noticia p {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    line-height: 130%; }
  .section_noticias .section-4 .box-noticia .share {
    width: 80%;
    height: 25px;
    background: #272727;
    margin-top: 20px; }
  .section_noticias .section-4 .box-noticia .ver-mas {
    display: block;
    text-indent: 0px;
    overflow: hidden;
    background: none;
    width: auto;
    height: auto;
    position: absolute;
    right: 30px;
    color: #ef4726;
    bottom: 10px;
    font-size: 22px; }

.section_noticias .section-4 .box-destacada {
  min-height: auto; }
  .section_noticias .section-4 .box-destacada img {
    float: left;
    margin: -30px;
    margin-right: 35px;
    margin-bottom: -40px; }

.section_noticias .section-4 .no-photo .box-noticia h3 {
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 30px; }

.section_noticias .section-4 .btn-primary {
  font-size: 18px;
  color: #ef4726;
  border: 2px solid #ef4726;
  padding: 15px 0px;
  background: #fff;
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 200px;
  letter-spacing: 2px;
  margin-bottom: 40px; }

.section_noticias .section-4.box-prensa .box-noticia {
  min-height: 260px; }
  .section_noticias .section-4.box-prensa .box-noticia .ver-mas {
    display: block;
    text-indent: 0px;
    overflow: hidden;
    background: none;
    width: auto;
    height: auto;
    position: absolute;
    right: 30px;
    color: #fff;
    bottom: 20px; }
  .section_noticias .section-4.box-prensa .box-noticia small {
    color: #fff;
    font-weight: 100;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px; }
    .section_noticias .section-4.box-prensa .box-noticia small strong {
      font-weight: 400;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px; }

.section_noticias .section-4.box-prensa .box-noticia.doble {
  min-height: 551px; }

.section_noticias .section-4.box-prensa .box-noticia.color {
  background: #ef4726; }
  .section_noticias .section-4.box-prensa .box-noticia.color span {
    color: #333333; }
  .section_noticias .section-4.box-prensa .box-noticia.color h3 {
    color: #fff; }
  .section_noticias .section-4.box-prensa .box-noticia.color small {
    color: #333333;
    font-weight: 100;
    font-family: 'Source Sans Pro', sans-serif; }

.single {
  background: #efefef url(../img/bg_lineatiempo_seccion.jpg) -1px top no-repeat; }
  .single .nav-left {
    padding-left: 30px; }
  .single span {
    color: #ef4726; }
  .single h1 {
    color: #fff;
    font-size: 24px;
    padding: 30px 20px 20px 20px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase; }
  .single .top {
    text-align: center; }
    .single .top img {
      padding-top: 40px; }
  .single .padre_principal {
    padding: 30px 30px 15px 30px; }
  .single .principal {
    background: #fff;
    padding: 60px 50px;
    padding-bottom: 20px;
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2; }
    .single .principal span {
      color: #ef4726;
      font-size: 22px; }
    .single .principal blockquote {
      border: 0px;
      padding: 10px 0px 0 0;
      font-size: 24px;
      line-height: 140%;
      font-weight: bold;
      font-style: italic;
      font-family: 'Source Sans Pro', sans-serif; }
    .single .principal h2 {
      color: #ef4726;
      font-size: 18px;
      letter-spacing: 3px;
      font-family: 'Source Sans Pro', sans-serif; }
    .single .principal img {
      margin-bottom: 40px;
      max-width: 100%; }
    .single .principal p, .single .principal li {
      font-size: 18px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400;
      line-height: 160%;
      padding-bottom: 30px;
      margin-bottom: 0px; }
    .single .principal ul {
      padding-left: 20px; }
  .single .secundario {
    background: #fff;
    padding: 40px 60px;
    padding-bottom: 40px;
    margin-top: 30px; }
  .single .fuente {
    background: #fff;
    padding: 0px 60px 40px 60px;
    margin: 0px; }
    .single .fuente .left p {
      font-size: 21px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 100;
      padding: 0px;
      margin: 0px; }
      .single .fuente .left p strong {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        padding: 0px;
        margin: 0px; }
    .single .fuente .left a {
      color: #ef4726;
      font-size: 18px;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 400; }
    .single .fuente .right .share {
      background: #ccc;
      height: 39px;
      width: 100%;
      margin-top: 10px; }

.single_noticia {
  background: #efefef url(../img/bg_noticia_interior.jpg) center top no-repeat; }

.single_prensa {
  background: #efefef url(../img/cnt_prensa_interior.jpg) center top no-repeat; }

.single_entrevista {
  background: #efefef; }
  .single_entrevista h1 {
    font-size: 48px;
    color: #ef4726;
    padding: 30px 60px 20px 60px; }
  .single_entrevista span.nombre {
    font-size: 18px;
    color: #ef4726;
    text-transform: uppercase;
    line-height: 150%;
    display: block;
    font-weight: 100;
    padding: 40px 50px 0 60px;
    background: #fff;
    letter-spacing: 3px; }
    .single_entrevista span.nombre strong {
      display: block;
      color: #272727;
      font-size: 21px; }
  .single_entrevista .principal {
    padding: 40px 50px; }

.single_columna {
  background: #efefef; }
  .single_columna h1 {
    font-size: 48px;
    color: #ef4726;
    padding: 30px 60px 20px 60px; }
  .single_columna .nombre {
    font-size: 18px;
    color: #ef4726;
    text-transform: uppercase;
    line-height: 150%;
    display: block;
    font-weight: 100;
    padding: 30px 30px 30px 10px;
    background: #fff;
    border: 3px solid #272727;
    margin-bottom: 35px;
    letter-spacing: 2px; }
    .single_columna .nombre .col-md-2 {
      padding: 0px; }
    .single_columna .nombre strong {
      display: block;
      color: #272727;
      font-size: 21px; }
    .single_columna .nombre p {
      font-size: 18px;
      font-style: italic;
      color: #333333;
      line-height: 140%;
      letter-spacing: 0px;
      padding: 10px 0 0 0;
      text-transform: lowercase; }
    .single_columna .nombre img {
      border: 8px solid #dddcdc;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      margin: 0px;
      display: block;
      width: 100%;
      margin-right: 20px; }
  .single_columna .principal {
    padding: 40px 50px; }

.section_actualidad .filter-options {
  padding: 0 100px 50px 100px; }
  .section_actualidad .filter-options a {
    border: 2px solid #333333;
    padding: 20px 0px;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333333; }
  .section_actualidad .filter-options a:hover, .section_actualidad .filter-options a.active {
    color: #fff;
    background: #333333;
    text-decoration: none; }

.section_actualidad .top {
  text-align: center; }
  .section_actualidad .top img {
    padding-top: 40px; }
  .section_actualidad .top h1 {
    color: #333;
    font-size: 24px;
    padding: 0px 0px 55px 0px;
    letter-spacing: 3px;
    text-align: center; }

.section_actualidad .section-3 .row {
  padding-top: 20px; }

.section_actualidad .section-3 .box-destacado {
  min-height: auto;
  padding: 0px; }
  .section_actualidad .section-3 .box-destacado img {
    float: left;
    margin: 0px;
    margin-right: 30px;
    width: 45%;
    height: 100%; }
  .section_actualidad .section-3 .box-destacado span {
    padding-top: 40px; }
  .section_actualidad .section-3 .box-destacado h3 {
    font-size: 39px;
    color: #ef4726; }
  .section_actualidad .section-3 .box-destacado p {
    font-size: 18px;
    color: #333333;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100; }
  .section_actualidad .section-3 .box-destacado .ver-mas {
    display: block;
    text-indent: 0px;
    overflow: hidden;
    background: none;
    width: auto;
    height: auto;
    position: absolute;
    right: 30px;
    color: #ef4726;
    bottom: 50px;
    font-size: 20px;
    float: right; }

.section_actualidad .section-3 .items {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid; }

.section_actualidad .section-3 .ver-mas {
  display: block;
  text-indent: 0px;
  overflow: hidden;
  background: none;
  width: auto;
  height: auto;
  position: static;
  right: 30px;
  color: #ef4726;
  bottom: 20px;
  font-size: 20px;
  float: right;
  margin-bottom: -10px; }

.section_actualidad .section-3 .box-entrevista.recomendados p {
  font-size: 18px;
  color: #333;
  padding-top: 20px; }
  .section_actualidad .section-3 .box-entrevista.recomendados p a {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 18px;
    color: #ef4726; }

.section_actualidad .btn-primary {
  font-size: 18px;
  color: #ef4726;
  border: 2px solid #ef4726;
  padding: 15px 0px;
  background: #fff;
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 200px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  margin-top: 0px; }

.section_actualidad .box-cargar {
  background: #f6f6f6;
  padding: 20px 0px; }

.section_publicaciones h3 {
  font-size: 18px;
  line-height: 30px;
  color: #ef4726;
  text-transform: uppercase;
  position: relative; }

.section_publicaciones .simbologia {
  text-align: right; }
  .section_publicaciones .simbologia span {
    padding-left: 30px; }

.section_publicaciones .filtros {
  text-align: center;
  position: relative;
  padding: 25px 0px; }
  .section_publicaciones .filtros span.txt {
    font-size: 18px;
    color: #fb7b61;
    letter-spacing: 2px;
    padding-right: 0px; }
  .section_publicaciones .filtros .bootstrap-select {
    width: 190px !important;
    margin: 0 10px; }

.section_publicaciones .filtros:before {
  content: " ";
  position: absolute;
  width: 580px;
  height: 1px;
  background: #fb7b61;
  display: block;
  top: 0px;
  left: 50%;
  margin-left: -290px; }

.section_publicaciones .box-publicaciones {
  padding: 30px;
  background: #ffe7e2;
  margin-bottom: 30px;
  height: 578px;
  text-align: center;
  position: relative; }
  .section_publicaciones .box-publicaciones p {
    font-weight: 100;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px; }
    .section_publicaciones .box-publicaciones p strong {
      font-weight: bold; }
  .section_publicaciones .box-publicaciones .descarga:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    width: 50px;
    height: 1px;
    background: #ef4726;
    margin-left: -25px;
    display: block; }
  .section_publicaciones .box-publicaciones .descarga {
    margin-top: 25px;
    padding-top: 25px;
    font-size: 18px;
    text-transform: uppercase;
    color: #ef4726;
    position: relative; }
    .section_publicaciones .box-publicaciones .descarga a {
      font-size: 18px;
      text-transform: uppercase;
      color: #ef4726;
      letter-spacing: 1px;
      margin: 0 5px; }
    .section_publicaciones .box-publicaciones .descarga img {
      vertical-align: middle; }
  .section_publicaciones .box-publicaciones .detalle {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 30px; }

.section_publicaciones .row {
  background: none; }

.section_publicaciones .filter-options {
  padding: 0 100px 50px 100px;
  text-align: center; }
  .section_publicaciones .filter-options a {
    display: inline-block;
    width: 250px;
    height: 82px;
    vertical-align: middle;
    padding: 18px 10px 18px 75px;
    text-align: left;
    line-height: 130%; }
    .section_publicaciones .filter-options a img {
      float: left;
      margin-right: 20px; }
  .section_publicaciones .filter-options #btn_cuaderno {
    background: url(../img/icn_publicaciones.png) 15px 10px no-repeat; }
  .section_publicaciones .filter-options #btn_cuaderno:hover, .section_publicaciones .filter-options #btn_cuaderno.active {
    background: #333 url(../img/icn_publicaciones.png) 15px -47px no-repeat; }
  .section_publicaciones .filter-options #btn_estudios {
    background: url(../img/icn_publicaciones.png) 15px -100px no-repeat;
    padding-top: 28px; }
  .section_publicaciones .filter-options #btn_estudios:hover, .section_publicaciones .filter-options #btn_estudios.active {
    background: #333 url(../img/icn_publicaciones.png) 15px -151px no-repeat; }
  .section_publicaciones .filter-options #btn_informe {
    background: url(../img/icn_publicaciones.png) 15px -200px no-repeat; }
  .section_publicaciones .filter-options #btn_informe:hover, .section_publicaciones .filter-options #btn_informe.active {
    background: #333 url(../img/icn_publicaciones.png) 15px -243px no-repeat; }

.single_publicacion {
  background: none; }
  .single_publicacion h1 {
    color: #333; }
  .single_publicacion .principal {
    padding-top: 0px; }

.detalle_publicacion {
  font-size: 18px;
  padding: 20px;
  background: #fff;
  border: 3px solid #272727;
  margin-bottom: 35px;
  letter-spacing: 2px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column; }
  .detalle_publicacion strong {
    color: #ef4726;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif; }
  .detalle_publicacion p {
    font-size: 18px;
    color: #333333;
    line-height: 140%;
    letter-spacing: 0px;
    padding-bottom: 5px !important;
    font-weight: 100;
    font-family: 'Source Sans Pro', sans-serif; }
  .detalle_publicacion a {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ef4726;
    padding-top: 10px;
    margin-top: 10px;
    display: block;
    position: relative; }
  .detalle_publicacion a:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 1px;
    background: #ef4726;
    display: block; }
  .detalle_publicacion img {
    margin: 0px !important;
    width: 20px; }

.plugin {
  padding: 0px 60px 20px 60px; }

#plugin {
  margin: 0px;
  background: #ccc;
  width: 100%;
  height: 580px; }
