@media (max-width: 1590px) {
  .container {
    width: 100%; }
  .menu-lateral {
    margin-left: -15px; }
  .menu-lateral #logo {
    width: 236px;
    background-size: 100%;
    height: 51px; }
  .menu-lateral ul {
    padding: 0px 0 0 50px; }
  .menu-lateral .box-suscribete, .menu-lateral .box-buscador, .menu-lateral .box-redes {
    margin-left: 50px; }
  .menu-lateral .box-suscribete input.text {
    width: 130px; }
  .menu-lateral .box-buscador .box {
    width: 180px; }
  .menu-lateral .box-buscador .text-buscar {
    width: 123px; }
  .section-1 .row {
    background-size: 100%; }
  .section-1 h1 {
    padding-top: 0px;
    /*font-size: 64px;
    width: 570px;*/
     }
  .section-2 .top img {
    margin: 40px 0px 20px 0px; }
  .section-2 .top h2 {
    font-size: 17px; }
  .section-2 .linea-tiempo .item-1:after, .section-2 .linea-tiempo .item-3:after {
    margin-right: 0px;
    right: -90px;
    height: 150%; }
  .section-2 .linea-tiempo .item-2:after, .section-2 .linea-tiempo .item-4:after {
    margin-left: 0px;
    left: -104px;
    display: none; }
  .section-2 .linea-tiempo .item-1:before, .section-2 .linea-tiempo .item-3:before {
    margin-right: -41px;
    top: 90%; }
  .section-2 .linea-tiempo .item-2:before, .section-2 .linea-tiempo .item-4:before {
    margin-left: -107px;
    display: none; }
  .section-2 .linea-tiempo .item-1 h3:before, .section-2 .linea-tiempo .item-3 h3:before {
    margin-right: -115px; }
  .section-2 .linea-tiempo .item {
    padding: 20px; }
  .section-2 .linea-tiempo h3, .section-2 .linea-tiempo p {
    font-size: 17px; }
  .section-3 .box img, .section-4 .box-noticia img {
    max-width: 133%; }
  .section-3 .box h3 {
    font-size: 29px; }
  .section-5 h2 {
    margin: 60px 0 0 0px; }
  .section-5 h3 {
    margin: 0px 0 40px 0px; }
  .section-6 .box-publicaciones {
    padding: 30px 20px; }
  .section-6 h3 {
    font-size: 16px; }
  .section-7 .left .txt {
    padding: 30px 30px 92px 30px;
    color: #fff; }
  .section-8 .calendario .row a, .section-8 .calendario .row div {
    font-size: 26px;
    height: 78px; }
  .section-8 .calendario .row .btn-selecciona {
    font-size: 17px; }
  .section-9 .row .box {
    background: #fff;
    padding: 40px;
    margin-bottom: 30px;
    height: 240px;
    position: relative; }
  .section-9 .row .box a.vermas {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #545454;
    font-size: 15px;
    text-transform: uppercase;
    background: url(../img/icn_leermas.png) right top no-repeat;
    padding-right: 30px;
    letter-spacing: 1px; }
  .section-9 .row .box h3 {
    font-size: 20px; }
  .section-9 .row .box.normal {
    padding-left: 190px; }
  .section-7 .mapa {
    background: #ef4726 url(../img/bg_mapa.png) 50px top no-repeat; }
  .section-7 .mapa .mapa_california {
    left: 46px; }
  .section-7 .mapa .mapa_santiago {
    left: 237px; }
  .section-7 .mapa .mapa_talca {
    left: 269px; }
  .section-7 .mapa .mapa_temuco {
    left: 248px; }
  .section-9 .row .box.single {
    height: 511px; }
  .section_noticias .section-4 .box-destacada {
    padding-bottom: 0px;
    padding-top: 20px; }
  .section_noticias .section-4 .box-destacada img {
    float: left;
    margin: -30px;
    margin-right: 35px;
    margin-bottom: 0px;
    margin-top: -20px;
    width: 50%; }
  /* error */
  .section_error {
    text-align: center;
    padding: 60px 140px; }
  .section_busqueda {
    text-align: center;
    padding: 60px 100px; }
  .section_agenda .sections-8 .rows {
    margin: 0 -15px; }
  .section_agenda .sections-8 .calendario .row .btn-selecciona {
    font-size: 17px; }
  .section_nosotros {
    margin: 0 -15px; }
  .section_nosotros .top h1 {
    padding: 0 180px 0; }
  .section_nosotros .row-equipo .col-md-4 {
    width: 294px; }
  .section_nosotros .row-equipo .col-md-4 .item {
    height: 248px; }
  .section_nosotros .row-equipo .col-md-4 .item .info p {
    padding: 0 0px; }
  .section_nosotros .row-buscar-equipo .buscador .items {
    padding: 30px 30px 30px 50px; }
  .section_nosotros .row-buscar-equipo .buscador a {
    font-size: 19px; }
  .section_nosotros .row-buscar-equipo #box-directorio ul li a {
    font-size: 25px; }
  .section_actualidad .filter-options {
    padding: 0 50px 50px 50px; }
  .section_actualidad .filter-options a {
    font-size: 14px; }
  .section_actualidad .section-3 .box-destacado h3 {
    font-size: 35px;
    color: #ef4726; }
  .section-3 .box span {
    font-size: 17px; }
  .section_actualidad .section-3 .box-destacado span {
    padding-top: 20px; }
  .single_columna .nombre {
    font-size: 14px; }
  .single_columna .nombre strong {
    font-size: 14px; }
  .single_columna .nombre {
    padding: 20px; }
  .single_columna .nombre p {
    font-size: 15px; }
  .single_columna .nombre img {
    border: 4px solid #dddcdc;
    margin-right: 10px; }
  .single_columna .nombre {
    padding: 10px; }
  .section-2 .linea-tiempo {
    padding-left: 10px;
    padding-right: 80px; }
  .section-2 .linea-tiempo .item-1:after, .section-2 .linea-tiempo .item-3:after {
    margin-right: 0px;
    right: -36px;
    height: 270%; }
  .section-2 .linea-tiempo .item-1 h3:before, .section-2 .linea-tiempo .item-3 h3:before {
    margin-right: -41px; }
  .section-9 .row .box.normal h3 {
    font-size: 17px; }
  .section_contacto .row-cont .right #inputasunto {
    width: 38%;
    margin-top: 9px; } 
    .section-11 .logo-patrocinador{
    display: none;
  }}

@media (max-width: 1200px) {
  .menu-lateral #logo {
    width: 176px;
    background-size: 100%;
    height: 37px; }
  .menu-lateral ul {
    padding: 0px 0 0 60px; }
  .menu-lateral ul li a {
    font-size: 14px;
    color: #fff; }
  .menu-lateral ul li {
    padding: 7px 0px;
    position: relative; }
  .menu-lateral .box-suscribete, .menu-lateral .box-buscador, .menu-lateral .box-redes {
    margin-left: 25px; }
  .menu-lateral .box-suscribete p {
    font-size: 16px; }
  .menu-lateral .box-suscribete input.text {
    width: 120px; }
  .section-1 h1 {
    font-size: 46px; }
  .section-1 h1 {
    padding-top: 0px;
    width: 570px; }
  .section-1 a {
    padding: 15px 20px;
    font-size: 15px;
    text-transform: uppercase; }
  .section-2 .linea-tiempo .item-3 {
    margin-top: -67px; }
  .section-2 .linea-tiempo h3, .section-2 .linea-tiempo p {
    font-size: 14px; }
  .linea-tiempo .item-1 p, .section-2 .linea-tiempo .item-4 p {
    font-size: 14px; }
  .section-2 .linea-tiempo .item-1:after, .section-2 .linea-tiempo .item-3:after {
    margin-right: 0px;
    right: -38px;
    height: 150%; }
  .section-2 .linea-tiempo .item-1 h3:before, .section-2 .linea-tiempo .item-3 h3:before {
    margin-right: -44px; }
  .section-2 .linea-tiempo .item-1:before, .section-2 .linea-tiempo .item-3:before {
    margin-right: -44px;
    top: 90%; }
  .section-3 h2 {
    text-align: center;
    font-size: 20px;
    color: #393939;
    margin: 30px 0px; }
  .section-3 .box h3 {
    font-size: 20px; }
  .section-3 .box span {
    font-size: 14px; }
  .section-3 .box span strong {
    font-size: 14px; }
  .section-3 .box img, .section-4 .box-noticia img {
    max-width: 140%; }
  .section-4 .box-noticia {
    background: #333333;
    padding: 20px; }
  .section-4 .box-noticia img {
    max-width: 123%;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    margin-bottom: 20px; }
  .section-4 .box-noticia h3 {
    font-size: 15px;
    padding-bottom: 10px; }
  .section-4 .box-noticia span {
    font-size: 14px; }
  .section-4 .box-noticia p {
    font-size: 15px; }
  .section-5 h2 {
    text-align: center;
    font-size: 26px; }
  .section-5 h3 {
    font-size: 26px; }
  .section-5 p {
    font-size: 16px; }
  .section-5 form .text {
    height: 47px; }
  .section-5 form .btn-enviar {
    height: 47px;
    font-size: 15px; }
  .section-4 h2, .section-6 h2 {
    font-size: 20px;
    margin: 30px 0px; }
  .section-6 .box-publicaciones {
    padding: 20px 10px; }
  .section-6 h3 {
    font-size: 12px;
    line-height: 190%; }
  .section-6 .box-publicaciones {
    height: 210px; }
  .section-6 .single {
    height: 450px; }
  .section-7 .mapa {
    background: #ef4726 url(../img/bg_mapa.png) 40px top no-repeat;
    height: 488px;
    background-size: auto 97%; }
  .section-7 .left .txt {
    padding: 20px 20px 0px 20px;
    color: #fff;
    height: 332px; }
  .section-7 .left .txt h3, .section-7 .left .txt p {
    font-size: 14px; }
  .section-7 .left .txt div strong, .section-7 .left .txt div span {
    font-size: 14px; }
  .section-8 .calendario .row a, .section-8 .calendario .row div {
    font-size: 18px;
    height: 63px;
    padding-top: 20px; }
  .section-8 .calendario .row .btn-selecciona {
    font-size: 14px;
    height: 63px;
    padding-top: 22px; }
  .section-8 .item-evento .txt {
    padding: 10px 20px 0px 20px;
    position: relative; }
  .section-8 .item-evento .txt small, .section-8 .item-evento .txt span, .section-8 .item-evento .txt p {
    font-size: 14px; }
  .section-8 .item-evento .txt h3 {
    font-size: 16px; }
  .section-9 .row .box.normal img, .section-9 .row .box.single img {
    width: 50px; }
  .section-9 .row .box.normal {
    padding-left: 140px; }
  .section-9 .row .box h3 {
    font-size: 16px; }
  .section-9 .row .box {
    background: #fff;
    padding: 20px;
    height: 190px; }
  .section-9 .row .normal:before {
    left: 115px; }
  .section-9 .row .box a {
    font-size: 10px;
    background-size: 15px;
    padding-right: 18px; }
  .section-9 .row .box.single h3 {
    font-size: 17px;
    margin-top: 30px;
    padding-top: 40px; }
  .section-9 .row .box.single {
    height: 411px;
    text-align: center;
    position: relative;
    padding-top: 70px; }
  .section-11 .row h3 {
    font-size: 15px;
    color: #717171;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .section-11 img {
    max-width: 100%; }
  .section-11 .row p {
    font-size: 13px;
    color: #bdbdbd;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 120%;
    font-weight: 100;
    padding: 40px 0px 0px 0px; }
  .section-7 .mapa .mapa_california {
    left: 42px;
    width: 121px; }
  .section-7 .mapa .mapa_santiago {
    left: 169px;
    top: 76%; }
  .section-7 .mapa .mapa_talca {
    left: 204px;
    top: 81%; }
  .section-7 .mapa .mapa_temuco {
    left: 180px;
    top: 86%; }
  .section-7 .left {
    background: #333333;
    padding: 0px;
    height: 488px; }
  /* error */
  .section_error {
    text-align: center;
    padding: 60px 70px; }
  .section_busqueda h1, .section_busqueda .box-section h2 {
    font-size: 18px; }
  .section_busqueda .numeros_resultados p, .section_busqueda .box-section .item h3 {
    font-size: 16px; }
  .section_busqueda .box-section .item p {
    font-size: 14px; }
  .section_agenda .sections-8 .calendario .row a, .section_agenda .sections-8 .calendario .row div {
    color: #c5c4c3;
    font-size: 21px;
    background: #f4f4f4;
    text-align: center;
    height: 69px;
    padding-top: 20px; }
  .section_agenda .sections-8 .calendario .row .btn-selecciona {
    font-size: 14px;
    height: 69px; }
  .section_nosotros .top h1 {
    padding: 0 20px 0; }
  .section_nosotros .mision, .section_nosotros .vision {
    padding: 30px 30px; }
  .section_nosotros .subtop {
    padding-top: 45px;
    padding-bottom: 30px; }
  .section_nosotros .subtop p {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    line-height: 150%;
    padding: 0 50px; }
  .section_nosotros .row-equipo .col-md-4 {
    width: 244px;
    padding: 0 5px; }
  .section_nosotros .row-equipo .col-md-4 .item {
    height: 219px; }
  .section_nosotros .row-equipo .col-md-4 .item .info h4 {
    font-size: 14px; }
  .section_nosotros .row-equipo .col-md-4 .item .info h5 {
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 130%; }
  .section_nosotros .row-equipo .col-md-4 .item .info p {
    font-size: 15px; }
  .section_nosotros .row-buscar-equipo .buscador a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #272727;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    line-height: 110%;
    padding-top: 24px;
    padding-right: 0px; }
  .section_nosotros .row-buscar-equipo .buscador .directorio,
  .section_nosotros .row-buscar-equipo .buscador .palabra {
    height: 89px; }
  .section_nosotros .row-buscar-equipo .buscador .directorio .icono {
    margin: 7px 19px 0 0px; }
  .section_nosotros .row-buscar-equipo .buscador .items {
    padding: 20px 0px 20px 34px; }
  .section_nosotros .row-buscar-equipo #box-directorio ul li a {
    font-size: 18px; }
  .section_nosotros .row-buscar-equipo #box-directorio ul li a span {
    font-size: 16px; }
  .section_nosotros .row-buscar-equipo #box-directorio ul li strong {
    position: absolute;
    left: -20px;
    top: 5px;
    font-weight: 400;
    color: #7d7d7d;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px; }
  .section_nosotros .row-buscar-equipo .buscador .items {
    padding: 20px 0px 20px 0px; }
  .autocomplete-suggestion {
    padding: 8px 10px;
    font-size: 16px; }
  .section_noticias .section-4 .no-photo .box-noticia h3 {
    font-size: 28px; }
  .section_noticias .section-4 .box-destacada img {
    width: 100%;
    margin: 0px 10px 10px 0; }
  .section_noticias .section-4 .box-noticia.box-destacada h3 {
    font-size: 16px; }
  .section_noticias .section-4 .box-noticia p {
    font-size: 16px; }
  .section_noticias .section-4 .box-noticia.box-destacada p {
    font-size: 15px; }
  .section_noticias .section-4 .box-noticia {
    padding: 0px;
    padding-bottom: 30px; }
  .section_noticias .section-4 .box-noticia span {
    padding: 10px 0 0 20px;
    display: block; }
  .section_noticias .section-4 .box-noticia h3, .section_noticias .section-4 .box-noticia p,
  .section_noticias .section-4.box-prensa .box-noticia small {
    padding-left: 20px;
    padding-right: 20px; }
  .section_actualidad .filter-options {
    padding: 0 20px 50px 20px; }
  .section_actualidad .filter-options a {
    font-size: 12px; }
  .section_actualidad .section-3 .box-destacado h3 {
    font-size: 28px;
    color: #ef4726; }
  .section_actualidad .section-3 .box-destacado p {
    font-size: 15px; }
  .single_columna .nombre {
    font-size: 12px;
    letter-spacing: 1px; }
  .section-9 .row .box.normal h3 {
    color: #545454;
    font-size: 18px; }
  .section-2 .linea-tiempo {
    padding-left: 0px;
    padding-right: 60px; }
  .section-2 .btn-mas {
    position: absolute;
    left: 50%;
    bottom: 2px;
    display: block;
    width: 55px;
    height: 55px;
    border: 2px solid #fff;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    font-size: 17px;
    padding-top: 10px;
    line-height: 120%;
    margin-left: -24px;
    display: block;
    z-index: 222; }
  .section_agenda .sections-8 .item-evento .txt {
    height: 158px; }
  .section_nosotros .mision h2,
  .section_nosotros .vision h2 {
    padding: 30px 0px 0px 0px; }
  .section_nosotros .mision p,
  .section_nosotros .vision p {
    padding: 0px 0px 0 0px; } 
    .section-11 .logo-patrocinador{
    display: none;
  }}

@media (max-width: 992px) {
  .section-1 .txt {
    width: 100%; }
  .section-1 .txt {
    position: absolute;
    top: 42%;
    left: 0px; }
  .menu-lateral {
    display: block;
    position: absolute !important;
    left: 0px;
    top: 0px;
    width: 100% !important;
    margin: 0px;
    height: 75px !important;
    overflow: hidden; }
  .menu-lateral #logo {
    width: 216px;
    background-size: 100%;
    height: 44px;
    margin: -16px 0 8px 25px; }
  #menu-toggle {
    display: block; }
  .section-1 .row {
    background: none;
    padding-left: 0px;
    text-align: center; }
  .section-1 p {
    display: none; }
  .section-2 .top h2 {
    font-size: 17px;
    padding-bottom: 40px; }
  .section-1 h1 {
    padding-top: 0px;
    font-size: 39px;
    width: 100%;
    padding: 30px;
    text-align: center; }
  .section-1 a {
    margin: 0px; }
  .section-3 .box {
    padding: 0px;
    padding-bottom: 10px;
    padding-top: 10px; }
  .section-3 .box span, .section-3 .box h3 {
    padding: 0 20px 0 20px; }
  .section-3 .box-entrevista {
    padding-top: 0px; }
  .section-3 .box-entrevista img,
  .section-4 .box-noticia img {
    width: 100%;
    margin: 0px;
    margin-bottom: 20px; }
  .section-3 .scroll, .section-4 .scroll {
    height: auto; }
  .section-4 .box-noticia {
    padding-bottom: 30px; }
  .section-4 .box-noticia .ver-mas {
    bottom: 13px; }
  .section-6 .single {
    height: auto; }
  .section-6 .single h3 {
    padding: 0 20px;
    margin-top: 30px;
    padding-top: 35px;
    font-size: 14px; }
  .section-9 .row .box a {
    font-size: 12px;
    background-size: 15px;
    padding-right: 18px; }
  .section-9 .row .box.single {
    height: auto;
    text-align: center;
    position: relative;
    padding-top: 30px;
    padding-bottom: 40px; }
  .section-10 {
    margin: 0px;
    padding: 10px 0px; }
  .section-10 .row div {
    padding: 10px 20px 10px 20px; }
  .section-11 .text-left, .section-11 .text-right {
    text-align: center; }
  .section-11 .row img {
    margin-bottom: 25px; }
  .section-11 .row p {
    font-size: 14px;
    color: #bdbdbd;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 120%;
    font-weight: 100;
    padding: 0px 0px 0px 0px; }
  .section-11 br {
    display: block; }
  .section-11 .row h3 {
    font-size: 20px;
    margin: 30px 0; }
  .icn_scroll {
    display: none; }
  .section-2 .top h2 {
    width: 90%; }
  .section-2 .btn-mas, .section-6 .btn-mas {
    position: absolute;
    left: 50%;
    bottom: 2px;
    display: block;
    width: 50px;
    height: 48px;
    border: 2px solid #ef4726;
    text-align: center;
    text-transform: uppercase;
    color: #ef4726;
    letter-spacing: 2px;
    font-size: 13px;
    padding-top: 6px;
    line-height: 120%;
    margin-left: -25px;
    display: block;
    z-index: 222; }
  .section-3 .box-columna img {
    margin-bottom: 20px; }
  /*error*/
  .section_error {
    text-align: center;
    padding: 60px 70px;
    margin-top: 73px; }
  .section_error a {
    margin-top: 20px; }
  .section_busqueda {
    text-align: center;
    padding: 60px 20px; }
  .section {
    margin-top: 74px; }
  .section_linea .linea-tiempos .item, .section_linea .linea-tiempos .item:nth-child(even) {
    padding: 0px; }
  .section_linea .linea-tiempos .item-1:before, .section_linea .linea-tiempos .item-3:before,
  .section_linea .linea-tiempos .item-1:after, .section_linea .linea-tiempos .item-3:after,
  .section_linea .linea-tiempos .item-2:before, .section_linea .linea-tiempos .item-4:before,
  .section_linea .linea-tiempos .item-2:after {
    display: none; }
  .section_linea .linea-tiempos .item.first:nth-child(even),
  .section_linea .linea-tiempos .item:nth-child(odd) {
    margin-top: 0px !important; }
  .section_linea .linea-tiempos .item {
    margin-bottom: 20px; }
  .section_agenda .sections-8 .calendario .row a, .section_agenda .sections-8 .calendario .row div {
    color: #c5c4c3;
    font-size: 15px;
    background: #f4f4f4;
    text-align: center;
    height: 49px;
    padding-top: 13px; }
  .section_agenda .sections-8 .calendario .row .btn-selecciona {
    height: 49px;
    padding-top: 14px; }
  #modal-inscripcion .modal-body {
    padding: 15px 15px 10px 10px; }
  #modal-inscripcion h2 {
    margin-top: -30px;
    font-size: 17px;
    line-height: 120%;
    padding-bottom: 20px; }
  #modal-inscripcion label {
    display: block;
    color: #fb7b61;
    font-size: 15px; }
  #modal-inscripcion .text {
    border: 0px;
    border-bottom: 1px solid #545454;
    width: 100%;
    height: 25px;
    font-size: 18px; }
  #modal-inscripcion textarea {
    border: 0px;
    border-bottom: 1px solid #545454;
    width: 100%;
    height: 55px; }
  #modal-inscripcion a {
    padding: 10px 30px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400; }
  #modal-exito p {
    font-size: 15px;
    letter-spacing: 2px;
    color: #272727; }
  #modal-exito i {
    font-size: 27px;
    color: #ef4726;
    border: 3px solid #ef4726;
    display: inline-block;
    width: 55px;
    height: 55px;
    font-weight: 400;
    padding-top: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  #modal-exito .col-xs-8 {
    padding-left: 0px; }
  #modal-exito .modal-body {
    padding-bottom: 30px; }
  .section_agenda .sections-8 .item-evento .txt .share {
    width: 185px;
    height: 25px;
    background: #272727;
    position: static; }
  .section-7 .left .txt {
    padding: 20px 20px 0px 20px;
    color: #fff;
    height: auto; }
  .section-7 .left img {
    max-width: 100%;
    margin: 0 auto;
    display: block; }
  .section-7 .left {
    background: #333333;
    padding: 0px;
    height: auto; }
  .section_nosotros .row-buscar-equipo .buscador .items {
    padding: 110px 0px 20px 0px;
    width: 100%; }
  .section_nosotros .row-buscar-equipo .buscador .directorio, .section_nosotros .row-buscar-equipo .buscador .palabra {
    height: 89px;
    z-index: 99;
    position: relative; }
  .single h1 {
    padding: 60px 0px 20px 0px; }
  .section_noticias .section-4 .box-destacada img {
    width: 100%;
    float: none;
    margin: 0px 0px 0 0; }
  .section_noticias .section-4 .box-noticia img {
    margin: 0px; }
  .section_noticias .section-4 .box-noticia, .section_noticias .section-4.box-prensa .box-noticia {
    min-height: auto;
    padding-bottom: 20px; }
  .section_noticias .btn_fixed {
    display: block; }
  .section_actualidad .section-3 .box-destacado img {
    float: none;
    margin: 0px;
    margin-right: 0px;
    width: 100%;
    height: auto; }
  .section_actualidad .section-3 .box-destacado p {
    padding: 0 20px; }
  .shuffle-item {
    width: 100%; }
  .single_entrevista h1,
  .single_columna h1 {
    font-size: 37px; }
  .section_publicaciones .filter-options a {
    display: inline-block;
    width: 250px;
    height: 60px;
    vertical-align: middle;
    padding: 14px 10px 18px 75px;
    text-align: left;
    line-height: 130%;
    margin-bottom: 10px; }
  .section_publicaciones .filtros span.txt {
    display: block; }
  .section_publicaciones .filtros {
    text-align: center;
    position: relative;
    padding: 25px 0px; }
  .section_publicaciones .box-publicaciones {
    padding: 20px;
    background: #ffe7e2;
    margin-bottom: 30px;
    height: auto;
    text-align: center;
    position: relative; }
  .section_publicaciones .box-publicaciones .detalle {
    position: static;
    width: 100%;
    left: 0px;
    bottom: 30px;
    padding-top: 20px; }
  .section_publicaciones .box-publicaciones .descarga a {
    font-size: 15px; }
  .section_publicaciones .filter-options #btn_cuaderno {
    background: url(../img/icn_publicaciones.png) 15px 10px no-repeat;
    background-size: 36px; }
  .section_publicaciones .filter-options #btn_cuaderno:hover, .section_publicaciones .filter-options #btn_cuaderno.active {
    background: #333 url(../img/icn_publicaciones.png) 15px -29px no-repeat;
    background-size: 36px; }
  .section_publicaciones .filter-options #btn_estudios:hover, .section_publicaciones .filter-options #btn_estudios.active {
    background: #333 url(../img/icn_publicaciones.png) 15px -104px no-repeat;
    background-size: 36px; }
  .section_publicaciones .filter-options #btn_estudios {
    background: url(../img/icn_publicaciones.png) 15px -69px no-repeat;
    padding-top: 20px;
    background-size: 36px; }
  .section_publicaciones .filter-options #btn_informe {
    background: url(../img/icn_publicaciones.png) 15px -136px no-repeat;
    background-size: 36px;
    padding-top: 20px; }
  .section_publicaciones .filter-options #btn_informe:hover, .section_publicaciones .filter-options #btn_informe.active {
    background: #333 url(../img/icn_publicaciones.png) 15px -164px no-repeat;
    background-size: 36px; }
  .section_linea .linea-tiempos:before {
    display: none; }
  .section_contacto .section-7 .left {
    padding-bottom: 20px; }
  .section_agenda .sections-8 .item-evento .txt {
    height: auto; }
  .section_agenda .sections-8 .item-evento img {
    width: 100%;
    height: auto; }
  .section_nosotros .top {
    margin-top: 0px;
    z-index: 1;
    height: auto;
    position: relative;
    background: none;
    top: -54px;
    margin-bottom: -54px; }
  .section_nosotros .mision, .section_nosotros .vision {
    padding: 0px 30px 20px 30px; }
  .section_nosotros .mision h2,
  .section_nosotros .vision h2 {
    padding: 30px 0px 0px 0px; }
  .section_nosotros .mision p,
  .section_nosotros .vision p {
    padding: 0px 0px 0 0px; }
  .section_nosotros .row-equipo .col-md-4 {
    width: 100%;
    padding: 0 5px; }
  .section_nosotros .row-equipo .col-md-4 .item {
    height: auto; }
  .section_nosotros .row-equipo .col-md-4 .item img {
    width: 100%; }
  .carousel-inner img {
    width: 100%; }
  .seccion {
    padding: 0 15px 20px 15px; }
  .seccion h3 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 20px; }
  .section_nosotros .row-equipo hr {
    display: none; } 
    .section-11 .logo-patrocinador{
    display: none;
  }}

@media (max-width: 768px) {
  .single .principal {
    background: #fff;
    padding: 30px 20px;
    padding-bottom: 20px;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; }
  .single .principal blockquote {
    border: 0px;
    padding: 10px 0px 0 0;
    font-size: 20px; }
  .single .fuente {
    background: #fff;
    padding: 0px 20px 40px 20px; }
  .section-1 .row {
    background: none;
    padding-left: 0px;
    text-align: center;
    height: auto;
    padding-bottom: 210px; }
  .section-1 .txt {
    top: 32%; }
  .section_linea .principal, .section_linea .secundario {
    background: #fff;
    padding: 10px;
    padding-top: 20px; }
  .section_linea .principal h2 {
    margin-top: 0px; }
  .section_linea .principal p, .section_linea .principal li, .section_linea .secundario .col-md-4 {
    padding-bottom: 20px; }
  /*error*/
  .section_error {
    text-align: center;
    padding: 30px 0px;
    margin-top: 73px; }
  .section_error h1 {
    font-size: 20px;
    padding: 10px 0 20px 0px;
    line-height: 120%; }
  .section_error img {
    width: 50px; }
  .section_agenda .sections-8 .item-evento .txt {
    padding: 20px 20px 30px 20px;
    position: relative; }
  .section_agenda .sections-8 .item-evento .txt small,
  .section_agenda .sections-8 .item-evento .txt span,
  .section_agenda .sections-8 .item-evento .txt h3,
  .section_agenda .sections-8 .item-evento .txt p {
    font-size: 14px; }
  .section_agenda .sections-8 .item-evento .txt h3 {
    font-size: 16px; }
  .section_agenda .sections-8 .item-evento .txt .btn-primary {
    padding: 10px 30px;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 20px; }
  .section_contacto .row-cont {
    padding: 30px 20px; }
  .section_contacto .row-cont .left h2 {
    font-size: 16px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    margin: 0px; }
  .section_contacto .row-cont .left p {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100; }
  .section_contacto .row-cont .right {
    padding-top: 10px; }
  .section_contacto .row-cont .right .text {
    border: 0px;
    border-bottom: 1px solid #545454;
    width: 100%;
    height: 26px;
    font-size: 18px;
    background: none; }
  .section_contacto .row-cont .right .btn-default {
    color: #333333;
    background-color: #fff;
    border: 2px solid #333333;
    padding: 20px;
    font-size: 14px;
    text-transform: uppercase; }
  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 153px; }
  .section_contacto .row-cont .right #inputasunto {
    width: 330px;
    margin-top: 9px; }
  .section_contacto .row-cont .right a {
    padding: 10px 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400; }
  .section_actualidad .filter-options .col-xs-3 {
    width: 100%;
    margin-bottom: 10px; }
  .section_actualidad .filter-options {
    padding: 0 20px 0px 20px; } 
  .section-13 .logo-patrocinador{
    display: none;
  }
  .section-13{
    display: none;
    background: none;
  }
  .section-11 .logo-patrocinador{
    display: block;
  }
}

@media (max-width: 696px) {
  .section_publicaciones .filtros .bootstrap-select {
    width: 84px !important;
    margin: 0 5px; }
  .section_busqueda h1, .section_busqueda .box-section h2 {
    font-size: 16px; }
  .section-1 .row {
    padding-bottom: 114px; }
  .section-1 h1 {
    padding-top: 0px;
    font-size: 39px;
    width: 100%;
    padding: 30px;
    text-align: center; }
  .section_busqueda .box-section .item {
    padding: 20px; }
  .section_busqueda {
    margin-top: 40px; }
  .section_busqueda .item img {
    display: none; }
  .section_busqueda h1 {
    padding: 20px 0px 10px 0px; }
  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    /*width: 123px;*/
    width: 114px !important; }
  .section_nosotros .top img {
    margin: 0 -15px;
    max-width: 110%; } }

@media (max-width: 555px) {
  .section-1 .row {
    padding-bottom: 68px; }
  .section-1 h1 {
    padding-top: 0px;
    font-size: 25px;
    width: 100%;
    padding: 30px;
    text-align: center; }
  .section-2 .top img {
    width: 50px;
    margin: 20px 0px 20px 0px; }
  .section_busqueda {
    text-align: center;
    padding: 60px 0px; }
  .section_busqueda .box-buscador {
    margin-left: 0px;
    padding: 20px 0px;
    margin: 0 auto;
    display: block; }
  .section_busqueda .box-buscador .boxs {
    border: 2px solid #fff;
    width: 236px;
    position: relative;
    margin: 0 auto; }
  .section_busqueda .box-buscador .option label {
    font-size: 11px;
    padding-right: 5px; }
  .section_busqueda p {
    padding-bottom: 10px; }
  .section_busqueda .box-section .item h3 {
    font-size: 13px;
    letter-spacing: 2px; }
  .section_busqueda .box-section {
    padding-bottom: 20px; }
  .section_busqueda h1, .section_busqueda .box-section h2 {
    font-size: 16px;
    letter-spacing: 1px; }
  .nav-left a, .nav-right a {
    font-size: 11px;
    letter-spacing: 1px; }
  .section_contacto .row-cont {
    padding: 30px 0px; }
  .section_contacto .row-cont .right label {
    display: block;
    color: #fb7b61;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .section_contacto .row-cont .right #inputasunto {
    width: 150px;
    margin-top: 9px; }
  .section_contacto .row-cont .right textarea {
    border: 0px;
    border-bottom: 1px solid #545454;
    width: 100%;
    height: 55px;
    background: none; }
  .single_entrevista h1, .single_columna h1 {
    font-size: 26px;
    padding-bottom: 0px; }
  .single_columna .nombre .col-xs-5 {
    display: none; }
  .single_columna .nombre .col-xs-7 {
    width: 100%;
    padding: 0px; }
  .section_nosotros .top h1 {
    font-size: 23px;
    padding-top: 20px;
    margin-bottom: -10px; } }

@media (max-width: 400px) {
  .section {
    margin-top: 52px; }
  .menu-lateral #logo {
    width: 176px;
    background-size: 100%;
    height: 37px;
    margin: -16px 0 8px 25px; }
  .menu-lateral {
    height: 64px !important; }
  #menu-toggle {
    position: absolute;
    right: 10px;
    top: 15px; }
  .icon-bar {
    display: block;
    width: 38px;
    height: 4px;
    border-radius: 1px;
    background: #fff;
    margin-bottom: 8px; }
  .section-2 .top img {
    width: 50px;
    margin: 20px 0px 0px 0px; }
  .section-1 .row {
    padding-bottom: 28px; }
  .section-1 h1 {
    padding-top: 0px;
    font-size: 18px;
    width: 100%;
    padding: 30px;
    text-align: center; }
  .section-1 a {
    padding: 7px 13px;
    font-size: 10px;
    text-transform: uppercase; }
  /*error*/
  .section_error h1 {
    font-size: 16px;
    padding: 10px 0 20px 0px;
    line-height: 120%; }
  .section_error p {
    padding-bottom: 30px;
    font-size: 16px; }
  .section_publicaciones .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    /*width: 123px;*/
    width: 84px !important; }
  .section_publicaciones .btn-default {
    color: #fb7b61;
    background-color: #fff;
    border: 2px solid #fb7b61;
    padding: 8px 25px 8px 8px;
    font-size: 13px; }
  .section_publicaciones .simbologia span {
    padding-left: 10px;
    font-size: 12px; }
  .section_publicaciones .simbologia {
    text-align: center; }
  .section_publicaciones .simbologia img {
    width: 14px; }
  .section_nosotros .top {
    margin-top: 0px;
    z-index: 1;
    height: auto;
    position: relative;
    background: none;
    top: -64px;
    margin-bottom: -64px; } }

@media (max-height: 835px) {
  .menu-lateral ul li a {
    font-size: 15px; }
  .menu-lateral ul li {
    padding: 8px 0px; }
  .menu-lateral .box-suscribete p {
    font-size: 16px; }
  .menu-lateral .box-redes {
    padding: 10px 0px; } }

@media (max-height: 775px) {
  .menu-lateral .box-suscribete input.text, .menu-lateral .box-suscribete .agregar,
  .menu-lateral .box-buscador .btn-buscar, .menu-lateral .box-buscador .text-buscar {
    height: 41px; }
  .menu-lateral .box-suscribete .agregar, .menu-lateral .box-buscador .btn-buscar {
    font-size: 18px;
    padding-top: 9px; }
  .menu-lateral .box-buscador, .menu-lateral .box-suscribete {
    padding: 15px 0px; }
  .menu-lateral ul {
    padding-bottom: 15px; }
  .menu-lateral ul li a {
    font-size: 15px; }
  .menu-lateral ul li {
    padding: 6px 0px; }
  .menu-lateral .box-suscribete p {
    font-size: 16px; }
  .menu-lateral .box-redes {
    padding: 10px 0px; }
  .menu-lateral .box-buscador .option {
    top: 42px; } }

@media (max-height: 705px) {
  .menu-lateral #logo {
    margin-bottom: 20px; }
  .menu-lateral .box-suscribete input.text, .menu-lateral .box-suscribete .agregar,
  .menu-lateral .box-buscador .btn-buscar, .menu-lateral .box-buscador .text-buscar {
    height: 31px; }
  .menu-lateral .box-suscribete .agregar, .menu-lateral .box-buscador .btn-buscar {
    font-size: 14px;
    padding-top: 6px; }
  .menu-lateral .box-buscador, .menu-lateral .box-suscribete {
    padding: 15px 0px; }
  .menu-lateral ul {
    padding-bottom: 10px; }
  .menu-lateral ul li a {
    font-size: 13px; }
  .menu-lateral ul li {
    padding: 5px 0px; }
  .menu-lateral .box-suscribete p {
    font-size: 14px; }
  .menu-lateral .box-redes {
    padding: 10px 0px; }
  .menu-lateral .box-redes a {
    width: 30px;
    height: 30px;
    font-size: 16px; }
  .menu-lateral .box-buscador .option {
    top: 32px; } }

@media (min-width: 992px) {
  .carousel-control {
    display: none; }
  .carousel-inner > .item {
    display: inline-block;
    width: 237px;
    margin: 7px; }
  .section_nosotros .row-equipo hr {
    display: block; }
  #box-jefes-lineas hr {
    margin-top: 30px; }
  .seccion h3 {
    display: none; }
  .section_nosotros .row-equipo .seccion .item {
    overflow: hidden;
    position: relative; }
  .section_nosotros .inner {
    overflow: hidden;
    margin: 0 -15px; } }

@media (min-width: 1200px) {
  .carousel-inner > .item {
    display: inline-block;
    width: 273px; } }

@media (min-width: 1590px) {
  .carousel-inner > .item {
    display: inline-block;
    width: 357px; }
  .section_nosotros .row-equipo .seccion .info p {
    font-size: 18px; } }
