.box-suscribete .error {
    color: #ef4726;
    display: none;
}

div.section.single_columna.single.row div.col-md-12 div.text-center.top h1 span {
    color: #333;
    font-size: 28px;
    text-transform: uppercase;
}

.hupso_counters {
    display: none;
}
.section_nosotros .mision p, .section_nosotros .vision p {
    font-size: 17px;
    text-align: justify;
}
 .menu-lateral #logo {
    background: url(../img/logo-sitio.png) left top no-repeat;
 }
 .single_publicacion{
    background: #efefef none repeat scroll 0 0;
}
#btn_cuaderno, #btn_informe{
    padding-top: 28px;
}
.section_agenda .sections-8 .item-evento .txt h2 {
    color: #d4d4d4;
}

.logo-patrocinador{
    margin-top: 15px;
}
.error-publiaciones > p {
    font-size: 20px;
    margin-top: 19px;
    text-align: center;
}
.col-md-7.item-evento .a2a_button_facebook.a2a_counter {
    display: inline-flex;
    width: 84px;
}
.section_agenda .sections-8 .item-evento .txt .btn-primary {
    margin-bottom: 25px;
}
.section_actualidad .btn-primary {
    color: #fff;
    background: #fff none repeat scroll 0 0;
    border: 2px solid #fff;
    margin: 0 auto;
    padding: 15px 0;
    width: 200px;
    height: 1px;
    cursor: default;
}
.col-md-6.left.fuente-foto-noticia > p {
    font-size: 17px;
    font-style: italic;
}
.section-1 .icn_scroll {
    height: 10%;
}
.section-7 .mapa .btn_mapa.active {
    background: rgba(0, 0, 0, 0) url("../img/circulo-destacado.gif") no-repeat scroll right top / 20% auto;
}
.section-7 .mapa .btn_mapa {
    background: rgba(0, 0, 0, 0) url("../img/circulo-normal.gif") no-repeat scroll right top / 15% auto; 
}
.section-8 .item-evento .txt {
    height: 466px;
}
.section-8 .item-evento .txt a.ver_mas {
    bottom: 1px; 
}
.section_agenda .sections-8 .item-evento .txt {
    height: 480px;
}
.section-5 form .text {
    padding-left: 10px;
}
.section-13 .row {
    background: #272727 none repeat scroll 0 0;
    max-height: auto;
}
.logo-patrocinador {
    display: inline-block;
    text-align: center;
}
.section-13 .logo-patrocinador img{
    height: 90%
}
.section-11. .logo-patrocinador{
    display: none;
}
.section-13 .logo-patrocinador {
    margin: 15px 7px;
    width: 21%;
}
.section-13 .logo-patrocinador.mediano {
    width: 18%;
}
.section-13 .logo-patrocinador.mediano {
    width: 18%;
}
.section-13 .logo-patrocinador.corto {
    width: 10%;
}
.section-1 h1 {
    font-size: 45px;
    width: 710px;
}
.btn-descarga-descargable {
    color: #ef4726;
}
.section_publicaciones .box-publicaciones p {
    font-size: 16px;
}
.section_publicaciones h3 {
    font-size: 17px;
}
.single_columna .nombre p {
    text-transform: initial;
}